@charset "UTF-8";
.link_box > li a span {
  font-weight: bold;
}

@media screen and (max-width: 640px) {
  .link_box > li a span {
    font-weight: normal;
    -webkit-text-stroke: 0.4px;
  }
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Light.woff") format("woff"), url("/common/font/NotoSansJP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Regular.woff") format("woff"), url("/common/font/NotoSansJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Medium.woff") format("woff"), url("/common/font/NotoSansJP-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Bold.woff") format("woff"), url("/common/font/NotoSansJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Light.woff") format("woff"), url("/common/font/NotoSerifJP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Regular.woff") format("woff"), url("/common/font/NotoSerifJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Medium.woff") format("woff"), url("/common/font/NotoSerifJP-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Bold.woff") format("woff"), url("/common/font/NotoSerifJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* -----------------------------------------------------------------------------

よくあるご質問

----------------------------------------------------------------------------- */
.contents {
  padding-bottom: 105px;
}

@media screen and (max-width: 640px) {
  .contents {
    padding-bottom: 50px;
  }
}

.contents .sec_tit02 + .faq_box {
  margin-top: 50px;
}

@media screen and (max-width: 640px) {
  .contents .sec_tit02 + .faq_box {
    margin-top: 20px;
  }
}

.contents .faq_box + .sec_tit02 {
  margin-top: 80px;
}

@media screen and (max-width: 640px) {
  .contents .faq_box + .sec_tit02 {
    margin-top: 30px;
  }
}

.contents .faq_box + .faq_box {
  margin-top: 30px;
}

@media screen and (max-width: 640px) {
  .contents .faq_box + .faq_box {
    margin-top: 0px;
  }
}

.contents .sec_tit02.fashion span:after {
  content: 'Dress code';
}

.contents .sec_tit02.certificate span:after {
  content: 'Certificate';
}

.contents .sec_tit02.reservation span:after {
  content: 'Reservation · Cancellation policy';
}

.contents .sec_tit02.age span:after {
  content: 'Eligibility · Age';
}

.contents .sec_tit02.progress span:after {
  content: 'Progress · Form';
}

.contents .sec_tit02.meal span:after {
  content: 'Meal · Drink';
}

.contents .sec_tit02.discount span:after {
  content: 'Discount · Point service';
}

.contents .sec_tit02.payment span:after {
  content: 'Payment method';
}

.contents .sec_tit02.other span:after {
  content: 'Other';
}

.faq_box > dt {
  min-height: 68px;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.4;
  color: #360009;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 15px 20px 70px;
  background-color: #ede9e0;
  position: relative;
  background-image: url(../img/faq/icon_q.png), url(../img/faq/faq_deco.png);
  background-position: 15px center,
 right bottom;
  background-size: 36px 36px,
 153px 66px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 640px) {
  .faq_box > dt {
    padding: 10px 10px 10px 50px;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.75;
    background-position: 10px center,
 right bottom;
    background-size: 25px 25px,
 114px 49px;
  }
}

.faq_box > dt:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #fff;
  background-color: #c4ae7c;
}

.faq_box > dd {
  min-height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0px 20px 70px;
  background-image: url(../img/faq/icon_a.png);
  background-size: 48px 34px;
  background-position: 2px 15px;
  background-repeat: no-repeat;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
}

@media screen and (max-width: 640px) {
  .faq_box > dd {
    background-size: 35px 24px;
    font-size: 14px;
    font-size: 1.4rem;
    padding: 10px 0px 10px 50px;
  }
}

.link_box {
  max-width: 1200px;
  position: relative;
  text-align: left;
  font-size: 0;
  letter-spacing: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0 auto 60px;
  z-index: 0;
}

@media screen and (max-width: 640px) {
  .link_box {
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 30px;
  }
}

.link_box:before, .link_box:after {
  position: absolute;
  content: '';
  display: block;
  background-color: #fff;
  z-index: -1;
}

.link_box:after {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.link_box:before {
  border-radius: 30%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  top: 50%;
  bottom: 0px;
  left: 10px;
  right: 10px;
}

@media screen and (max-width: 640px) {
  .link_box:before {
    border-radius: 15%;
    bottom: 3px;
  }
}

.link_box > li {
  display: inline-block;
  max-width: 240px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid #dbcfc1;
  margin-top: 30px;
}

@media screen and (max-width: 640px) {
  .link_box > li {
    max-width: 100%;
    margin-top: 0;
    border-right: none;
    border-bottom: 1px solid #dbcfc1;
  }
}

.link_box > li:nth-child(5n + 1) {
  border-left: 1px solid #dbcfc1;
}

@media screen and (max-width: 640px) {
  .link_box > li:nth-child(5n + 1) {
    border-left: none;
  }
}

@media screen and (max-width: 640px) {
  .link_box > li:last-child {
    border-bottom: none;
  }
}

.link_box > li a {
  display: block;
  height: 40px;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .link_box > li a {
    text-align: left;
  }
}

.link_box > li a span {
  position: relative;
  font-size: 16px;
  font-size: 1.6rem;
  color: #a38664;
  display: inline-block;
  padding-bottom: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 640px) {
  .link_box > li a span {
    top: 10px;
    width: 100%;
    font-size: 14px;
    font-size: 1.4rem;
    padding-bottom: 0;
  }
}

.link_box > li a span:after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -7px;
  bottom: -10px;
  display: block;
  width: 14px;
  height: 10px;
  background-image: url(../img/faq/down_arrow.png);
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

@media screen and (max-width: 640px) {
  .link_box > li a span:after {
    left: auto;
    right: 5px;
    top: 50%;
    bottom: auto;
    margin-top: -7px;
    margin-left: 0;
  }
}

.no-touchevents .link_box > li a:hover span {
  opacity: 0.5;
}

.no-touchevents .link_box > li a:hover span:after {
  bottom: -5px;
}

/*# sourceMappingURL=maps/faq.css.map */
