@charset "UTF-8";
.formArea .rowWrap .element dt, .formArea .special_box .elementWrap > dt, .formArea .special_box .elementWrap > dt > span, .formArea .memo_box dt, .formArea .memo_box .tit, .formArea .price_box > .price, .step03 .formArea .link > .element .checkbox > label > span,
.step04 .formArea .link > .element .checkbox > label > span, #Cash .memo dt,
#Credit .memo dt,
#Cvs .memo dt, .step05 .info_box > .price, .step05 .info_box > .wrap dl.memo dt, .step05 .info_box .atn_box > dd > dl dt {
  font-weight: bold;
}

@media screen and (max-width: 640px) {
  .formArea .rowWrap .element dt, .formArea .special_box .elementWrap > dt, .formArea .special_box .elementWrap > dt > span, .formArea .memo_box dt, .formArea .memo_box .tit, .formArea .price_box > .price, .step03 .formArea .link > .element .checkbox > label > span,
  .step04 .formArea .link > .element .checkbox > label > span, #Cash .memo dt,
  #Credit .memo dt,
  #Cvs .memo dt, .step05 .info_box > .price, .step05 .info_box > .wrap dl.memo dt, .step05 .info_box .atn_box > dd > dl dt {
    font-weight: normal;
    -webkit-text-stroke: 0.4px;
  }
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Light.woff") format("woff"), url("/common/font/NotoSansJP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Regular.woff") format("woff"), url("/common/font/NotoSansJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Medium.woff") format("woff"), url("/common/font/NotoSansJP-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Bold.woff") format("woff"), url("/common/font/NotoSansJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Light.woff") format("woff"), url("/common/font/NotoSerifJP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Regular.woff") format("woff"), url("/common/font/NotoSerifJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Medium.woff") format("woff"), url("/common/font/NotoSerifJP-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Bold.woff") format("woff"), url("/common/font/NotoSerifJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* -----------------------------------------------------------------------------

パーティー予約

----------------------------------------------------------------------------- */
.contentsWrap .c01 {
  color: #a38664;
}

.contentsWrap .c02 {
  color: #7f0e2c;
}

.contentsWrap .txtlink {
  color: #a38664;
  text-decoration: underline;
}

.no-touchevents .contentsWrap .txtlink:hover {
  text-decoration: none;
}

.contentsWrap .mod_wrap01 {
  padding-top: 40px;
}

@media screen and (max-width: 640px) {
  .contentsWrap .mod_wrap01 {
    padding-top: 25px;
  }
}

.contentsWrap .mod_wrap04 {
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: 70px;
  border: 8px solid #f7f7f7;
}

@media screen and (max-width: 640px) {
  .contentsWrap .mod_wrap04 {
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 35px;
  }
}

.step01 .contentsWrap .mod_wrap04,
.step05 .contentsWrap .mod_wrap04 {
  border-top: none;
  padding-bottom: 60px;
}

@media screen and (max-width: 640px) {
  .step01 .contentsWrap .mod_wrap04,
  .step05 .contentsWrap .mod_wrap04 {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 640px) {
  .step02 .contentsWrap .mod_wrap04 {
    padding-top: 0;
  }
}

.step03 .contentsWrap .mod_wrap04 {
  margin-top: 40px;
  padding-bottom: 80px;
}

@media screen and (max-width: 640px) {
  .step03 .contentsWrap .mod_wrap04 {
    padding-bottom: 40px;
    margin-top: 0px;
    margin-bottom: 0;
  }
}

.flow_box {
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 640px) {
  .flow_box {
    margin-bottom: 20px;
  }
}

.step_txt {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'noto_sans';
  font-weight: 700;
  color: #7f0e2c;
  margin-bottom: 15px;
}

@media screen and (max-width: 640px) {
  .step_txt {
    font-size: 15px;
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}

.status_box {
  background-color: #f7f4ed;
  background-image: url(../img/reservation/deco01.png);
  background-size: 228px 122px;
  background-position: right bottom;
  background-repeat: no-repeat;
  padding: 20px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ede9dd;
  text-align: left;
}

@media screen and (max-width: 640px) {
  .status_box {
    padding: 10px;
    background-size: 114px 61px;
  }
}

.status_box .date_box {
  margin-bottom: 10px;
}

@media screen and (max-width: 640px) {
  .status_box .date_box {
    margin-bottom: 0;
  }
}

.status_box .date_box > span {
  display: inline-block;
}

.status_box .date_box .date {
  font-family: 'noto_sans';
  font-weight: 700;
  font-size: 18px;
  font-size: 1.8rem;
  margin-right: 2em;
  line-height: 1.75;
}

@media screen and (max-width: 640px) {
  .status_box .date_box .date {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.status_box .date_box .place {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.75;
}

@media screen and (max-width: 640px) {
  .status_box .date_box .place {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.status_box > p {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.75;
  color: #a28661;
}

@media screen and (max-width: 640px) {
  .status_box > p {
    font-family: 'noto_sans';
    font-weight: 400;
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.status_box .status01, .status_box .status02 {
  font-family: 'noto_sans';
  font-weight: 700;
}

@media screen and (max-width: 640px) {
  .status_box .status01, .status_box .status02 {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.status_box .status03 {
  font-family: 'noto_sans';
  font-weight: 400;
}

.tabMenu {
  padding: 0 100px;
  margin-top: 40px;
  position: relative;
}

@media screen and (max-width: 640px) {
  .tabMenu {
    margin-top: 20px;
    padding: 0;
    letter-spacing: 0;
    font-size: 0;
  }
}

.tabMenu:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  display: block;
  height: 10px;
  background-color: #7f0e2c;
}

@media screen and (max-width: 640px) {
  .tabMenu:after {
    height: 5px;
  }
}

.tabMenu li {
  position: relative;
  display: inline-block;
  width: 325px;
  height: 66px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #d8d8d8;
  border-radius: 3px 0 0 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 640px) {
  .tabMenu li {
    width: 133px;
    height: 38px;
  }
}

.no-touchevents .tabMenu li:hover {
  background-color: #a28661;
}

.tabMenu li:after {
  position: absolute;
  top: -1px;
  right: -1px;
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 57px 58px 0;
  border-color: transparent #fff transparent transparent;
}

@media screen and (max-width: 640px) {
  .tabMenu li:after {
    top: 0;
    right: 0;
    border-width: 0 24px 37px 0;
  }
}

.tabMenu li.current {
  background-color: #7f0e2c;
}

.no-touchevents .tabMenu li.current:hover {
  background-color: #7f0e2c;
}

.tabMenu li span {
  color: #fff;
  font-size: 20px;
  font-size: 2rem;
  font-family: 'noto_sans';
  font-weight: 700;
  margin-left: 60px;
}

@media screen and (max-width: 640px) {
  .tabMenu li span {
    display: inline-block;
    font-size: 12px;
    font-size: 1.2rem;
    margin-top: 3px;
    margin-left: 24px;
    line-height: 1.2;
  }
}

.tabMenu li span:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.tabArea {
  /*&#Firsttime {
		display: none;
	}*/
}

.tabArea#Member {
  display: none;
}

.formArea .rowWrap {
  border-bottom: 1px solid #e0e0e0;
  padding: 14px 0 14px 20px;
}

@media screen and (max-width: 640px) {
  .formArea .rowWrap {
    padding: 10px;
  }
}

.formArea .rowWrap .element dt, .formArea .rowWrap .element dd {
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 640px) {
  .formArea .rowWrap .element dt, .formArea .rowWrap .element dd {
    display: block;
  }
}

.formArea .rowWrap .element dt {
  font-size: 16px;
  font-size: 1.6rem;
  padding-right: 20px;
}

@media screen and (max-width: 640px) {
  .formArea .rowWrap .element dt {
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: 5px;
  }
}

.formArea .rowWrap .element dt > span {
  display: inline-block;
  min-width: 180px;
  position: relative;
  top: 10px;
}

@media screen and (max-width: 640px) {
  .formArea .rowWrap .element dt > span {
    min-width: 0;
    top: 0;
  }
}

.formArea .rowWrap .element dt > span:after {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 640px) {
  .formArea .rowWrap .element dt > span:after {
    position: relative;
    top: -1px;
    display: inline-block;
    font-size: 9px;
    font-size: 0.9rem;
    margin-right: 15px;
  }
}

.formArea .rowWrap .element dd {
  padding-left: 20px;
  width: calc(100% - 230px);
}

@media screen and (max-width: 640px) {
  .formArea .rowWrap .element dd {
    font-size: 14px;
    font-size: 1.4rem;
    padding-left: 0;
    width: 100%;
  }
}

.step03 .formArea .rowWrap .element dt {
  vertical-align: middle;
}

.step03 .formArea .rowWrap .element dt > span {
  top: 0;
}

.step03 .formArea .rowWrap .element dd {
  vertical-align: middle;
}

.formArea .prepend {
  font-size: 14px;
  font-size: 1.4rem;
  padding-right: 15px;
  top: -14px;
}

@media screen and (min-width: 641px) {
  .os-mac.safari .formArea .prepend {
    top: 0;
  }
}

@media screen and (max-width: 640px) {
  .formArea .prepend {
    font-size: 13px;
    font-size: 1.3rem;
    top: auto;
  }
}

.formArea .append {
  font-size: 14px;
  font-size: 1.4rem;
  padding-left: 15px;
  top: -14px;
}

@media screen and (min-width: 641px) {
  .os-mac.safari .formArea .append {
    top: 0;
  }
}

@media screen and (max-width: 640px) {
  .formArea .append {
    font-size: 13px;
    font-size: 1.3rem;
    top: auto;
  }
}

@media screen and (max-width: 640px) {
  .step03 .formArea .append {
    padding-left: 0.5em;
  }
}

.step03 .formArea .append + span {
  margin-left: 30px;
}

@media screen and (max-width: 640px) {
  .step03 .formArea .append + span {
    margin-left: 1em;
  }
}

.formArea .itemWrap {
  display: inline-block;
}

@media screen and (max-width: 640px) {
  .formArea .itemWrap {
    width: 100%;
  }
}

.formArea .itemWrap + .itemWrap {
  margin-left: 10px;
}

.formArea .itemWrap.month_wrap, .formArea .itemWrap.day_wrap {
  margin-left: 25px;
}

.formArea .itemWrap.age_wrap {
  margin-left: 60px;
}

.step02 .formArea .itemWrap.age_wrap {
  margin-left: 0;
}

.formArea .itemWrap textarea {
  width: 575px;
  height: 150px;
}

.formArea .itemWrap .checkbox > label > span {
  font-size: 14px;
  font-size: 1.4rem;
  margin-left: 5px;
}

.formArea .itemWrap .radio input[type="radio"][disabled="disabled"] ~ label:before, .formArea .itemWrap .radio input[type="radio"][disabled="disabled"] ~ label:after {
  content: none;
}

.formArea .itemWrap .radio input[type="radio"][disabled="disabled"] ~ label > span {
  padding-left: 0;
}

.formArea .selectWrap .prepend,
.formArea .selectWrap .append {
  position: relative;
}

.step03 .formArea .selectWrap .prepend,
.step03 .formArea .selectWrap .append {
  position: static;
}

.formArea .info {
  display: block;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 0;
  margin-top: 10px;
}

@media screen and (max-width: 640px) {
  .formArea .info {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.75;
  }
}

.formArea .info a {
  color: #a48660;
  text-decoration: underline;
}

.no-touchevents .formArea .info a:hover {
  text-decoration: none;
}

.formArea .memo {
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 0;
  margin-top: 10px;
}

@media screen and (max-width: 640px) {
  .formArea .memo {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.formArea .w01 input[type="text"],
.formArea .w01 input[type="tel"],
.formArea .w01 input[type="email"] {
  width: 225px;
}

@media screen and (max-width: 640px) {
  .formArea .w01 {
    width: 47%;
  }
  .formArea .w01 input[type="text"],
  .formArea .w01 input[type="tel"],
  .formArea .w01 input[type="email"] {
    width: 100%;
  }
}

.formArea .w02 input[type="text"],
.formArea .w02 input[type="tel"],
.formArea .w02 input[type="email"] {
  width: 470px;
}

.formArea .w03 input[type="text"],
.formArea .w03 input[type="tel"],
.formArea .w03 input[type="email"] {
  width: 586px;
}

@media screen and (max-width: 640px) {
  .formArea .w03 input[type="text"],
  .formArea .w03 input[type="tel"],
  .formArea .w03 input[type="email"] {
    width: 100%;
  }
}

.formArea .w04 input[type="text"],
.formArea .w04 input[type="tel"],
.formArea .w04 input[type="email"] {
  width: 115px;
}

.formArea .w05 input[type="text"],
.formArea .w05 input[type="tel"],
.formArea .w05 input[type="email"] {
  width: 60px;
}

.formArea .w06 input[type="text"],
.formArea .w06 input[type="tel"],
.formArea .w06 input[type="email"],
.formArea .w06 .select {
  max-width: 185px;
  width: 100%;
  overflow: hidden;
}

.formArea .w06 > select {
  width: 150%;
}

@media screen and (max-width: 640px) {
  .formArea .spW01 {
    width: 100%;
  }
  .formArea .spW01 input[type="text"],
  .formArea .spW01 input[type="tel"],
  .formArea .spW01 input[type="email"],
  .formArea .spW01 textarea {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .formArea .spW02 {
    width: 30%;
    margin-left: 0 !important;
  }
  .formArea .spW02 input[type="text"],
  .formArea .spW02 input[type="tel"],
  .formArea .spW02 input[type="email"] {
    width: 60%;
  }
}

@media screen and (max-width: 640px) {
  .formArea .spW03 {
    display: block;
    width: 61.5%;
    margin-left: 0 !important;
    margin-bottom: 10px;
  }
  .formArea .spW03 input[type="text"],
  .formArea .spW03 input[type="tel"],
  .formArea .spW03 input[type="email"] {
    width: 80%;
  }
}

.formArea .special_box {
  /*.step01 &,.step02 & {
			display: none;
		}*/
  background-color: #f7f4ed;
  margin: 20px 0;
}

.formArea .special_box + .rowWrap {
  border-top: 1px solid #e0e0e0;
}

.formArea .special_box .rowWrap .element dt > span:after {
  content: none;
}

.formArea .special_box .elementWrap {
  /*dt,dd {
				display: block;
				padding: 14px 20px;
			}*/
}

.formArea .special_box .elementWrap > dt {
  display: block;
  padding: 14px 20px;
  background-color: #aa9a83;
  font-size: 14px;
  font-size: 1.4rem;
  padding-right: 20px;
  color: #fff;
}

@media screen and (max-width: 640px) {
  .formArea .special_box .elementWrap > dt {
    padding-right: 0;
    padding: 10px 15px;
    font-size: 12px;
    font-size: 1.2rem;
  }
}

.formArea .special_box .elementWrap > dt > span {
  font-size: 16px;
  font-size: 1.6rem;
  display: inline-block;
  min-width: 180px;
  margin-right: 40px;
  position: relative;
}

@media screen and (max-width: 640px) {
  .formArea .special_box .elementWrap > dt > span {
    position: static;
    min-width: 0;
    margin-right: 10px;
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.formArea .special_box .elementWrap > dt > span:after {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 640px) {
  .formArea .special_box .elementWrap > dt > span:after {
    font-size: 9px;
    font-size: 0.9rem;
    position: static;
  }
}

.formArea .special_box .elementWrap > dd {
  padding: 14px 0 0;
}

.formArea .special_box .memo {
  font-size: 14px;
  font-size: 1.4rem;
}

@media screen and (max-width: 640px) {
  .formArea .special_box .memo {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.formArea .option_box {
  padding: 20px 0;
  margin-top: 50px;
  border: 2px solid #e0e0e0;
}

.formArea .option_box .rowWrap {
  border-bottom: none !important;
  padding: 0;
  text-align: center;
}

.formArea .option_box .element {
  text-align: center;
}

.formArea .option_box .element > dt {
  padding: 0;
  position: relative;
  padding-right: 0;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.75;
  color: #7f0e2c;
}

@media screen and (max-width: 640px) {
  .formArea .option_box .element > dt {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.formArea .option_box .element > dt:before {
  content: '必須';
  background-color: #7f0e2c;
  display: inline-block;
  padding: 1px 6px 2px;
  margin-right: 10px;
  color: #FFF;
  font-size: 1.2rem;
  vertical-align: middle;
  /*@media (max-width:640px) {
						float: none;
						margin-left: 6px;
					}*/
}

@media screen and (max-width: 640px) {
  .formArea .option_box .element > dt:before {
    font-size: 9px;
    font-size: 0.9rem;
    position: relative;
    top: -1px;
    margin-right: 15px;
  }
}

.formArea .option_box .element > dd {
  width: 100%;
  padding-left: 0;
  padding: 20px 0;
}

.formArea .option_box .radio > label:before {
  width: 18px;
  height: 18px;
  margin-top: -11px;
}

.formArea .option_box .radio > label:after {
  width: 12px;
  height: 12px;
  bottom: 2px;
  left: 4px;
}

.formArea .option_box .radio > label > span {
  padding-left: 30px;
  font-size: 17px;
  font-size: 1.7rem;
}

@media screen and (max-width: 640px) {
  .formArea .option_box .radio > label > span {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.formArea .option_box .memo {
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 0;
  line-height: 1.75;
  margin-top: 0;
}

@media screen and (max-width: 640px) {
  .formArea .option_box .memo {
    padding: 0 10px;
    font-size: 12px;
    font-size: 1.2rem;
    text-align: left;
  }
}

.formArea .friend_box {
  margin-top: 30px;
}

.formArea .friend_box .step_txt + .rowWrap {
  border-top: 1px solid #e0e0e0;
}

.formArea .memo_box dt, .formArea .memo_box dd, .formArea .memo_box p {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.46;
  letter-spacing: 0.04em;
}

@media screen and (max-width: 640px) {
  .formArea .memo_box dt, .formArea .memo_box dd, .formArea .memo_box p {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.formArea .memo_box dd + dt {
  margin-top: 1em;
}

.formArea .memo_box .tit {
  margin-bottom: 1em;
}

.formArea .memo_box .disc:before {
  position: relative;
  top: 1px;
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #3d3935;
  margin-right: 5px;
}

.formArea .price_box {
  text-align: center;
  margin-top: 30px;
}

.step04 .formArea .price_box {
  margin-bottom: 40px;
}

@media screen and (max-width: 640px) {
  .step04 .formArea .price_box {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.formArea .price_box > .price {
  display: inline-block;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 24px;
  font-size: 2.4rem;
  color: #7f0e2c;
  background-color: rgba(237, 233, 220, 0.5);
  border: 1px solid #ede9dc;
}

@media screen and (max-width: 640px) {
  .formArea .price_box > .price {
    font-size: 16px;
    font-size: 1.6rem;
    padding: 15px 0;
  }
}

.step04 .formArea .price_box > .price {
  max-width: 100%;
  font-size: 20px;
  font-size: 2rem;
}

@media screen and (max-width: 640px) {
  .step04 .formArea .price_box > .price {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.formArea .price_box > .memo {
  display: block;
  max-width: 800px;
  width: 100%;
  margin: 20px auto 0;
  text-align: left;
}

.formArea .price_box > .memo li {
  font-size: 14px;
  font-size: 1.4rem;
}

@media screen and (max-width: 640px) {
  .formArea .price_box > .memo li {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.formArea .price_box > .memo .atn {
  font-size: 16px;
  font-size: 1.6rem;
  color: #7f0e2c;
}

@media screen and (max-width: 640px) {
  .formArea .price_box > .memo .atn {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.step04 .formArea .price_box > .memo {
  max-width: 100%;
  text-align: center;
  margin: 10px auto 0;
  font-size: 14px;
  font-size: 1.4rem;
}

@media screen and (max-width: 640px) {
  .step04 .formArea .price_box > .memo {
    text-align: left;
    font-size: 12px;
    font-size: 1.2rem;
  }
}

.formArea .link {
  margin-top: 40px;
  text-align: center;
}

.step03 .formArea .link,
.step04 .formArea .link {
  margin-top: 20px;
  position: relative;
}

.step03 .formArea .link > .element,
.step04 .formArea .link > .element {
  text-align: left;
  border: 1px solid rgba(114, 109, 104, 0.2);
  max-width: 800px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px auto 40px;
  padding: 15px 20px;
  left: 0;
}

@media screen and (max-width: 640px) {
  .step03 .formArea .link > .element .checkbox,
  .step04 .formArea .link > .element .checkbox {
    width: 100%;
    text-align: center;
  }
}

.step03 .formArea .link > .element .checkbox > label,
.step04 .formArea .link > .element .checkbox > label {
  padding: 0;
}

.step03 .formArea .link > .element .checkbox > label > span,
.step04 .formArea .link > .element .checkbox > label > span {
  font-size: 16px;
  font-size: 1.6rem;
}

@media screen and (max-width: 640px) {
  .step03 .formArea .link > .element .checkbox > label > span,
  .step04 .formArea .link > .element .checkbox > label > span {
    font-size: 13px;
    font-size: 1.3rem;
    text-align: left;
    padding-left: 30px;
  }
}

.step03 .formArea .link .wrap label,
.step04 .formArea .link .wrap label {
  display: inline-block;
}

@media screen and (max-width: 640px) {
  .step03 .formArea .link .wrap label,
  .step04 .formArea .link .wrap label {
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .formArea .link .back {
    margin-top: 10px;
    height: 50px;
  }
}

.formArea .link .Confirm {
  margin: 0 auto;
}

.formArea .link .memo {
  margin-top: 20px;
  font-size: 14px;
  font-size: 1.4rem;
}

@media screen and (max-width: 640px) {
  .formArea .link .memo {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.step03 .formArea .link .memo {
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  margin-top: 0;
}

/* step03 */
/* step04 */
#Cash,
#Credit,
#Cvs {
  display: none;
}

#Cash .mod_btn07,
#Credit .mod_btn07,
#Cvs .mod_btn07 {
  width: 290px;
}

#Cash .mod_btn07.tp02,
#Credit .mod_btn07.tp02,
#Cvs .mod_btn07.tp02 {
  width: 170px;
}

@media screen and (max-width: 640px) {
  #Cash .mod_btn07.tp02,
  #Credit .mod_btn07.tp02,
  #Cvs .mod_btn07.tp02 {
    max-width: 290px;
    width: 290px;
  }
}

#Cash .memo,
#Credit .memo,
#Cvs .memo {
  font-size: 14px;
  font-size: 1.4rem;
}

@media screen and (max-width: 640px) {
  #Cash .memo dd,
  #Credit .memo dd,
  #Cvs .memo dd {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

#Cash > .memo,
#Credit > .memo,
#Cvs > .memo {
  padding-left: 20px;
}

@media screen and (max-width: 640px) {
  #Cash > .memo,
  #Credit > .memo,
  #Cvs > .memo {
    padding-left: 0;
  }
}

#Cash .link,
#Credit .link,
#Cvs .link {
  margin-top: 40px;
}

@media screen and (max-width: 640px) {
  #Credit .itemWrap {
    text-align: center;
  }
  #Credit .itemWrap > img {
    height: 47px;
    width: auto;
  }
}

@media screen and (max-width: 640px) {
  #Credit .cardface {
    margin-top: 10px;
    text-align: center;
  }
  #Credit .cardface img {
    height: 43px;
    width: auto;
  }
}

#Cvs .info li {
  line-height: 1;
  margin-bottom: 5px;
}

#Cvs .info li img {
  float: left;
}

@media screen and (max-width: 640px) {
  #Cvs .info li img {
    height: 16px;
    width: auto;
  }
}

#Cvs .info li:after {
  content: '';
  display: block;
  clear: both;
}

#Cvs .info li span {
  font-size: 13px;
  font-size: 1.3rem;
  margin-left: 10px;
}

@media screen and (max-width: 640px) {
  #Cvs .info li span {
    display: block;
    padding-left: 90px;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

#Cvs .info li span:before {
  display: inline-block;
  content: '･･･';
  margin-right: 10px;
}

@media screen and (max-width: 640px) {
  #Cvs .info li span:before {
    margin-right: 7px;
    margin-left: -23px;
    font-size: 10px;
    font-size: 1rem;
    letter-spacing: 0;
  }
}

/* step05 */
.step05 .sec_tit {
  height: 50px;
  padding: 5px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 22px;
  font-size: 2.2rem;
  font-family: 'noto_sans';
  font-weight: 700;
  letter-spacing: 0.04em;
}

@media screen and (max-width: 640px) {
  .step05 .sec_tit {
    height: 38px;
    font-size: 15px;
    font-size: 1.5rem;
  }
}

.step05 .info_box {
  text-align: center;
  margin-top: 30px;
}

@media screen and (max-width: 640px) {
  .step05 .info_box {
    margin-top: 0px;
  }
}

.step05 .info_box > .price {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 20px;
  font-size: 2rem;
  color: #7f0e2c;
  background-color: rgba(237, 233, 220, 0.5);
  border: 1px solid #ede9dc;
}

@media screen and (max-width: 640px) {
  .step05 .info_box > .price {
    font-size: 16px;
    font-size: 1.6rem;
    padding: 10px 0;
  }
}

.step05 .info_box > .wrap {
  padding: 15px 0;
  max-width: 840px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.step05 .info_box > .wrap p {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 2;
  margin-bottom: 1.5em;
  letter-spacing: 0.04em;
}

@media screen and (max-width: 640px) {
  .step05 .info_box > .wrap p {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.75;
  }
}

.step05 .info_box > .wrap p.icon {
  display: block;
  text-align: center;
}

.step05 .info_box > .wrap dl.memo dt {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 2;
}

@media screen and (max-width: 640px) {
  .step05 .info_box > .wrap dl.memo dt {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.75;
  }
}

.step05 .info_box > .wrap dl.memo dd {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 2;
}

@media screen and (max-width: 640px) {
  .step05 .info_box > .wrap dl.memo dd {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.75;
  }
}

.step05 .info_box .atn_box > dt {
  color: #7f0e2c;
  font-size: 22px;
  font-size: 2.2rem;
  font-family: 'noto_sans';
  font-weight: 700;
  padding: 10px 0;
}

@media screen and (max-width: 640px) {
  .step05 .info_box .atn_box > dt {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.step05 .info_box .atn_box > dt span {
  display: block;
  max-width: 840px;
  width: 100%;
  text-align: left;
  margin: 0 auto;
}

.step05 .info_box .atn_box > dd {
  padding: 20px 0;
  border-top: 1px solid #e0e0e0;
}

.step05 .info_box .atn_box > dd:last-child {
  border-bottom: 1px solid #e0e0e0;
}

.step05 .info_box .atn_box > dd > dl {
  max-width: 840px;
  width: 100%;
  margin: 0 auto;
}

.step05 .info_box .atn_box > dd > dl dt, .step05 .info_box .atn_box > dd > dl dd {
  text-align: left;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 2;
  letter-spacing: 0;
  padding-left: 30px;
}

@media screen and (max-width: 640px) {
  .step05 .info_box .atn_box > dd > dl dt, .step05 .info_box .atn_box > dd > dl dd {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.75;
  }
}

.step05 .info_box .atn_box > dd > dl dt {
  position: relative;
}

.step05 .info_box .atn_box > dd > dl dt.deco01:before {
  position: absolute;
  left: 0;
  top: 8px;
  content: '';
  display: block;
  width: 24px;
  height: 18px;
  background-image: url(/common/img/deco_arrow.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 640px) {
  .step05 .info_box .atn_box > dd > dl dt.deco01:before {
    top: 2px;
  }
}

/* フォームパート */
/* リセットCSS */
[disabled] {
  cursor: default;
}

textarea {
  overflow: auto;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* 単一行テキスト */
.ui-datepicker {
  width: auto;
}

.formArea {
  /*	input[type="file"] {
		.no-touchevents &:hover {
			-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
			box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
		}
	}*/
  /* その他 
	.otherwrap {
		display: block;
		margin-top: 13px;
		input {
			&[type="text"],
			&[type="tel"],
			&[type="email"] {
				margin-left: 5px;
				vertical-align: middle;
			}
		}
	}
	.otherwrap02 {
		margin-top: 10px;
		display: block;
		.otherwrap {
			margin-top: 0;
		}
	}
	*/
  /* アップロード 
	.uploadareaWrap {
		[type="file"] {
			cursor: pointer;
		}
		.uploadareaBlock {
			font-size: 1.4rem;
			&.disable {
				display: none;
			}
			.close {
				cursor: pointer;
				display: inline-block;
				vertical-align: middle;
				border-radius: 50%;
				background-color: #000;
				width: 15px;
				height: 15px;
				position: relative;
				&:hover {
					opacity: .5;
					transform: translateY(2px);
				}
				&.disable {
					display: none;
				}
				&:before,
				&:after {
					content: '';
					width: 9px;
					height: 2px;
					display: block;
					position: absolute;
					margin: auto;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					background-color: #fff;
				}
				&:before {
					transform: rotate(45deg);
				}
				&:after {
					transform: rotate(-45deg);
				}
			}
		}
	}
	.uploadView {
		width: 32%;
		padding-top: 30%;
		-webkit-background-size: contain;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		display: inline-block;
		vertical-align: top;
		background-color: #FFF;
		box-sizing: border-box;
		border: 5px solid #F4C8A6;
		border-radius: 3px;
		+ .uploadView {
			margin-left: 1%;
		}
		.no-touchevents & {
			transition: .3s ease;
			&:hover {
				opacity: .6;
			}
		}
		&[data-file-extension] {
			position: relative;
			&:after {
				content: attr(data-file-extension);
				display: inline-block;
				position: absolute;
				top: 50%;
				bottom: 50%;
				right: 0;
				left: 0;
				margin: auto;
				text-align: center;
				vertical-align: middle;
				font-size: 2.5rem;
				font-weight: bolder;
				color: #9F9F9F;
				letter-spacing: 2px;
				transform: translateY(-15px);
			}
		}
	}
	.uploadnote01 {
		color: #DF4547;
	}
	*/
  /* 必須項目 */
  /* エラー表示 */
  /* 確認画面の入力結果箇所 */
  /* 確認画面ボタン */
  /* 戻るボタン */
  /* 送信ボタン */
  /* 分岐表示 
	[data-view_term] {
		display: none!important;
	}
	[data-view_term-ok] {
		display: table!important;
		@media (max-width:640px) {
			display: block!important;
		}
	}
	*/
  /* 分岐表示（除外） 
	[data-view_term_without] {
		display: table !important;
	}
	
	[data-view_term_without-ok] {
		display: none !important;
		@media print,screen and (max-width:640px) {
			display: none !important;
		}
	}*/
}

.formArea input[type="text"],
.formArea input[type="tel"],
.formArea input[type="email"] {
  font-size: 1.4rem;
  border: 1px solid #dbdbdb;
  border-radius: 0;
  padding: 8px 13px;
  color: #3d3935;
  background-color: #fbfbfb;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 6px transparent;
  box-shadow: 0px 0px 6px transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 126px;
}

@media (max-width: 640px) {
  .formArea input[type="text"],
  .formArea input[type="tel"],
  .formArea input[type="email"] {
    border-radius: 0;
    width: 100%;
    padding: 6px 13px;
    font-size: 1.6rem;
  }
}

.formArea input[type="text"]:focus,
.formArea input[type="tel"]:focus,
.formArea input[type="email"]:focus {
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.formArea input[type="text"][data-input-disabled],
.formArea input[type="tel"][data-input-disabled],
.formArea input[type="email"][data-input-disabled] {
  opacity: .5;
  cursor: default;
}

.formArea input[type="text"][data-need-ok],
.formArea input[type="tel"][data-need-ok],
.formArea input[type="email"][data-need-ok] {
  background-color: #FFFFFF;
}

.formArea textarea {
  border-radius: 0;
  font-size: 1.4rem;
  border: 1px solid #dbdbdb;
  background-color: #fbfbfb;
  padding: 7px 13px;
  color: #656563;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 6px transparent;
  box-shadow: 0px 0px 6px transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 640px) {
  .formArea textarea {
    border-radius: 0;
    font-size: 1.6rem;
  }
}

.formArea textarea:focus {
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.formArea textarea[data-input-disabled] {
  opacity: .5;
  cursor: default;
}

.formArea textarea[disabled] {
  background-color: #9F9F9F !important;
}

.formArea textarea[data-need-ok] {
  background-color: #FFFFFF;
}

.formArea .radio {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

@media (max-width: 850px) {
  .formArea .radio {
    display: inline-block;
    margin-right: 0;
  }
}

.formArea .radio[data-input-disabled] {
  opacity: .5;
  cursor: default;
}

.formArea .radio[data-input-checked] {
  position: relative;
}

.formArea .radio[data-input-checked]:after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-color: transparent;
}

.formArea .radio[data-subtxt01]:after {
  content: attr(data-subtxt01);
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 5px;
  color: #D71F22;
  vertical-align: middle;
}

.formArea .radio > input[type] {
  width: 0;
  height: 0;
  opacity: 0;
}

html.no-csstransitions .formArea .radio > input[type] {
  display: inline-block;
  vertical-align: middle;
}

.formArea .radio > input[type]:checked ~ label:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.formArea .radio > input[data-need-ok] + label:before {
  background-color: #FFFFFF;
}

.formArea .radio > label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 10px 0;
  vertical-align: middle;
}

@media screen and (max-width: 640px) {
  .formArea .radio > label {
    padding: 5px 0;
  }
}

.formArea .radio > label:before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #D0D0D0;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -11px;
  color: #656563;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 6px transparent;
  box-shadow: 0px 0px 6px transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.formArea .radio > label:after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  bottom: 2px;
  left: 4px;
  margin: auto;
  background-color: #000;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 50%;
}

.formArea .radio > label > span {
  font-size: 1.5rem;
  display: inline-block;
  padding-left: 30px;
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
}

@media screen and (max-width: 640px) {
  .formArea .radio > label > span {
    font-size: 13px;
    font-size: 1.3rem;
    padding-left: 25px;
  }
}

.no-touchevents .formArea .radio > label:hover:before {
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.formArea .checkbox {
  display: inline-block;
  margin-right: 0;
  vertical-align: middle;
}

@media (max-width: 850px) {
  .formArea .checkbox {
    display: inline-block;
    margin-right: 0;
    width: calc(100% / 7);
  }
}

.formArea .checkbox[data-input-disabled] {
  opacity: .5;
  cursor: default;
}

.formArea .checkbox[data-input-checked] {
  position: relative;
}

.formArea .checkbox[data-input-checked]:after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-color: transparent;
}

.formArea .checkbox[data-subtxt01]:after {
  content: attr(data-subtxt01);
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 5px;
  color: #D71F22;
  vertical-align: middle;
}

.formArea .checkbox > input[type] {
  width: 0;
  height: 0;
  opacity: 0;
}

html.no-csstransitions .formArea .checkbox > input[type] {
  display: inline-block;
  vertical-align: middle;
}

.formArea .checkbox > input[type]:checked ~ label:after {
  opacity: 1;
  -webkit-transform: rotate(-37deg) scale(1);
  -ms-transform: rotate(-37deg) scale(1);
  transform: rotate(-37deg) scale(1);
}

.formArea .checkbox > input[data-need-ok] + label:before {
  background-color: #FFFFFF;
}

.formArea .checkbox > label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 10px 0;
  vertical-align: middle;
}

@media screen and (max-width: 640px) {
  .formArea .checkbox > label {
    text-align: center;
  }
}

.formArea .checkbox > label:before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #D0D0D0;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -10px;
  color: #656563;
  -webkit-box-shadow: 0px 0px 6px transparent;
  box-shadow: 0px 0px 6px transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.formArea .checkbox > label:after {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  height: 3px;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  top: 0;
  bottom: 0px;
  left: 4px;
  margin: auto;
  opacity: 0;
  -webkit-transform: rotate(-37deg) scale(1.4);
      -ms-transform: rotate(-37deg) scale(1.4);
          transform: rotate(-37deg) scale(1.4);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.formArea .checkbox > label > span {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'noto_sans';
  font-weight: 400;
  letter-spacing: 0.04em;
  display: inline-block;
  padding-left: 24px;
  margin-right: 10px;
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
}

@media screen and (max-width: 640px) {
  .formArea .checkbox > label > span {
    font-size: 14px;
    font-size: 1.4rem;
    margin-right: 8px;
  }
}

.no-touchevents .formArea .checkbox > label:hover:before {
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.formArea .select {
  color: #3d3935;
  display: inline-block;
  background-color: #fbfbfb;
  position: relative;
  border: 1px solid #dbdbdb;
  -webkit-box-shadow: 0px 0px 6px transparent;
  box-shadow: 0px 0px 6px transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  max-width: 116px;
  overflow: hidden;
}

.formArea .select:before {
  content: '';
  display: block;
  position: absolute;
  right: 11px;
  top: 50%;
  margin-top: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 6px 0 6px;
  border-color: #3d3935 transparent transparent transparent;
  -webkit-transition: .2s;
  transition: .2s;
}

html.no-csstransitions .formArea .select:before {
  display: none;
}

.formArea .select[data-input-disabled] {
  opacity: .5;
  cursor: default;
}

.formArea .select[data-need-ok] {
  background-color: #FFFFFF;
}

.formArea .select > select {
  width: 150%;
  font-size: 1.4rem;
  padding: 8px 27px 8px 13px;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .formArea .select > select {
    width: 100%;
    padding: 6px 27px 6px 13px;
    font-size: 1.6rem;
  }
}

html.no-csstransforms .formArea .select > select {
  padding: 7px 7px 7px 13px;
}

.formArea .select > select option {
  width: 100%;
  white-space: normal;
}

.no-touchevents .formArea .select:hover {
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.formArea [data-need] > dt > span:after {
  content: '必須';
  background-color: #2b2b2b;
  display: inline-block;
  padding: 1px 6px 2px;
  color: #FFF;
  font-size: 1.2rem;
  vertical-align: middle;
}

@media (max-width: 640px) {
  .formArea [data-need] > dt > span:after {
    float: none;
    line-height: 1.6;
    padding: 2px 6px 0;
    margin-left: 6px;
  }
}

.formArea [data-need][data-need-hissu_by_without] > dt > span:after {
  content: 'どちらか必須';
  background-color: #5D78D1;
  display: inline-block;
  padding: 1px 3px 2px;
  color: #FFF;
  font-size: 1.2rem;
  vertical-align: middle;
}

.formArea .errorWrap .errorList {
  font-size: 1.4rem;
  color: #FFF;
  background-color: #DF4547;
  margin-bottom: 40px;
  padding: 10px;
  display: inline-block;
  max-width: 500px;
  width: 100%;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}

.formArea .errorWrap .errorList li {
  padding-left: 14px;
}

.formArea .errorWrap .errorList li:before {
  content: '・';
  margin-left: -14px;
}

.formArea .error strong {
  color: #FF0004;
}

.formArea .result,
.formArea .noresult {
  display: inline-block;
  border-radius: 3px;
  font-size: 1.4rem;
}

.formArea .result + .result,
.formArea .result + .noresult,
.formArea .noresult + .result,
.formArea .noresult + .noresult {
  margin-left: 5px;
}

.formArea .result .inputappend,
.formArea .result .inputprepend,
.formArea .noresult .inputappend,
.formArea .noresult .inputprepend {
  display: inline-block;
}

.formArea .uploadresult {
  display: block;
  background-color: transparent;
}

.formArea .uploadresult.noresult {
  display: inline-block;
}

.formArea .noresult {
  background-color: #DADADA;
}

.formArea .confirm {
  background-color: #808028;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
  padding: 15px 0;
  max-width: 350px;
  width: 100%;
  -webkit-transition: .2s;
  transition: .2s;
}

.formArea .confirm input {
  cursor: pointer;
  font-size: 1.8rem;
  color: #FFF;
}

@media (max-width: 640px) {
  .formArea .confirm {
    width: 100%;
  }
}

.no-touchevents .formArea .confirm:hover {
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}

.formArea .back {
  cursor: pointer;
  margin: 0 20px;
  /*.no-touchevents &:hover {
			-webkit-filter: brightness(1.2);
			filter: brightness(1.2);
		}*/
}

.formArea .back input {
  cursor: pointer;
}

@media (max-width: 640px) {
  .formArea .back {
    width: 100%;
    max-width: 240px;
    margin: 0 auto;
  }
}

.formArea .finbtn {
  background-color: #808028;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
  padding: 15px 0;
  max-width: 350px;
  width: 100%;
  -webkit-transition: .2s;
  transition: .2s;
}

.formArea .finbtn input {
  cursor: pointer;
  font-size: 1.8rem;
  color: #FFF;
}

@media (max-width: 640px) {
  .formArea .finbtn {
    width: 100%;
  }
}

.no-touchevents .formArea .finbtn:hover {
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}

/*# sourceMappingURL=maps/reservation.css.map */
