@charset "UTF-8";
.num_list.tp02 > li .tit, .num_list.tp03 > li:before, .num_list.tp03 > li .tit, .num_list.tp04 > li:before, .num_list.tp04 > li .tit {
  font-weight: bold;
}

@media screen and (max-width: 640px) {
  .num_list.tp02 > li .tit, .num_list.tp03 > li:before, .num_list.tp03 > li .tit, .num_list.tp04 > li:before, .num_list.tp04 > li .tit {
    font-weight: normal;
    -webkit-text-stroke: 0.4px;
  }
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Light.woff") format("woff"), url("/common/font/NotoSansJP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Regular.woff") format("woff"), url("/common/font/NotoSansJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Medium.woff") format("woff"), url("/common/font/NotoSansJP-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Bold.woff") format("woff"), url("/common/font/NotoSansJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Light.woff") format("woff"), url("/common/font/NotoSerifJP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Regular.woff") format("woff"), url("/common/font/NotoSerifJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Medium.woff") format("woff"), url("/common/font/NotoSerifJP-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Bold.woff") format("woff"), url("/common/font/NotoSerifJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* -----------------------------------------------------------------------------

参加資格

----------------------------------------------------------------------------- */
.contents {
  padding-top: 70px;
  padding-bottom: 100px;
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .contents {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

.rule_box > dt {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'noto_serif';
  font-weight: 500;
  letter-spacing: 0.12em;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #7f0e2c;
  border-bottom: 1px solid #7f0e2c;
}

@media screen and (max-width: 640px) {
  .rule_box > dt {
    font-size: 16px;
    font-size: 1.6rem;
    letter-spacing: 0.04em;
  }
}

.rule_box > dd > * {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
}

@media screen and (max-width: 640px) {
  .rule_box > dd > * {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.rule_box > dd p + p {
  margin-top: 1em;
}

.rule_box > dd p + ol {
  margin-top: 1em;
}

.rule_box + .rule_box {
  margin-top: 55px;
}

@media screen and (max-width: 640px) {
  .rule_box + .rule_box {
    margin-top: 25px;
  }
}

.num_list li {
  list-style-type: decimal;
  list-style-position: inside;
}

.num_list.tp02 {
  counter-reset: tp02;
  list-style-type: none;
}

.num_list.tp02 > li {
  list-style-type: none;
  position: relative;
  padding-left: 2em;
}

.num_list.tp02 > li:before {
  position: absolute;
  left: 0;
  top: 0;
  content: counter(tp02) ". ";
  counter-increment: tp02;
  font-weight: bold;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.8;
  color: #7f0e2c;
}

@media screen and (max-width: 640px) {
  .num_list.tp02 > li:before {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 640px) {
  .num_list.tp02 > li p {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.num_list.tp02 > li .tit {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.8;
}

@media screen and (max-width: 640px) {
  .num_list.tp02 > li .tit {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.num_list.tp02 > li + li {
  margin-top: 0.5em;
}

.num_list.tp03 {
  counter-reset: tp03;
  list-style-type: none;
}

.num_list.tp03 > li {
  list-style-type: none;
  position: relative;
  padding-left: 2em;
  font-size: 16px;
  font-size: 1.6rem;
}

@media screen and (max-width: 640px) {
  .num_list.tp03 > li {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.num_list.tp03 > li:before {
  position: absolute;
  left: 0;
  top: 0;
  content: counter(tp03);
  counter-increment: tp03;
  font-size: 16px;
  font-size: 1.6rem;
}

@media screen and (max-width: 640px) {
  .num_list.tp03 > li:before {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.num_list.tp03 > li:nth-child(-n+9):before {
  content: "0" counter(tp03);
}

.num_list.tp03 > li .tit {
  font-size: 16px;
  font-size: 1.6rem;
}

@media screen and (max-width: 640px) {
  .num_list.tp03 > li .tit {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.num_list.tp04 {
  counter-reset: tp04;
  list-style-type: none;
}

.num_list.tp04 > li {
  list-style-type: none;
  position: relative;
  padding-left: 1.5em;
  font-size: 16px;
  font-size: 1.6rem;
}

@media screen and (max-width: 640px) {
  .num_list.tp04 > li {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.num_list.tp04 > li > * {
  font-size: 16px;
  font-size: 1.6rem;
  padding-top: 0.1em;
}

@media screen and (max-width: 640px) {
  .num_list.tp04 > li > * {
    font-size: 13px;
    font-size: 1.3rem;
    padding-top: 0;
  }
}

.num_list.tp04 > li:before {
  position: absolute;
  left: 0;
  top: 0;
  content: counter(tp04) ". ";
  counter-increment: tp04;
  font-size: 18px;
  font-size: 1.8rem;
  color: #7f0e2c;
}

@media screen and (max-width: 640px) {
  .num_list.tp04 > li:before {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.num_list.tp04 > li .tit {
  font-size: 16px;
  font-size: 1.6rem;
}

@media screen and (max-width: 640px) {
  .num_list.tp04 > li .tit {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.num_list.tp04 > li + li {
  margin-top: 0.5em;
}

.num_list.tp05 {
  padding: 0 0 0 2.5em;
  margin: 0;
}

.num_list.tp05 li {
  list-style-type: none;
  list-style-position: inside;
  counter-increment: tp05;
  position: relative;
}

.num_list.tp05 li:before {
  position: absolute;
  left: -2.5em;
  display: marker;
  content: "(" counter(tp05) ") ";
}

.box_wrap {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 5px;
  margin-top: 20px;
  border: 10px solid #f7f7f7;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .box_wrap {
    border: 5px solid #f7f7f7;
    margin-top: 30px;
  }
}

.box_wrap .num_list {
  position: relative;
}

@media screen and (max-width: 640px) {
  .box_wrap .num_list {
    width: calc(100% - 10px);
    margin: 0 auto;
  }
}

.box_wrap .num_list:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 48%;
  display: block;
  width: 1px;
  background-color: #f7f7f7;
}

@media screen and (max-width: 640px) {
  .box_wrap .num_list:before {
    content: none;
  }
}

.box_wrap .num_list li {
  width: calc(50% - 3em);
  vertical-align: top;
  display: inline-block;
  text-align: left;
}

@media screen and (max-width: 640px) {
  .box_wrap .num_list li {
    width: calc(100% - 3em);
    display: block;
  }
  .box_wrap .num_list li + li {
    margin-top: 40px;
  }
  .box_wrap .num_list li + li:after {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    display: block;
    height: 2px;
    background-color: #f7f7f7;
  }
}

.box_wrap .link {
  margin-top: 10px;
}

@media screen and (max-width: 640px) {
  .box_wrap .link {
    text-align: center;
  }
  .box_wrap .link a {
    margin: 0 auto;
  }
}

.box_wrap .tel {
  margin-top: 0.5em;
}

@media screen and (max-width: 640px) {
  .box_wrap .tel {
    text-align: center;
  }
}

.box_wrap .tel a {
  font-size: 30px;
  font-size: 3rem;
  color: #ad8763;
  letter-spacing: 0;
  line-height: 1;
}

@media screen and (max-width: 640px) {
  .box_wrap .tel a {
    font-size: 26px;
    font-size: 2.6rem;
  }
}

.box_wrap p.time {
  margin-top: 0;
  font-size: 16px;
  font-size: 1.6rem;
}

@media screen and (max-width: 640px) {
  .box_wrap p.time {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.table_box.tp02 {
  border-top: 1px solid rgba(61, 57, 53, 0.2);
  border-bottom: 1px solid rgba(61, 57, 53, 0.2);
  display: table;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
}

@media screen and (max-width: 640px) {
  .table_box.tp02 {
    display: block;
  }
}

.table_box.tp02 > dt, .table_box.tp02 > dd {
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  font-size: 1.6rem;
  padding: 10px 20px;
}

@media screen and (max-width: 640px) {
  .table_box.tp02 > dt, .table_box.tp02 > dd {
    display: block;
    text-align: center;
    padding: 5px;
  }
}

.table_box.tp02 > dt {
  background-color: #f7f7f7;
  width: 180px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 640px) {
  .table_box.tp02 > dt {
    font-size: 14px;
    font-size: 1.4rem;
    width: 100%;
    border-bottom: 1px solid rgba(61, 57, 53, 0.2);
  }
}

@media screen and (max-width: 640px) {
  .table_box.tp02 > dd {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.75;
    text-align: left;
  }
}

/*# sourceMappingURL=maps/rule.css.map */
