@charset "UTF-8";
@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Light.woff") format("woff"), url("/common/font/NotoSansJP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Regular.woff") format("woff"), url("/common/font/NotoSansJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Medium.woff") format("woff"), url("/common/font/NotoSansJP-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Bold.woff") format("woff"), url("/common/font/NotoSansJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Light.woff") format("woff"), url("/common/font/NotoSerifJP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Regular.woff") format("woff"), url("/common/font/NotoSerifJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Medium.woff") format("woff"), url("/common/font/NotoSerifJP-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Bold.woff") format("woff"), url("/common/font/NotoSerifJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* -----------------------------------------------------------------------------

プレミアムステイタスとは

----------------------------------------------------------------------------- */
.catch {
  text-align: center;
  font-family: 'noto_serif';
  font-weight: 500;
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: #360009;
  margin: 75px 0 70px;
  position: relative;
}

@media screen and (max-width: 640px) {
  .catch {
    background-color: #f5f3ed;
    margin: 0 -16px;
    padding: 20px 0;
    font-size: 17px;
    font-size: 1.7rem;
    letter-spacing: 0.1em;
  }
}

.catch:before {
  position: absolute;
  left: 84%;
  bottom: -25px;
  content: '';
  display: block;
  width: 116px;
  height: 160px;
  background-image: url(../img/about/concept_deco01.png);
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 640px) {
  .catch:before {
    height: 76px;
    bottom: 20px;
    left: 72%;
  }
}

.sec_tit02 span {
  font-size: 27px;
  font-size: 2.7rem;
}

@media screen and (max-width: 640px) {
  .sec_tit02 span {
    font-size: 18px;
    font-size: 1.8rem;
  }
}

.sec_tit02 span:after {
  bottom: -10px;
}

@media screen and (max-width: 640px) {
  .sec_tit02 span:after {
    bottom: -5px;
  }
}

.sec_tit02.concept span:after {
  width: 118px;
  height: 46px;
  background-image: url(../img/about/tit_txt_concept.png);
}

@media screen and (max-width: 640px) {
  .sec_tit02.concept span:after {
    width: 71px;
    height: 28px;
    background-size: auto 100%;
  }
}

.sec_tit02.greeting:before {
  width: auto;
  right: 0;
  left: 320px;
}

@media screen and (max-width: 640px) {
  .sec_tit02.greeting:before {
    left: 190px;
  }
}

.sec_tit02.greeting span:after {
  background-color: transparent;
  width: 100px;
  height: 50px;
  background-image: url(../img/about/tit_txt_greeting.png);
}

@media screen and (max-width: 640px) {
  .sec_tit02.greeting span:after {
    background-size: auto 100%;
    width: 50px;
    height: 25px;
  }
}

/* sec_concept */
.sec_concept {
  position: relative;
}

@media screen and (max-width: 640px) {
  .sec_concept {
    padding-bottom: 120px;
    background-image: url(../img/about/concept_deco02.png);
    background-size: 43px 56px;
    background-position: left 99%;
    background-repeat: no-repeat;
  }
}

.sec_concept > .wrap {
  margin-left: 30px;
  max-width: 570px;
  min-height: 980px;
  width: 100%;
}

@media screen and (max-width: 640px) {
  .sec_concept > .wrap {
    margin-left: 0;
    margin-top: 27px;
    padding-bottom: 1em;
    min-height: 0;
  }
}

.sec_concept > .wrap p {
  position: relative;
}

.sec_concept > .wrap p:before {
  position: absolute;
  left: -86px;
  bottom: -70px;
  content: '';
  display: block;
  width: 86px;
  height: 112px;
  background-image: url(../img/about/concept_deco02.png);
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 640px) {
  .sec_concept > .wrap p:before {
    content: none;
  }
}

.sec_concept .sec_tit02 + p {
  margin-top: 20px;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 2;
}

@media screen and (max-width: 640px) {
  .sec_concept .sec_tit02 + p {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.75;
  }
}

.sec_concept figure {
  position: absolute;
  left: 660px;
  top: -15px;
}

@media screen and (max-width: 640px) {
  .sec_concept figure {
    position: static;
    margin-left: -16px;
    margin-right: -16px;
  }
}

.sec_concept figure .main {
  position: relative;
  width: 720px;
  height: 480px;
}

@media screen and (max-width: 640px) {
  .sec_concept figure .main {
    width: 100%;
    height: 0;
    padding-top: 66.6%;
  }
}

.sec_concept figure .main:before {
  position: absolute;
  left: 460px;
  bottom: -80px;
  content: '';
  z-index: 1;
  display: block;
  width: 170px;
  height: 160px;
  background-image: url(../img/about/concept_deco03.png);
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 640px) {
  .sec_concept figure .main:before {
    width: 85px;
    height: 80px;
    left: auto;
    right: 16px;
    bottom: -35px;
  }
}

.sec_concept figure .sub {
  position: relative;
  top: 100px;
  left: 90px;
  width: 420px;
  height: 294px;
}

@media screen and (max-width: 640px) {
  .sec_concept figure .sub {
    width: 210px;
    height: 147px;
    top: 12.5vw;
    left: 30.2vw;
  }
}

.sec_concept figure .sub:before {
  position: absolute;
  left: -140px;
  top: 150px;
  content: '';
  z-index: 1;
  display: block;
  width: 394px;
  height: 138px;
  background-image: url(../img/about/concept_deco04.png);
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 640px) {
  .sec_concept figure .sub:before {
    width: 197px;
    height: 69px;
    left: -65px;
    top: 70px;
  }
}

/* sec_greeting */
.sec_greeting > .in {
  padding: 90px 0 80px;
  position: relative;
  background-image: url(../common/img/bg_deco.png);
  background-size: 96px auto;
  background-repeat: repeat;
  background-position: center center;
}

@media screen and (max-width: 640px) {
  .sec_greeting > .in {
    padding: 40px 0 65px;
  }
}

.sec_greeting > .in:before, .sec_greeting > .in:after {
  position: absolute;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  right: 0;
  background-color: #ede9dd;
}

.sec_greeting > .in:before {
  top: 4px;
}

.sec_greeting > .in:after {
  bottom: 4px;
}

.sec_greeting .wrap {
  position: relative;
  padding: 0 30px;
}

@media screen and (max-width: 640px) {
  .sec_greeting .wrap {
    padding: 0;
  }
}

.sec_greeting .wrap .sec_tit02 span {
  background-color: transparent;
}

.sec_greeting .wrap .sec_tit02 + p {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 2;
  margin-top: 55px;
  max-width: 890px;
}

@media screen and (max-width: 640px) {
  .sec_greeting .wrap .sec_tit02 + p {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.75;
    margin-top: 20px;
  }
}

.sec_greeting .wrap figure {
  margin-top: 50px;
  text-align: right;
  max-width: 890px;
}

@media screen and (max-width: 640px) {
  .sec_greeting .wrap figure {
    position: relative;
    margin-top: 10px;
  }
}

.sec_greeting .wrap figure .ph {
  position: absolute;
  top: 75px;
  right: 30px;
  width: 180px;
  height: 256px;
}

@media screen and (max-width: 640px) {
  .sec_greeting .wrap figure .ph {
    position: static;
    display: inline-block;
    width: 150px;
    height: 214px;
  }
}

.sec_greeting .wrap figure figcaption {
  font-size: 16px;
  font-size: 1.6rem;
}

@media screen and (max-width: 640px) {
  .sec_greeting .wrap figure figcaption {
    position: absolute;
    width: 50%;
    left: 0;
    top: 50%;
    margin-top: -3.5em;
    text-align: left;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.75;
  }
}

/* .sec_point */
.sec_point {
  background-color: #fff;
}

.sec_point > header {
  padding: 60px 0;
  position: relative;
  display: table;
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .sec_point > header {
    display: block;
    text-align: center;
    padding: 35px 16px 30px;
    width: calc(100% - 32px);
  }
}

.sec_point > header h3 {
  display: table-cell;
  vertical-align: middle;
}

@media screen and (max-width: 640px) {
  .sec_point > header h3 {
    display: block;
  }
}

.sec_point > header h3 img {
  width: 244px;
  height: auto;
}

@media screen and (max-width: 640px) {
  .sec_point > header h3 img {
    width: 178px;
    height: auto;
  }
}

.sec_point > header .read {
  padding-left: 40px;
  display: table-cell;
  vertical-align: middle;
  font-family: 'noto_serif';
  font-weight: 500;
  font-size: 20px;
  font-size: 2rem;
  line-height: 2.1;
  letter-spacing: 0;
  color: #7e0d2b;
}

@media screen and (max-width: 640px) {
  .sec_point > header .read {
    text-align: left;
    padding-left: 0;
    margin-top: 10px;
    display: block;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.75;
  }
}

.sec_point > header:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 30px;
  right: -120px;
  width: 122px;
  height: 166px;
  background-image: url(../img/about/point_deco.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.sec_point > .in {
  background-color: #f7f4ed;
}

.sec_point .point_box {
  padding-bottom: 100px;
}

@media screen and (max-width: 640px) {
  .sec_point .point_box {
    padding-bottom: 50px;
  }
}

.sec_point .point_box .detail_box {
  position: relative;
  width: 100%;
  height: 460px;
}

.sec_point .point_box .detail_box.p01 {
  height: 550px;
}

.sec_point .point_box .detail_box.p01 .ph {
  left: -120px;
  width: 60%;
}

@media screen and (max-width: 640px) {
  .sec_point .point_box .detail_box.p01 {
    height: auto;
  }
  .sec_point .point_box .detail_box.p01 .ph {
    width: calc(100% + 32px);
  }
}

@media screen and (max-width: 640px) {
  .sec_point .point_box .detail_box {
    display: block;
    height: auto;
  }
}

.sec_point .point_box .detail_box > .wrap {
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 50%;
  padding-left: 60px;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .sec_point .point_box .detail_box > .wrap {
    display: block;
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 35px;
    padding-bottom: 25px;
  }
}

.sec_point .point_box .detail_box .ph {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 640px) {
  .sec_point .point_box .detail_box .ph {
    position: static;
    display: block;
    width: calc(100% + 32px);
    height: 0;
    padding-top: calc(76.3% + 32px);
    margin: 0 -16px;
    opacity: 1;
  }
}

.sec_point .point_box .detail_box .mov {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000;
}

.sec_point .point_box .detail_box .mov video {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

@media screen and (max-width: 640px) {
  .sec_point .point_box .detail_box .mov {
    position: relative;
    display: block;
    width: calc(100% + 32px);
    height: 0;
    padding-top: calc(76.3% + 32px);
    margin: 0 -16px;
    opacity: 1;
  }
  .sec_point .point_box .detail_box .mov video {
    position: absolute;
    top: 0;
    bottom: 0;
  }
}

.sec_point .point_box .detail_box .video-btn {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40px;
  cursor: pointer;
}

.sec_point .point_box .detail_box .video-btn:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../img/about/point_ph03_icon.png);
  background-position: center center;
  background-size: cover;
  z-index: 1;
  opacity: 0.5;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.sec_point .point_box .detail_box .video-btn:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: -40px;
  left: 0;
  right: 0;
  background-image: url(../img/about/point_ph03.jpg);
  background-position: center center;
  background-size: cover;
}

@media screen and (max-width: 640px) {
  .sec_point .point_box .detail_box .video-btn {
    background-image: none;
  }
}

.no-touchevents .sec_point .point_box .detail_box .video-btn:hover:after {
  opacity: 1;
}

.sec_point .point_box .detail_box .video-btn.play, .sec_point .point_box .detail_box .video-btn.pause {
  opacity: 0;
}

.sec_point .point_box .detail_box .video-btn.play:before, .sec_point .point_box .detail_box .video-btn.pause:before {
  display: none;
}

@media screen and (max-width: 640px) {
  .no-touchevents .sec_point .point_box .detail_box .video-btn.play:hover, .no-touchevents .sec_point .point_box .detail_box .video-btn.pause:hover {
    background-image: none;
  }
}

.sec_point .point_box .detail_box .title {
  display: inline-block;
  font-size: 28px;
  font-size: 2.8rem;
  font-family: 'noto_sans';
  font-weight: 400;
  line-height: 1.5;
  color: #ad8763;
  text-align: center;
  padding-top: 80px;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: auto 63px;
}

@media screen and (max-width: 640px) {
  .sec_point .point_box .detail_box .title {
    display: block;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.75;
    letter-spacing: 0;
    padding-top: 55px;
    background-size: auto 46px;
    vertical-align: top;
  }
}

.sec_point .point_box .detail_box .txt {
  margin-top: 30px;
  text-align: left;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
  letter-spacing: 0.04em;
  word-break: break-all;
}

@media screen and (max-width: 640px) {
  .sec_point .point_box .detail_box .txt {
    margin-top: 15px;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.75;
    word-break: normal;
  }
}

.sec_point .point_box .detail_box:nth-child(even) .ph {
  left: auto;
  right: 0;
}

.sec_point .point_box .detail_box:nth-child(even) > .wrap {
  margin-left: 0;
  margin-right: 50%;
  padding-left: 0;
  padding-right: 60px;
}

@media screen and (max-width: 640px) {
  .sec_point .point_box .detail_box:nth-child(even) > .wrap {
    margin-right: 0;
    padding-right: 0;
  }
}

.sec_point .point_box .detail_box.p01 .title {
  background-image: url(../img/about/point_subtit_01.png);
}

.sec_point .point_box .detail_box.p02 .title {
  background-image: url(../img/about/point_subtit_02.png);
}

.sec_point .point_box .detail_box.p03 .title {
  background-image: url(../img/about/point_subtit_03.png);
}

.sec_point .point_box .detail_box.p04 .title {
  background-image: url(../img/about/point_subtit_04.png);
}

.sec_point .point_box .detail_box.p05 .title {
  background-image: url(../img/about/point_subtit_05.png);
}

.sec_point .point_box .detail_box.p06 .title {
  background-image: url(../img/about/point_subtit_06.png);
}

.sec_point .point_box .detail_box.p07 .title {
  background-image: url(../img/about/point_subtit_07.png);
}

.sec_point .point_box .detail_box.p08 .title {
  background-image: url(../img/about/point_subtit_08.png);
}

/*# sourceMappingURL=maps/about.css.map */
