@charset "UTF-8";
@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Light.woff") format("woff"), url("/common/font/NotoSansJP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Regular.woff") format("woff"), url("/common/font/NotoSansJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Medium.woff") format("woff"), url("/common/font/NotoSansJP-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Bold.woff") format("woff"), url("/common/font/NotoSansJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Light.woff") format("woff"), url("/common/font/NotoSerifJP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Regular.woff") format("woff"), url("/common/font/NotoSerifJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Medium.woff") format("woff"), url("/common/font/NotoSerifJP-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Bold.woff") format("woff"), url("/common/font/NotoSerifJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* -----------------------------------------------------------------------------

会社概要

----------------------------------------------------------------------------- */
.contents {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 105px;
}

@media screen and (max-width: 640px) {
  .contents {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

.link_list li {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
  padding-left: 20px;
  margin-bottom: 5px;
}

@media screen and (max-width: 640px) {
  .link_list li {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.link_list li a {
  display: inline-block;
  position: relative;
}

.link_list li a:before {
  position: absolute;
  left: -20px;
  top: 10px;
  content: '';
  display: block;
  width: 13px;
  height: 7px;
  background-image: url(../common/img/list_allow.png);
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 640px) {
  .link_list li a:before {
    top: 6px;
  }
}

.num_list li {
  list-style-type: decimal;
  margin-left: 20px;
  padding-left: 5px;
}

/*# sourceMappingURL=maps/company.css.map */
