@charset "UTF-8";
.formArea .rowWrap .element dt {
  font-weight: bold;
}

@media screen and (max-width: 640px) {
  .formArea .rowWrap .element dt {
    font-weight: normal;
    -webkit-text-stroke: 0.4px;
  }
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Light.woff") format("woff"), url("/common/font/NotoSansJP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Regular.woff") format("woff"), url("/common/font/NotoSansJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Medium.woff") format("woff"), url("/common/font/NotoSansJP-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Bold.woff") format("woff"), url("/common/font/NotoSansJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Light.woff") format("woff"), url("/common/font/NotoSerifJP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Regular.woff") format("woff"), url("/common/font/NotoSerifJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Medium.woff") format("woff"), url("/common/font/NotoSerifJP-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Bold.woff") format("woff"), url("/common/font/NotoSerifJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* -----------------------------------------------------------------------------

お問い合わせ

----------------------------------------------------------------------------- */
.contentsWrap .c01 {
  color: #a38664;
}

.contentsWrap .c02 {
  color: #7f0e2c;
}

.contentsWrap .txtlink {
  color: #a38664;
  text-decoration: underline;
}

.no-touchevents .contentsWrap .txtlink:hover {
  text-decoration: none;
}

.contentsWrap .mod_wrap04 {
  padding-top: 35px;
  padding-bottom: 35px;
  margin-top: 65px;
  margin-bottom: 70px;
  border: 8px solid #f7f7f7;
}

@media screen and (max-width: 640px) {
  .contentsWrap .mod_wrap04 {
    border: none;
    margin-top: 35px;
    margin-bottom: 50px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.formArea .rowWrap {
  border-bottom: 1px solid #e0e0e0;
  padding: 14px 0 14px 20px;
}

@media screen and (max-width: 640px) {
  .formArea .rowWrap {
    padding: 10px;
  }
}

.formArea .rowWrap .element dt, .formArea .rowWrap .element dd {
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 640px) {
  .formArea .rowWrap .element dt, .formArea .rowWrap .element dd {
    display: block;
  }
}

.formArea .rowWrap .element dt {
  font-size: 16px;
  font-size: 1.6rem;
  padding-right: 20px;
}

@media screen and (max-width: 640px) {
  .formArea .rowWrap .element dt {
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: 5px;
  }
}

.formArea .rowWrap .element dt > span {
  display: inline-block;
  min-width: 180px;
  position: relative;
  top: 10px;
}

@media screen and (max-width: 640px) {
  .formArea .rowWrap .element dt > span {
    min-width: 0;
    top: 0;
  }
}

.formArea .rowWrap .element dt > span:after {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 640px) {
  .formArea .rowWrap .element dt > span:after {
    position: relative;
    top: -1px;
    display: inline-block;
    font-size: 9px;
    font-size: 0.9rem;
    margin-right: 15px;
  }
}

.formArea .rowWrap .element dd {
  padding-left: 20px;
  width: calc(100% - 230px);
}

@media screen and (max-width: 640px) {
  .formArea .rowWrap .element dd {
    font-size: 14px;
    font-size: 1.4rem;
    padding-left: 0;
    width: 100%;
  }
}

.formArea .prepend {
  font-size: 13px;
  font-size: 1.3rem;
  padding-right: 15px;
}

.formArea .append {
  font-size: 13px;
  font-size: 1.3rem;
  padding-left: 15px;
}

.step03 .formArea .append + span {
  margin-left: 30px;
}

.formArea .itemWrap {
  display: inline-block;
  /*&.month_wrap,
		&.day_wrap {
			margin-left: 25px;
		}
		&.age_wrap {
			margin-left: 60px;
			.step02 & {
				margin-left: 0;
			}
		}*/
  /*.checkbox > label > span {
			@include fz(14);
			margin-left: 5px;
		}*/
}

@media screen and (max-width: 640px) {
  .formArea .itemWrap {
    width: 100%;
  }
}

.formArea .itemWrap + .itemWrap {
  margin-left: 10px;
}

.formArea .itemWrap textarea {
  width: 575px;
  height: 150px;
}

@media screen and (max-width: 640px) {
  .formArea .itemWrap textarea {
    width: 100%;
    height: 100px;
  }
}

.formArea .itemWrap .radio input[type="radio"][disabled="disabled"] ~ label:before, .formArea .itemWrap .radio input[type="radio"][disabled="disabled"] ~ label:after {
  content: none;
}

.formArea .itemWrap .radio input[type="radio"][disabled="disabled"] ~ label > span {
  padding-left: 0;
}

.formArea .info {
  display: block;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 13px;
  font-size: 1.3rem;
  letter-spacing: 0;
  margin-top: 10px;
}

.formArea .info a {
  color: #a48660;
  text-decoration: underline;
}

.no-touchevents .formArea .info a:hover {
  text-decoration: none;
}

.formArea .memo {
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 0;
  margin-top: 10px;
}

.formArea .w01 input[type="text"],
.formArea .w01 input[type="tel"],
.formArea .w01 input[type="email"] {
  width: 225px;
}

@media screen and (max-width: 640px) {
  .formArea .w01 {
    width: 47%;
  }
  .formArea .w01 input[type="text"],
  .formArea .w01 input[type="tel"],
  .formArea .w01 input[type="email"] {
    width: 100%;
  }
}

.formArea .w02 input[type="text"],
.formArea .w02 input[type="tel"],
.formArea .w02 input[type="email"] {
  width: 470px;
}

.formArea .w03 input[type="text"],
.formArea .w03 input[type="tel"],
.formArea .w03 input[type="email"] {
  width: 586px;
}

.formArea .w04 input[type="text"],
.formArea .w04 input[type="tel"],
.formArea .w04 input[type="email"] {
  width: 115px;
}

.formArea .w05 input[type="text"],
.formArea .w05 input[type="tel"],
.formArea .w05 input[type="email"] {
  width: 60px;
}

.formArea .w06 input[type="text"],
.formArea .w06 input[type="tel"],
.formArea .w06 input[type="email"],
.formArea .w06 .select > select {
  width: 185px;
}

@media screen and (max-width: 640px) {
  .formArea .spW01 {
    width: 100%;
  }
  .formArea .spW01 input[type="text"],
  .formArea .spW01 input[type="tel"],
  .formArea .spW01 input[type="email"],
  .formArea .spW01 textarea {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .formArea .spW02 {
    width: 30%;
    margin-left: 0 !important;
  }
  .formArea .spW02 input[type="text"],
  .formArea .spW02 input[type="tel"],
  .formArea .spW02 input[type="email"] {
    width: 60%;
  }
}

@media screen and (max-width: 640px) {
  .formArea .spW03 {
    display: block;
    width: 61.5%;
    margin-left: 0 !important;
    margin-bottom: 10px;
  }
  .formArea .spW03 input[type="text"],
  .formArea .spW03 input[type="tel"],
  .formArea .spW03 input[type="email"] {
    width: 80%;
  }
}

.formArea .link {
  margin-top: 40px;
  text-align: center;
}

.formArea .link .Confirm {
  margin: 0 auto;
}

/* フォームパート */
/* リセットCSS */
[disabled] {
  cursor: default;
}

textarea {
  overflow: auto;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* 単一行テキスト */
.ui-datepicker {
  width: auto;
}

.formArea {
  /* 必須項目 */
  /* エラー表示 */
  /* 確認画面の入力結果箇所 */
  /* 確認画面ボタン */
  /* 戻るボタン */
  /* 送信ボタン */
  /* 分岐表示 
	[data-view_term] {
		display: none!important;
	}
	[data-view_term-ok] {
		display: table!important;
		@media (max-width:640px) {
			display: block!important;
		}
	}
	*/
  /* 分岐表示（除外） 
	[data-view_term_without] {
		display: table !important;
	}
	
	[data-view_term_without-ok] {
		display: none !important;
		@media print,screen and (max-width:640px) {
			display: none !important;
		}
	}*/
}

.formArea input[type="text"],
.formArea input[type="tel"],
.formArea input[type="email"] {
  border-radius: 0;
  font-size: 1.4rem;
  border: 1px solid #dbdbdb;
  padding: 8px 13px;
  color: #3d3935;
  background-color: #fbfbfb;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 6px transparent;
  box-shadow: 0px 0px 6px transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 126px;
}

@media (max-width: 640px) {
  .formArea input[type="text"],
  .formArea input[type="tel"],
  .formArea input[type="email"] {
    border-radius: 0;
    width: 100%;
    padding: 6px 13px;
    font-size: 1.6rem;
  }
}

.formArea input[type="text"]:focus,
.formArea input[type="tel"]:focus,
.formArea input[type="email"]:focus {
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.formArea input[type="text"][data-input-disabled],
.formArea input[type="tel"][data-input-disabled],
.formArea input[type="email"][data-input-disabled] {
  opacity: .5;
  cursor: default;
}

.formArea input[type="text"][data-need-ok],
.formArea input[type="tel"][data-need-ok],
.formArea input[type="email"][data-need-ok] {
  background-color: #FFFFFF;
}

.formArea textarea {
  border-radius: 0;
  font-size: 1.4rem;
  border: 1px solid #dbdbdb;
  background-color: #fbfbfb;
  padding: 7px 13px;
  color: #656563;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 6px transparent;
  box-shadow: 0px 0px 6px transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 640px) {
  .formArea textarea {
    border-radius: 0;
    font-size: 1.6rem;
  }
}

.formArea textarea:focus {
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.formArea textarea[data-input-disabled] {
  opacity: .5;
  cursor: default;
}

.formArea textarea[disabled] {
  background-color: #9F9F9F !important;
}

.formArea textarea[data-need-ok] {
  background-color: #FFFFFF;
}

.formArea .radio {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

@media (max-width: 850px) {
  .formArea .radio {
    display: inline-block;
    margin-right: 0;
  }
}

.formArea .radio[data-input-disabled] {
  opacity: .5;
  cursor: default;
}

.formArea .radio[data-input-checked] {
  position: relative;
}

.formArea .radio[data-input-checked]:after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-color: transparent;
}

.formArea .radio[data-subtxt01]:after {
  content: attr(data-subtxt01);
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 5px;
  color: #D71F22;
  vertical-align: middle;
}

.formArea .radio > input[type] {
  width: 0;
  height: 0;
  opacity: 0;
}

html.no-csstransitions .formArea .radio > input[type] {
  display: inline-block;
  vertical-align: middle;
}

.formArea .radio > input[type]:checked ~ label:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.formArea .radio > input[data-need-ok] + label:before {
  background-color: #FFFFFF;
}

.formArea .radio > label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 10px 0;
  vertical-align: middle;
}

@media screen and (max-width: 640px) {
  .formArea .radio > label {
    padding: 5px 0;
  }
}

.formArea .radio > label:before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #D0D0D0;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -11px;
  color: #656563;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 6px transparent;
  box-shadow: 0px 0px 6px transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.formArea .radio > label:after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  bottom: 2px;
  left: 4px;
  margin: auto;
  background-color: #000;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 50%;
}

.formArea .radio > label > span {
  font-size: 1.5rem;
  display: inline-block;
  padding-left: 30px;
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
}

@media screen and (max-width: 640px) {
  .formArea .radio > label > span {
    font-size: 13px;
    font-size: 1.3rem;
    padding-left: 25px;
  }
}

.no-touchevents .formArea .radio > label:hover:before {
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.formArea .checkbox {
  display: inline-block;
  margin-right: 0;
  vertical-align: middle;
}

@media (max-width: 850px) {
  .formArea .checkbox {
    display: inline-block;
    margin-right: 0;
    width: calc(100% / 7);
  }
}

.formArea .checkbox[data-input-disabled] {
  opacity: .5;
  cursor: default;
}

.formArea .checkbox[data-input-checked] {
  position: relative;
}

.formArea .checkbox[data-input-checked]:after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-color: transparent;
}

.formArea .checkbox[data-subtxt01]:after {
  content: attr(data-subtxt01);
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 5px;
  color: #D71F22;
  vertical-align: middle;
}

.formArea .checkbox > input[type] {
  width: 0;
  height: 0;
  opacity: 0;
}

html.no-csstransitions .formArea .checkbox > input[type] {
  display: inline-block;
  vertical-align: middle;
}

.formArea .checkbox > input[type]:checked ~ label:after {
  opacity: 1;
  -webkit-transform: rotate(-37deg) scale(1);
  -ms-transform: rotate(-37deg) scale(1);
  transform: rotate(-37deg) scale(1);
}

.formArea .checkbox > input[data-need-ok] + label:before {
  background-color: #FFFFFF;
}

.formArea .checkbox > label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 10px 0;
  vertical-align: middle;
}

@media screen and (max-width: 640px) {
  .formArea .checkbox > label {
    text-align: center;
  }
}

.formArea .checkbox > label:before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #D0D0D0;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -10px;
  color: #656563;
  -webkit-box-shadow: 0px 0px 6px transparent;
  box-shadow: 0px 0px 6px transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.formArea .checkbox > label:after {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  height: 3px;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  top: 0;
  bottom: 0px;
  left: 4px;
  margin: auto;
  opacity: 0;
  -webkit-transform: rotate(-37deg) scale(1.4);
      -ms-transform: rotate(-37deg) scale(1.4);
          transform: rotate(-37deg) scale(1.4);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.formArea .checkbox > label > span {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'noto_sans';
  font-weight: 400;
  letter-spacing: 0.04em;
  display: inline-block;
  padding-left: 24px;
  margin-right: 10px;
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
}

@media screen and (max-width: 640px) {
  .formArea .checkbox > label > span {
    font-size: 14px;
    font-size: 1.4rem;
    margin-right: 8px;
  }
}

.no-touchevents .formArea .checkbox > label:hover:before {
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.formArea .select {
  color: #3d3935;
  display: inline-block;
  background-color: #fbfbfb;
  position: relative;
  border: 1px solid #dbdbdb;
  -webkit-box-shadow: 0px 0px 6px transparent;
  box-shadow: 0px 0px 6px transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.formArea .select:before {
  content: '';
  display: block;
  position: absolute;
  right: 11px;
  top: 50%;
  margin-top: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 6px 0 6px;
  border-color: #3d3935 transparent transparent transparent;
  -webkit-transition: .2s;
  transition: .2s;
}

html.no-csstransitions .formArea .select:before {
  display: none;
}

.formArea .select[data-input-disabled] {
  opacity: .5;
  cursor: default;
}

.formArea .select[data-need-ok] {
  background-color: #FFFFFF;
}

.formArea .select > select {
  width: 116px;
  font-size: 1.4rem;
  padding: 8px 27px 8px 13px;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .formArea .select > select {
    width: 100%;
    padding: 6px 27px 6px 13px;
    font-size: 1.6rem;
  }
}

html.no-csstransforms .formArea .select > select {
  padding: 7px 7px 7px 13px;
}

.formArea .select > select option {
  width: 100%;
  white-space: normal;
}

.no-touchevents .formArea .select:hover {
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.formArea [data-need] > dt > span:after {
  content: '必須';
  background-color: #2b2b2b;
  display: inline-block;
  padding: 1px 6px 2px;
  color: #FFF;
  font-size: 1.2rem;
  vertical-align: middle;
}

@media (max-width: 640px) {
  .formArea [data-need] > dt > span:after {
    float: none;
    line-height: 1.6;
    padding: 2px 6px 0;
    margin-left: 6px;
  }
}

.formArea [data-need][data-need-hissu_by_without] > dt > span:after {
  content: 'どちらか必須';
  background-color: #5D78D1;
  display: inline-block;
  padding: 1px 3px 2px;
  color: #FFF;
  font-size: 1.2rem;
  vertical-align: middle;
}

.formArea .errorWrap .errorList {
  font-size: 1.4rem;
  color: #FFF;
  background-color: #DF4547;
  margin-bottom: 40px;
  padding: 10px;
  display: inline-block;
  max-width: 500px;
  width: 100%;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}

.formArea .errorWrap .errorList li {
  padding-left: 14px;
}

.formArea .errorWrap .errorList li:before {
  content: '・';
  margin-left: -14px;
}

.formArea .error strong {
  color: #FF0004;
}

.formArea .result,
.formArea .noresult {
  display: inline-block;
  border-radius: 3px;
  font-size: 1.4rem;
}

.formArea .result + .result,
.formArea .result + .noresult,
.formArea .noresult + .result,
.formArea .noresult + .noresult {
  margin-left: 5px;
}

.formArea .result .inputappend,
.formArea .result .inputprepend,
.formArea .noresult .inputappend,
.formArea .noresult .inputprepend {
  display: inline-block;
}

.formArea .uploadresult {
  display: block;
  background-color: transparent;
}

.formArea .uploadresult.noresult {
  display: inline-block;
}

.formArea .noresult {
  background-color: #DADADA;
}

.formArea .confirm {
  background-color: #808028;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
  padding: 15px 0;
  max-width: 350px;
  width: 100%;
  -webkit-transition: .2s;
  transition: .2s;
}

.formArea .confirm input {
  cursor: pointer;
  font-size: 1.8rem;
  color: #FFF;
}

@media (max-width: 640px) {
  .formArea .confirm {
    width: 100%;
  }
}

.no-touchevents .formArea .confirm:hover {
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}

.formArea .back {
  cursor: pointer;
  margin: 0 20px;
  /*.no-touchevents &:hover {
			-webkit-filter: brightness(1.2);
			filter: brightness(1.2);
		}*/
}

.formArea .back input {
  cursor: pointer;
}

@media (max-width: 640px) {
  .formArea .back {
    width: 100%;
    max-width: 240px;
    margin: 0 auto;
  }
}

.formArea .finbtn {
  background-color: #808028;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
  padding: 15px 0;
  max-width: 350px;
  width: 100%;
  -webkit-transition: .2s;
  transition: .2s;
}

.formArea .finbtn input {
  cursor: pointer;
  font-size: 1.8rem;
  color: #FFF;
}

@media (max-width: 640px) {
  .formArea .finbtn {
    width: 100%;
  }
}

.no-touchevents .formArea .finbtn:hover {
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}

/*# sourceMappingURL=maps/inquiry.css.map */
