@charset "UTF-8";
@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Light.woff") format("woff"), url("/common/font/NotoSansJP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Regular.woff") format("woff"), url("/common/font/NotoSansJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Medium.woff") format("woff"), url("/common/font/NotoSansJP-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Bold.woff") format("woff"), url("/common/font/NotoSansJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Light.woff") format("woff"), url("/common/font/NotoSerifJP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Regular.woff") format("woff"), url("/common/font/NotoSerifJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Medium.woff") format("woff"), url("/common/font/NotoSerifJP-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Bold.woff") format("woff"), url("/common/font/NotoSerifJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* -----------------------------------------------------------------------------

特定商取引に関する法律表記

----------------------------------------------------------------------------- */
.contents {
  padding-top: 65px;
  padding-bottom: 105px;
  max-width: 1000px;
  width: 0 auto;
}

@media screen and (max-width: 640px) {
  .contents {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

/*# sourceMappingURL=maps/notation.css.map */
