@charset "UTF-8";
.contents > dl dt, .inline.tp02 dt {
  font-weight: bold;
}

@media screen and (max-width: 640px) {
  .contents > dl dt, .inline.tp02 dt {
    font-weight: normal;
    -webkit-text-stroke: 0.4px;
  }
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Light.woff") format("woff"), url("/common/font/NotoSansJP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Regular.woff") format("woff"), url("/common/font/NotoSansJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Medium.woff") format("woff"), url("/common/font/NotoSansJP-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Bold.woff") format("woff"), url("/common/font/NotoSansJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Light.woff") format("woff"), url("/common/font/NotoSerifJP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Regular.woff") format("woff"), url("/common/font/NotoSerifJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Medium.woff") format("woff"), url("/common/font/NotoSerifJP-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Bold.woff") format("woff"), url("/common/font/NotoSerifJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* -----------------------------------------------------------------------------

サポーター＆スタッフ募集

----------------------------------------------------------------------------- */
.contents {
  padding-top: 65px;
  padding-bottom: 105px;
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .contents {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

.contents .sec_tit02 + dl {
  margin-top: 45px;
}

@media screen and (max-width: 640px) {
  .contents .sec_tit02 + dl {
    margin-top: 20px;
  }
}

.contents > dl dt {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.75;
  letter-spacing: 0.04em;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 640px) {
  .contents > dl dt {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.contents > dl dd {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
  letter-spacing: 0.04em;
}

@media screen and (max-width: 640px) {
  .contents > dl dd {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.contents dl + .sec_tit02 {
  margin-top: 55px;
}

.contents > .link {
  margin-top: 15px;
  margin-bottom: 70px;
  text-align: right;
}

@media screen and (max-width: 640px) {
  .contents > .link {
    margin-bottom: 40px;
    text-align: center;
  }
}

.contents > .link > a {
  display: inline-block;
}

.contents > .link .mod_btn05 > * {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 2.6;
}

@media screen and (max-width: 640px) {
  .contents > .link .mod_btn05 > * {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 2.4;
  }
}

.contents .sec_tit02.regular span:after {
  width: 153px;
  height: 22px;
  background-image: url(../img/offer/tit_txt_regular.png);
}

@media screen and (max-width: 640px) {
  .contents .sec_tit02.regular span:after {
    width: 120px;
    height: 16px;
    background-size: auto 100%;
  }
}

.contents .sec_tit02.part span:after {
  width: 126px;
  height: 22px;
  background-image: url(../img/offer/tit_txt_part.png);
}

@media screen and (max-width: 640px) {
  .contents .sec_tit02.part span:after {
    width: 100px;
    height: 16px;
    background-size: auto 100%;
  }
}

.contents section + section {
  margin-top: 80px;
}

.box_wrap {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 0;
  margin-top: 60px;
  border: 10px solid #f7f7f7;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .box_wrap {
    margin-top: 30px;
    border: 5px solid #f7f7f7;
  }
}

.box_wrap .title {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'noto_serif';
  font-weight: 500;
  color: #7f0e2c;
}

@media screen and (max-width: 640px) {
  .box_wrap .title {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.box_wrap .title + p {
  font-size: 16px;
  font-size: 1.6rem;
  margin-top: 45px;
}

@media screen and (max-width: 640px) {
  .box_wrap .title + p {
    margin-top: 20px;
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.box_wrap .info_box li {
  font-size: 16px;
  font-size: 1.6rem;
}

@media screen and (max-width: 640px) {
  .box_wrap .info_box li {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.box_wrap .info_box li a + a:before {
  content: '/';
  display: inline-block;
  margin: 0 0.5em;
}

.box_wrap .info_box li a[href] {
  text-decoration: underline;
  color: #b6a58b;
}

.no-touchevents .box_wrap .info_box li a[href]:hover {
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .inline.tp02 {
    margin-top: 0.5em;
    text-align: center;
  }
}

.inline.tp02 dt {
  display: inline-block;
  width: 215px;
}

@media screen and (max-width: 640px) {
  .inline.tp02 dt {
    display: block;
    width: 100%;
  }
}

/*# sourceMappingURL=maps/offer.css.map */
