@charset "UTF-8";
@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Light.woff") format("woff"), url("/common/font/NotoSansJP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Regular.woff") format("woff"), url("/common/font/NotoSansJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Medium.woff") format("woff"), url("/common/font/NotoSansJP-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Bold.woff") format("woff"), url("/common/font/NotoSansJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Light.woff") format("woff"), url("/common/font/NotoSerifJP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Regular.woff") format("woff"), url("/common/font/NotoSerifJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Medium.woff") format("woff"), url("/common/font/NotoSerifJP-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Bold.woff") format("woff"), url("/common/font/NotoSerifJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* -----------------------------------------------------------------------------

プライバシーポリシー

----------------------------------------------------------------------------- */
.contents {
  padding-top: 70px;
  padding-bottom: 100px;
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .contents {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

.rule_box > dt {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'noto_serif';
  font-weight: 500;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #7f0e2c;
  border-bottom: 1px solid #7f0e2c;
}

@media screen and (max-width: 640px) {
  .rule_box > dt {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.rule_box > dd {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
}

@media screen and (max-width: 640px) {
  .rule_box > dd {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.rule_box > dd > * {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
}

@media screen and (max-width: 640px) {
  .rule_box > dd > * {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.rule_box > dd p + p {
  margin-top: 1em;
}

.rule_box > dd p + ol {
  margin-top: 1em;
}

.rule_box + .rule_box {
  margin-top: 55px;
}

@media screen and (max-width: 640px) {
  .rule_box + .rule_box {
    margin-top: 25px;
  }
}

.num_list li {
  list-style-type: decimal;
  list-style-position: inside;
  font-size: 16px;
  font-size: 1.6rem;
}

@media screen and (max-width: 640px) {
  .num_list li {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.num_list.tp02 {
  counter-reset: tp02;
  list-style-type: none;
}

.num_list.tp02 > li {
  list-style-type: none;
  position: relative;
  padding-left: 2em;
}

.num_list.tp02 > li:before {
  position: absolute;
  left: 0;
  top: 0;
  content: counter(tp02) ". ";
  counter-increment: tp02;
  font-weight: bold;
  font-size: 18px;
  font-size: 1.8rem;
  color: #800e2f;
}

.num_list.tp02 > li .tit {
  font-weight: bold;
  font-size: 18px;
  font-size: 1.8rem;
}

.num_list.tp02 > li + li {
  margin-top: 0.5em;
}

.num_list.tp03 {
  counter-reset: tp03;
  list-style-type: none;
}

.num_list.tp03 > li {
  list-style-type: none;
  position: relative;
  padding-left: 2em;
  font-size: 16px;
  font-size: 1.6rem;
}

.num_list.tp03 > li:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "0" counter(tp03);
  counter-increment: tp03;
  font-weight: bold;
  font-size: 16px;
  font-size: 1.6rem;
}

.num_list.tp03 > li:nth-type-of(9):before {
  content: counter(tp03);
}

.num_list.tp03 > li .tit {
  font-weight: bold;
  font-size: 16px;
  font-size: 1.6rem;
}

.num_list.tp04 {
  counter-reset: tp02;
  list-style-type: none;
}

.num_list.tp04 > li {
  list-style-type: none;
  position: relative;
  padding-left: 1.5em;
  font-size: 16px;
  font-size: 1.6rem;
}

.num_list.tp04 > li:before {
  position: absolute;
  left: 0;
  top: 0;
  content: counter(tp02) ". ";
  counter-increment: tp02;
  font-weight: bold;
  font-size: 16px;
  font-size: 1.6rem;
  color: #800e2f;
}

.num_list.tp04 > li .tit {
  font-weight: bold;
  font-size: 16px;
  font-size: 1.6rem;
}

.num_list.tp04 > li + li {
  margin-top: 0.5em;
}

.signature_box {
  margin-top: 2em;
}

.signature_box p, .signature_box dd {
  font-size: 16px;
  font-size: 1.6rem;
}

@media screen and (max-width: 640px) {
  .signature_box p, .signature_box dd {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.signature_box .inline:after {
  content: '';
  display: block;
  clear: both;
}

.signature_box .inline dt {
  float: left;
}

.signature_box .wrap .inline dd {
  float: left;
}

.signature_box .wrap .inline dd + dt:before {
  content: '／';
  display: inline-block;
  padding: 0 0.5em;
}

.signature_box a[href] {
  color: #a38664;
  text-decoration: underline;
}

.no-touchevents .signature_box a[href]:hover {
  text-decoration: none;
}

/*# sourceMappingURL=maps/privacy.css.map */
