@charset "UTF-8";
.detail .event_box > .wrap .spec_box_wrap > dl > dt span, .detail .event_box > .wrap .spec_box_wrap > dl > dd > div.status .wrap span, .detail .event_box > .wrap .spec_box_wrap > dl > dd > div.age .wrap span, .detail .event_box > .wrap .spec_box_wrap > dl > dd > div.price .wrap p, .detail .event_box > .wrap .spec_box_wrap > dl > dd > div.price .wrap p span, .detail .event_box > .wrap .spec_box_wrap > dl.male > dd .sec_title span, .detail .event_box > .wrap .spec_box_wrap > dl.female > dd .sec_title span, .detail .event_box > .wrap .access_box .access_detail > dl > dt, .event_box .spec_box dd.age, .event_box .spec_box dd.price p {
  font-weight: bold;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .spec_box_wrap > dl > dt span, .detail .event_box > .wrap .spec_box_wrap > dl > dd > div.status .wrap span, .detail .event_box > .wrap .spec_box_wrap > dl > dd > div.age .wrap span, .detail .event_box > .wrap .spec_box_wrap > dl > dd > div.price .wrap p, .detail .event_box > .wrap .spec_box_wrap > dl > dd > div.price .wrap p span, .detail .event_box > .wrap .spec_box_wrap > dl.male > dd .sec_title span, .detail .event_box > .wrap .spec_box_wrap > dl.female > dd .sec_title span, .detail .event_box > .wrap .access_box .access_detail > dl > dt, .event_box .spec_box dd.age, .event_box .spec_box dd.price p {
    font-weight: normal;
    -webkit-text-stroke: 0.4px;
  }
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Light.woff") format("woff"), url("/common/font/NotoSansJP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Regular.woff") format("woff"), url("/common/font/NotoSansJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Medium.woff") format("woff"), url("/common/font/NotoSansJP-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans';
  src: url("/common/font/NotoSansJP-Bold.woff") format("woff"), url("/common/font/NotoSansJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Light.woff") format("woff"), url("/common/font/NotoSerifJP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Regular.woff") format("woff"), url("/common/font/NotoSerifJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Medium.woff") format("woff"), url("/common/font/NotoSerifJP-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serif';
  src: url("/common/font/NotoSerifJP-Bold.woff") format("woff"), url("/common/font/NotoSerifJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* -----------------------------------------------------------------------------

パーティー検索

----------------------------------------------------------------------------- */
header.mv {
  height: 280px;
}

@media screen and (max-width: 640px) {
  header.mv {
    height: 160px;
  }
}

header.mv > .page_tit {
  top: 180px;
}

@media screen and (max-width: 640px) {
  header.mv > .page_tit {
    top: 98px;
  }
}

@media screen and (max-width: 640px) {
  .contents.main {
    margin-top: 25px;
    float: none;
  }
}

.contentsWrap > .in {
  background-color: #f6f4ed;
  text-align: center;
  position: relative;
}

.contentsWrap > .in:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  height: 6px;
  width: 100%;
  background: #7f0e2c;
  background: -webkit-gradient(linear, left top, right top, from(#7f0e2c), to(#490515));
  background: linear-gradient(to right, #7f0e2c 0%, #490515 100%);
}

@media screen and (max-width: 640px) {
  .contentsWrap > .in:before {
    content: none;
  }
}

.contentsWrap > .in .mod_wrap03 {
  padding-top: 15px;
  padding-bottom: 36px;
}

@media screen and (max-width: 640px) {
  .contentsWrap > .in .mod_wrap03 {
    padding-top: 0;
    padding-bottom: 20px;
  }
}

.list .sec_tit {
  margin-top: 10px;
  height: 75px;
}

@media screen and (max-width: 640px) {
  .list .sec_tit {
    margin-top: 10px;
    height: 53px;
  }
}

.list .sec_tit > .alt {
  width: 532px;
  background-image: url(../img/schedule/search_tit.png);
  background-size: auto 52px;
  padding-top: 75px;
}

@media screen and (max-width: 640px) {
  .list .sec_tit > .alt {
    width: 100%;
    padding-top: 53px;
    background-size: auto 38px;
  }
}

.event .sec_tit,
.area .sec_tit {
  height: 45px;
  background: #250007;
  text-align: left;
  padding-left: 50px;
  background-image: url(../common/img/search_icon_large.png);
  background-size: 22px 22px;
  background-position: 20px center;
  background-repeat: no-repeat;
}

.event .sec_tit > span,
.area .sec_tit > span {
  display: inline;
  font-size: 20px;
  font-size: 2rem;
  line-height: 2.2;
  font-family: 'noto_serif';
  font-weight: 300;
  color: #fff;
}

.event .sec_tit > span:before,
.area .sec_tit > span:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.formArea {
  text-align: center;
}

.formArea .mod_btn01 {
  width: 290px;
  height: 50px;
  display: inline-block;
  position: relative;
  margin-left: 0;
  top: 5px;
}

@media screen and (max-width: 640px) {
  .formArea .mod_btn01 {
    margin: 0 auto;
    top: 0;
  }
}

.formArea .mod_btn01 > * {
  height: 50px;
  min-width: 0;
  padding: 10px;
  padding-left: 30px;
  font-size: 20px;
  font-size: 2rem;
  font-family: 'noto_serif';
  font-weight: 400;
  border-radius: 3px;
}

@media screen and (max-width: 640px) {
  .formArea .mod_btn01 > * {
    max-width: 100%;
    font-size: 18px;
    font-size: 1.8rem;
  }
}

.formArea .mod_btn01:before {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 2;
  left: 48px;
  top: 50%;
  margin-top: -15px;
  display: block;
  background-image: url(../common/img/search_icon_large.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

@media screen and (max-width: 640px) {
  .formArea .mod_btn01:before {
    margin-left: -10px;
  }
}

.formArea .mod_btn01:after {
  content: '';
  position: absolute;
  top: 2px;
  bottom: 1px;
  left: 2px;
  right: 2px;
  border-radius: 2px;
  border: 1px solid;
  border-top-color: rgba(0, 0, 0, 0.6);
  border-left-color: rgba(0, 0, 0, 0.1);
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.4);
}

.formArea .rowWrap {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 640px) {
  .formArea .rowWrap {
    display: block;
    position: relative;
    border-bottom: none;
    padding: 0;
  }
  .formArea .rowWrap:before {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    height: 1px;
    left: -16px;
    right: -16px;
    background-color: #ccc;
  }
  .formArea .rowWrap .wrap {
    position: relative;
  }
  .formArea .rowWrap .wrap:after {
    content: '';
    display: block;
    clear: both;
  }
  .formArea .rowWrap .wrap:before {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    height: 1px;
    left: -20px;
    right: -20px;
    background-color: #ccc;
  }
}

.formArea .rowWrap.col3 {
  table-layout: auto;
}

.formArea .rowWrap.col3 > .wrap {
  display: table;
  width: 100%;
}

.formArea .rowWrap.col3 > .wrap > .element {
  display: table-cell;
}

.formArea .rowWrap > .element {
  display: table-cell;
  text-align: left;
}

@media screen and (max-width: 640px) {
  .formArea .rowWrap > .element {
    display: block;
  }
}

.formArea .element {
  letter-spacing: 0;
  font-size: 0;
  margin-bottom: 15px;
}

@media screen and (max-width: 640px) {
  .formArea .element {
    padding: 10px 0 15px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.formArea .element > dt {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  font-size: 20px;
  font-size: 2rem;
  font-family: 'noto_sans';
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: left;
}

@media screen and (max-width: 640px) {
  .formArea .element > dt {
    font-size: 15px;
    font-size: 1.5rem;
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
}

.formArea .element > dt small {
  display: block;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
}

@media screen and (max-width: 640px) {
  .formArea .element > dt small {
    display: inline-block;
    font-size: 15px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 640px) {
  .formArea .element > dt.inline {
    display: inline-block;
    width: auto;
    min-width: 4em;
    max-width: 8em;
    margin-right: 1em;
    margin-bottom: 0;
  }
  .formArea .element > dt.inline + dd {
    display: inline-block;
    width: calc(100% - 9em);
  }
}

.formArea .element > dd {
  display: inline-block;
  vertical-align: middle;
}

.formArea .element > dd > div {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0;
  font-size: 0;
}

@media screen and (max-width: 640px) {
  .formArea .element > dd {
    display: block;
    width: 100%;
  }
  .formArea .element > dd > div {
    display: block;
    width: 100%;
  }
  .formArea .element > dd > div .select {
    width: 195px;
  }
}

@media screen and (max-width: 640px) {
  .formArea .element > dd .calender01_wrap,
  .formArea .element > dd .calender02_wrap {
    display: inline-block;
    width: 45.6%;
  }
}

.formArea .element > dd .calender01_wrap label,
.formArea .element > dd .calender02_wrap label {
  display: block;
  padding-right: 30px;
  height: 40px;
  background-image: url(../common/img/icon_cal.png);
  background-size: 25px auto;
  background-position: right center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 640px) {
  .formArea .element > dd .calender01_wrap label,
  .formArea .element > dd .calender02_wrap label {
    display: inline-block;
    height: 40px;
    padding-right: 0;
    background-image: none;
  }
}

.formArea .element > dd .calender02_wrap {
  padding-left: 20px;
  position: relative;
}

.formArea .element > dd .calender02_wrap:before {
  position: absolute;
  left: 0px;
  top: 10px;
  content: '～';
  display: inline-block;
  font-size: 15px;
  font-size: 1.5rem;
}

@media screen and (max-width: 640px) {
  .formArea .element > dd .calender02_wrap:before {
    top: 10px;
  }
}

@media screen and (max-width: 640px) {
  .formArea .element + .element {
    position: relative;
  }
  .formArea .element + .element:before {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    height: 1px;
    left: -20px;
    right: -20px;
    background-color: #ccc;
  }
}

@media screen and (max-width: 640px) {
  .formArea .element.inline {
    width: 48%;
    float: left;
    text-align: left;
  }
  .formArea .element.inline:before {
    content: none;
  }
  .formArea .element.inline .select {
    width: 96%;
  }
  .formArea .element.inline + .inline {
    float: right;
  }
}

.formArea .keywordWrap {
  text-align: center;
  background-color: #ede9dd;
  margin: 16px 0;
  padding: 16px 0;
}

@media screen and (max-width: 640px) {
  .formArea .keywordWrap {
    margin-left: -16px;
    margin-right: -16px;
    padding: 0 16px;
  }
}

.formArea .keywordWrap .element {
  margin-bottom: 0;
}

.formArea .keywordWrap .element dt {
  width: 170px;
}

@media screen and (max-width: 640px) {
  .formArea .keywordWrap .element dt {
    width: 100%;
    text-align: left;
  }
}

.formArea .keywordWrap .element dd input {
  width: 410px;
}

@media screen and (max-width: 640px) {
  .formArea .keywordWrap .element dd input {
    width: 100%;
  }
}

.event .formArea,
.area .formArea {
  display: none;
  background-color: #f7f4ed;
  padding-bottom: 24px;
  border-bottom: 6px solid #250007;
}

@media screen and (max-width: 640px) {
  .event .formArea,
  .area .formArea {
    margin-left: -16px;
    margin-right: -16px;
  }
}

.event .formArea .rowWrap,
.area .formArea .rowWrap {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 640px) {
  .event .formArea .rowWrap,
  .area .formArea .rowWrap {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.event .formArea.col3,
.area .formArea.col3 {
  table-layout: auto;
}

.event .formArea.col3 > .wrap,
.area .formArea.col3 > .wrap {
  display: table;
  width: 100%;
}

.event .formArea.col3 > .wrap > .element,
.area .formArea.col3 > .wrap > .element {
  display: table-cell;
}

.event .formArea > .element,
.area .formArea > .element {
  display: table-cell;
  text-align: left;
}

.event .formArea .keywordWrap,
.area .formArea .keywordWrap {
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 640px) {
  .event .formArea .keywordWrap,
  .area .formArea .keywordWrap {
    margin-left: 0;
    margin-right: 0;
  }
}

.search_box {
  background-color: #ede9dc;
  text-align: center;
  padding: 10px 0;
  margin-top: -35px;
}

@media screen and (max-width: 640px) {
  .search_box {
    margin-top: 0;
    margin-left: -16px;
    margin-right: -16px;
  }
}

.search_box .search_btn {
  display: inline-block;
  width: 315px;
  height: 45px;
  border-radius: 3px;
  position: relative;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#b59d55), color-stop(50%, #a18347), color-stop(51%, #7e6839), to(#48321d));
  background: linear-gradient(to bottom, #b59d55 0%, #a18347 50%, #7e6839 51%, #48321d 100%);
}

@media screen and (max-width: 640px) {
  .search_box .search_btn {
    margin: 0 auto;
    width: 280px;
    height: 40px;
  }
}

.search_box .search_btn > * {
  position: relative;
  display: inline;
  min-width: 0;
  padding-left: 20px;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'noto_serif';
  font-weight: 400;
  border-radius: 3px;
  color: #fff;
}

@media screen and (max-width: 640px) {
  .search_box .search_btn > * {
    height: 40px;
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.search_box .search_btn > *:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.search_box .search_btn > *:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 50%;
  margin-top: -7px;
  display: block;
  background-image: url(../common/img/search_icon_large.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

@media screen and (max-width: 640px) {
  .search_box .search_btn > *:after {
    left: 0px;
    margin-top: -7px;
    width: 14px;
    height: 14px;
  }
}

/* contents */
.contents {
  background-color: #fff;
}

.contents .mod_wrap03 > .detail {
  padding-bottom: 100px;
}

@media screen and (max-width: 640px) {
  .contents .mod_wrap03 > .detail {
    padding-bottom: 0;
  }
}

.detail .contents > .detail {
  padding-bottom: 100px;
}

@media screen and (max-width: 640px) {
  .detail .contents > .detail {
    padding-bottom: 50px;
  }
}

.result_box {
  margin: 35px 0;
}

@media screen and (max-width: 640px) {
  .result_box {
    margin: 15px 0 0;
  }
}

.result_box:after {
  content: '';
  display: block;
  clear: both;
}

.result_box .wrap:after {
  content: '';
  display: block;
  clear: both;
}

.result_box .wrap .result {
  float: left;
  margin-top: 10px;
}

@media screen and (max-width: 640px) {
  .result_box .wrap .result {
    margin-top: 0;
  }
}

.result_box .wrap .pager {
  float: right;
  margin-top: 0 !important;
  width: auto;
}

.result_box .result {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'noto_sans';
  font-weight: 700;
  color: #7e0d2b;
  margin-bottom: 10px;
}

@media screen and (max-width: 640px) {
  .result_box .result {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.56;
  }
}

.result_box .result span:before {
  content: '：';
  display: inline-block;
}

@media screen and (max-width: 640px) {
  .result_box .result span {
    display: block;
  }
  .result_box .result span:before {
    content: none;
  }
}

.result_box > .detail {
  display: block;
  font-size: 0;
  letter-spacing: 0;
}

.result_box > .detail p {
  display: inline-block;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'noto_sans';
  font-weight: 400;
  line-height: 2.0;
  color: #8b8886;
  padding-right: 30px;
}

.result_box > .detail p span {
  color: #3d3935;
}

.result_box > .detail p:nth-child(2) {
  width: 80%;
}

.event_box {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  width: 100%;
  padding: 15px;
  /* event detail */
}

.ie .event_box {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 640px) {
  .event_box {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;
  }
  .event_box + .result_box {
    margin: 16px 0 35px;
  }
}

.event_box + .event_box {
  margin-top: 15px;
}

@media screen and (max-width: 640px) {
  .event_box + .event_box {
    margin-top: 10px;
  }
}

.event_box .header {
  display: table;
  height: 70px;
  width: 100%;
  table-layout: fixed;
  background-color: #7f0e2c;
}

@media screen and (max-width: 640px) {
  .event_box .header {
    height: 60px;
  }
}

.event_box .header > p {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
}

@media screen and (max-width: 640px) {
  .event_box .header > p {
    padding: 0 18px;
  }
}

.event_box .header .date {
  text-align: left;
  color: #fff;
  font-size: 24px;
  font-size: 2.4rem;
  font-family: 'noto_sans';
  font-weight: 700;
}

@media screen and (max-width: 640px) {
  .event_box .header .date {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.3;
  }
}

.event_box .header .date > .time {
  margin-left: 1em;
}

@media screen and (max-width: 640px) {
  .event_box .header .date > .time {
    display: block;
    margin-left: 0;
  }
}

.event_box .header .place {
  position: relative;
  text-align: right;
  background-color: #9e040c;
  color: #ffe404;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'noto_sans';
  font-weight: 400;
  background-image: url(../img/schedule/detail/deco02.png);
  background-size: auto 60px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

@media screen and (max-width: 640px) {
  .event_box .header .place {
    background-size: auto 60px;
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.event_box .header .place:before {
  position: absolute;
  left: 0px;
  top: 0;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 35px 0 35px 19px;
  border-color: transparent transparent transparent #7f0e2c;
}

@media screen and (max-width: 640px) {
  .event_box .header .place:before {
    border-width: 30px 0 30px 18px;
  }
}

.event_box .header .place .area {
  display: block;
  font-family: 'noto_sans';
  font-weight: 700;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.2;
}

@media screen and (max-width: 640px) {
  .event_box .header .place .area {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.event_box > .detail {
  background-color: #f7f4ed;
  padding: 15px 20px;
  margin-top: 0;
  display: table;
}

@media screen and (max-width: 640px) {
  .event_box > .detail {
    padding: 10px 16px;
    display: block;
  }
}

.event_box > .detail .left {
  display: table-cell;
  width: 630px;
  vertical-align: top;
  background-image: url(../img/schedule/detail/deco01.png);
  background-size: auto 112px;
  background-repeat: no-repeat;
  background-position: right 95px;
}

@media screen and (max-width: 640px) {
  .event_box > .detail .left {
    display: block;
    width: 100%;
    background-size: auto 50px;
    background-position: right 80px;
  }
}

.event_box > .detail .right {
  padding-left: 30px;
  width: 410px;
  font-size: 0;
  letter-spacing: 0;
}

.event_box > .detail .right > .wrap {
  display: table-cell;
  vertical-align: top;
  position: relative;
  padding-bottom: 70px;
  background-color: #fff;
}

.event_box > .detail .right > .wrap:before {
  content: '';
  display: block;
  position: absolute;
  background-color: #f7f4ed;
  width: 10px;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
}

@media screen and (max-width: 640px) {
  .event_box > .detail .right {
    display: block;
    padding: 0;
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;
  }
  .event_box > .detail .right > .wrap {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .event_box > .detail .right > .wrap:before {
    background-color: #d6ccc2;
    width: 1px;
    z-index: 1;
    margin-left: 0;
  }
}

.detail .event_box > .wrap {
  background-color: #fff;
  padding: 15px;
  display: block;
  background-image: url(../img/schedule/detail/deco01.png);
  background-size: 198px auto;
  background-position: 88% 110px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap {
    background: none;
    padding: 16px 0;
  }
}

.detail .event_box > .wrap header {
  display: table;
  width: 100%;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap header {
    position: relative;
    display: block;
    padding-left: -16px;
    padding-right: 16px;
  }
  .detail .event_box > .wrap header:before {
    content: '';
    display: block;
    position: absolute;
    top: -16px;
    bottom: -32px;
    left: -16px;
    right: -16px;
    background-color: #f6f4ed;
    background-image: url(../img/schedule/detail/deco01.png);
    background-size: 99px auto;
    background-position: 85% 90px;
    background-repeat: no-repeat;
  }
}

.detail .event_box > .wrap header .left {
  display: table-cell;
  width: 660px;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap header .left {
    position: relative;
    z-index: 1;
    display: block;
    width: calc(100% - 32px);
    padding-left: 16px;
    padding-right: 16px;
  }
}

.detail .event_box > .wrap header .right {
  padding-left: 30px;
  display: table-cell;
  width: 180px;
}

.detail .event_box > .wrap header .right .male {
  margin-bottom: 10px;
}

.detail .event_box > .wrap header .right .mod_btn06 span {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'noto_sans';
  font-weight: 700;
}

.detail .event_box > .wrap header .right .mod_btn06.cancel span {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.1;
}

.detail .event_box > .wrap header .right .mod_btn06.cancel span small {
  font-size: 12px;
  font-size: 1.2rem;
}

.detail .event_box > .wrap header .right .drawer_box {
  margin-top: 10px;
}

.detail .event_box > .wrap header .right .drawer_box .drawer {
  width: 130%;
}

.detail .event_box > .wrap header .title {
  margin-top: 30px;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap header .title {
    margin-top: 5px;
  }
}

.detail .event_box > .wrap header .spec {
  letter-spacing: 0.02em;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap header .spec {
    line-height: 1.75;
    letter-spacing: 0.04em;
  }
}

.detail .event_box > .wrap .ph {
  width: 100%;
  padding-top: 47.3%;
  margin-left: 0;
  margin-right: 0;
  height: 0;
}

.detail .event_box > .wrap .spec_box_wrap {
  display: table;
  table-layout: fixed;
  margin-left: 180px;
  margin-top: 50px;
  max-width: 685px;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 1279px) {
  .detail .event_box > .wrap .spec_box_wrap {
    max-width: 590px;
  }
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .spec_box_wrap {
    max-width: 100%;
    margin-top: 25px;
    margin-left: 0;
  }
}

.detail .event_box > .wrap .spec_box_wrap .sec_title {
  display: inline-block;
  background: none;
  text-align: left;
  line-height: 1.8;
  color: #897b6e;
  height: auto;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .spec_box_wrap .sec_title {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .spec_box_wrap .sec_title.spNon {
    display: none !important;
  }
}

.detail .event_box > .wrap .spec_box_wrap > dl {
  display: table-cell;
}

.detail .event_box > .wrap .spec_box_wrap > dl > dt {
  height: 64px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .spec_box_wrap > dl > dt {
    height: 37px;
  }
}

.detail .event_box > .wrap .spec_box_wrap > dl > dt span {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 3.2;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .spec_box_wrap > dl > dt span {
    font-size: 12px;
    font-size: 1.2rem;
  }
}

.detail .event_box > .wrap .spec_box_wrap > dl > dt span:before {
  position: relative;
  top: -4px;
  content: '';
  display: inline-block;
  height: 100%;
  width: 40px;
  background-size: 39px auto;
  background-position: 0 center;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 8px;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .spec_box_wrap > dl > dt span:before {
    width: 24px;
    margin-right: 6px;
    background-size: 24px auto;
  }
}

.detail .event_box > .wrap .spec_box_wrap > dl > dd > div {
  text-align: center;
  position: relative;
  padding: 20px;
  min-height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #988c7e;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .spec_box_wrap > dl > dd > div {
    padding: 0 0 10px;
    min-height: 0;
  }
}

.detail .event_box > .wrap .spec_box_wrap > dl > dd > div .atn {
  margin-top: 18px;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .spec_box_wrap > dl > dd > div .atn {
    padding: 0 10px;
  }
}

.detail .event_box > .wrap .spec_box_wrap > dl > dd > div .atn:after {
  content: '';
  display: block;
  clear: both;
}

.detail .event_box > .wrap .spec_box_wrap > dl > dd > div .atn > dt {
  float: left;
  display: inline-block;
  min-width: 70px;
  background-color: #7f0e2c;
  text-align: center;
  padding: 0 5px;
  color: #fff;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: 'noto_sans';
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 1.4;
  margin-right: 5px;
  border: none;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .spec_box_wrap > dl > dd > div .atn > dt {
    min-width: 37px;
    font-size: 11px;
    font-size: 1.1rem;
    padding: 0 3px;
  }
}

.detail .event_box > .wrap .spec_box_wrap > dl > dd > div .atn > dd {
  text-align: left;
  color: #7f0e2c;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.6;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .spec_box_wrap > dl > dd > div .atn > dd {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.75;
  }
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .spec_box_wrap > dl > dd > div.status {
    padding-top: 10px;
  }
}

.detail .event_box > .wrap .spec_box_wrap > dl > dd > div.status .wrap span {
  display: inline-block;
  width: 160px;
  height: 36px;
  border-radius: 5px;
  border: 3px solid;
  border-color: #8b7230;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #8b7230;
  font-weight: bold;
  padding: 5px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .spec_box_wrap > dl > dd > div.status .wrap span {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.4;
    border: 2px solid;
    width: 120px;
    height: 32px;
  }
}

.detail .event_box > .wrap .spec_box_wrap > dl > dd > div.status .wrap span.type02 {
  color: #993c47;
  border-color: #993c47;
}

.detail .event_box > .wrap .spec_box_wrap > dl > dd > div.status .wrap span.type03 {
  color: #ff0302;
  border-color: #ff0302;
}

.detail .event_box > .wrap .spec_box_wrap > dl > dd > div.age .wrap span {
  font-size: 20px;
  font-size: 2rem;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .spec_box_wrap > dl > dd > div.age .wrap span {
    font-size: 15px;
    font-size: 1.5rem;
  }
}

.detail .event_box > .wrap .spec_box_wrap > dl > dd > div.price .wrap p {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.2;
  padding-right: 90px;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .spec_box_wrap > dl > dd > div.price .wrap p {
    display: block;
    font-size: 15px;
    font-size: 1.5rem;
    text-align: center;
    padding-right: 0;
  }
}

.detail .event_box > .wrap .spec_box_wrap > dl > dd > div.price .wrap p span {
  position: absolute;
  display: inline-block;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: 0;
  font-weight: normal;
  color: #fff;
  padding: 3px 5px;
  margin-left: 10px;
  margin-top: -2px;
  background-color: #a89982;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .spec_box_wrap > dl > dd > div.price .wrap p span {
    font-size: 10px;
    font-size: 1rem;
    display: inline-block;
    position: static;
    margin-left: 0;
  }
}

.detail .event_box > .wrap .spec_box_wrap > dl > dd > div.price .wrap p + p {
  margin-top: 10px;
}

.detail .event_box > .wrap .spec_box_wrap > dl > dd > div.detail .wrap {
  text-align: left;
}

.detail .event_box > .wrap .spec_box_wrap > dl > dd > div.detail .wrap p {
  text-align: left;
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.75;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .spec_box_wrap > dl > dd > div.detail .wrap p {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.75;
    padding: 0 10px;
  }
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .spec_box_wrap > dl > dd > div.entry {
    padding-top: 10px;
  }
}

.detail .event_box > .wrap .spec_box_wrap > dl > dd > div.entry .mod_btn06 {
  margin: 0 auto;
}

.detail .event_box > .wrap .spec_box_wrap > dl > dd > div.entry .mod_btn06 span {
  font-size: 20px;
  font-size: 2rem;
}

.detail .event_box > .wrap .spec_box_wrap > dl.male > dt {
  background-color: #adafbe;
  border-bottom: 2px solid #323761;
}

.detail .event_box > .wrap .spec_box_wrap > dl.male > dt span {
  color: #323761;
}

.detail .event_box > .wrap .spec_box_wrap > dl.male > dt span:before {
  background-image: url(../img/schedule/detail/icon_male.png);
}

.detail .event_box > .wrap .spec_box_wrap > dl.male > dd {
  background-color: #f4f5f7;
}

.detail .event_box > .wrap .spec_box_wrap > dl.male > dd > .detail {
  background-color: #e1e2e7;
}

.detail .event_box > .wrap .spec_box_wrap > dl.male > dd .sec_title {
  display: block;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: -180px;
  top: 0;
  bottom: -1px;
  width: 180px;
  background-color: #e2d8cf;
  border-right: 1px solid #988c7e;
  border-bottom: 1px solid #988c7e;
  min-height: 80px;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .spec_box_wrap > dl.male > dd .sec_title {
    width: 100%;
    position: static;
    padding: 0;
    margin-bottom: 10px;
    min-height: 0;
    border-right: none;
  }
}

.detail .event_box > .wrap .spec_box_wrap > dl.male > dd .sec_title span {
  display: inline;
  font-size: 18px;
  font-size: 1.8rem;
  color: #887a6d;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .spec_box_wrap > dl.male > dd .sec_title span {
    font-size: 12px;
    font-size: 1.2rem;
  }
}

.detail .event_box > .wrap .spec_box_wrap > dl.male > dd .sec_title span:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.detail .event_box > .wrap .spec_box_wrap > dl.female {
  border-left: 1px solid #988c7e;
  border-right: 1px solid #988c7e;
}

.detail .event_box > .wrap .spec_box_wrap > dl.female > dt {
  background-color: #dfa0b3;
  border-bottom: 2px solid #af1343;
}

.detail .event_box > .wrap .spec_box_wrap > dl.female > dt span {
  color: #af1343;
}

.detail .event_box > .wrap .spec_box_wrap > dl.female > dt span:before {
  background-image: url(../img/schedule/detail/icon_female.png);
}

.detail .event_box > .wrap .spec_box_wrap > dl.female > dd {
  background-color: #fcf3f6;
}

.detail .event_box > .wrap .spec_box_wrap > dl.female > dd .sec_title {
  display: none;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: -180px;
  top: 0;
  bottom: -1px;
  width: 180px;
  background-color: #e2d8cf;
  border-right: 1px solid #988c7e;
  border-bottom: 1px solid #988c7e;
  min-height: 80px;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .spec_box_wrap > dl.female > dd .sec_title {
    width: 100%;
    display: block;
    position: static;
    padding: 0;
    margin-bottom: 10px;
    min-height: 0;
    border-right: none;
  }
}

.detail .event_box > .wrap .spec_box_wrap > dl.female > dd .sec_title span {
  display: inline;
  font-size: 18px;
  font-size: 1.8rem;
  color: #887a6d;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .spec_box_wrap > dl.female > dd .sec_title span {
    font-size: 12px;
    font-size: 1.2rem;
  }
}

.detail .event_box > .wrap .spec_box_wrap > dl.female > dd .sec_title span:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.detail .event_box > .wrap .spec_box_wrap > dl.female > dd > .detail {
  background-color: #f3dce4;
}

.detail .event_box > .wrap .detail_box {
  margin-top: 30px;
}

.detail .event_box > .wrap .detail_box .accordion {
  display: table;
  width: 100%;
  border-bottom: 1px solid #988c7e;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .detail_box .accordion {
    display: block;
  }
}

.detail .event_box > .wrap .detail_box .accordion:first-child {
  border-top: 1px solid #988c7e;
}

.detail .event_box > .wrap .detail_box .accordion dt, .detail .event_box > .wrap .detail_box .accordion dd {
  display: table-cell;
  padding: 20px;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .detail_box .accordion dt, .detail .event_box > .wrap .detail_box .accordion dd {
    padding: 10px 16px;
  }
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .detail_box .accordion dt, .detail .event_box > .wrap .detail_box .accordion dd {
    display: block;
  }
}

.detail .event_box > .wrap .detail_box .accordion dt {
  vertical-align: middle;
  width: 180px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e2d8cf;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'noto_sans';
  font-weight: 700;
  line-height: 1.77;
  color: #887a6d;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .detail_box .accordion dt {
    position: relative;
    width: 100%;
    font-size: 14px;
    font-size: 1.4rem;
  }
  .detail .event_box > .wrap .detail_box .accordion dt:before {
    position: absolute;
    right: 10px;
    content: '＋';
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 1;
    font-family: 'noto_sans';
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
  }
  .detail .event_box > .wrap .detail_box .accordion dt.open:before {
    content: 'ー';
  }
}

.detail .event_box > .wrap .detail_box .accordion dd {
  text-align: left;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .detail_box .accordion dd {
    display: none;
  }
}

.detail .event_box > .wrap .detail_box .accordion dd > * {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .detail_box .accordion dd > * {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.detail .event_box > .wrap .detail_box .accordion dd p + p {
  margin-top: 2em;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .detail_box .accordion dd p + p {
    margin-top: 1em;
  }
}

.detail .event_box > .wrap .detail_box .accordion dd .dress {
  margin-bottom: 20px;
}

.detail .event_box > .wrap .detail_box .accordion dd .dress li {
  margin-bottom: 10px;
  font-size: 16px;
  font-size: 1.6rem;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .detail_box .accordion dd .dress li {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.detail .event_box > .wrap .detail_box .accordion dd .dress li span {
  position: relative;
  font-weight: bold;
  margin-right: 25px;
  padding-left: 40px;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .detail_box .accordion dd .dress li span {
    margin-right: 10px;
    padding-left: 25px;
  }
}

.detail .event_box > .wrap .detail_box .accordion dd .dress li span:before {
  left: 0;
  top: 50%;
  margin-top: -13px;
  content: '';
  display: inline-block;
  position: absolute;
  width: 26px;
  height: 26px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .detail_box .accordion dd .dress li span:before {
    width: 20px;
    height: 20px;
    margin-top: -10px;
  }
}

.detail .event_box > .wrap .detail_box .accordion dd .male {
  color: #303761;
}

.detail .event_box > .wrap .detail_box .accordion dd .male span:before {
  background-image: url(../img/schedule/detail/icon_male.png);
}

.detail .event_box > .wrap .detail_box .accordion dd .female {
  color: #af1343;
}

.detail .event_box > .wrap .detail_box .accordion dd .female span:before {
  background-image: url(../img/schedule/detail/icon_female.png);
}

.detail .event_box > .wrap .detail_box .accordion dd .icon {
  display: inline-block;
  padding: 3px;
  line-height: 1;
  color: #fff;
  background-color: #a89982;
  margin-bottom: 0.5em;
}

.detail .event_box > .wrap .access_box {
  margin-top: 60px;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .access_box {
    margin-top: 30px;
    padding: 16px;
  }
}

.detail .event_box > .wrap .access_box .sec_tit02 span {
  font-size: 22px;
  font-size: 2.2rem;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .access_box .sec_tit02 span {
    font-size: 15px;
    font-size: 1.5rem;
  }
}

.detail .event_box > .wrap .access_box .sec_tit02 span:after {
  height: 22px;
  width: 70px;
  background-image: url(../img/schedule/detail/tit_txt_access.png);
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .access_box .sec_tit02 span:after {
    width: 46px;
    height: 16px;
    background-size: auto 100%;
  }
}

.detail .event_box > .wrap .access_box .access_detail {
  position: relative;
}

.detail .event_box > .wrap .access_box .access_detail figure {
  position: absolute;
  top: 28px;
  right: 0;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .access_box .access_detail figure {
    position: static;
  }
}

.detail .event_box > .wrap .access_box .access_detail > dl {
  max-width: 515px;
  width: 100%;
  border-bottom: 1px solid #d4ccc1;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .access_box .access_detail > dl {
    max-width: 100%;
  }
}

.detail .event_box > .wrap .access_box .access_detail > dl:after {
  content: '';
  display: block;
  clear: both;
}

.detail .event_box > .wrap .access_box .access_detail > dl > dt {
  float: left;
  width: 100px;
  padding: 28px 0;
  color: #aa9983;
  font-size: 18px;
  font-size: 1.8rem;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .access_box .access_detail > dl > dt {
    float: none;
    width: auto;
    font-size: 14px;
    font-size: 1.4rem;
    padding: 5px 0 0;
  }
}

.detail .event_box > .wrap .access_box .access_detail > dl > dd {
  padding-left: 100px;
  padding: 28px 0;
  font-size: 16px;
  font-size: 1.6rem;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .access_box .access_detail > dl > dd {
    padding-left: 0;
    font-size: 14px;
    font-size: 1.4rem;
    padding: 0 0 5px;
  }
}

.no-touchevents .detail .event_box > .wrap .access_box .access_detail > dl > dd a:hover {
  text-decoration: underline;
}

.detail .event_box > .wrap .access_box .access_detail > dl.place > dd {
  font-size: 18px;
  font-size: 1.8rem;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .access_box .access_detail > dl.place > dd {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.detail .event_box > .wrap .access_box .access_detail .access {
  max-width: 100%;
  border-bottom: none;
}

.detail .event_box > .wrap .link {
  text-align: center;
  background-color: #f7f4ed;
  padding: 30px 0;
  margin-top: 45px;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .link {
    margin-top: 16px;
    padding: 16px 0;
    margin: 0 auto;
    letter-spacing: 0;
    font-size: 0;
  }
}

.detail .event_box > .wrap .link > p {
  display: inline-block;
}

.detail .event_box > .wrap .link > p .mod_btn06 {
  width: 300px;
  height: 60px;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .link > p .mod_btn06 {
    display: block;
    max-width: 155px;
    width: 100%;
    height: 50px;
  }
}

.detail .event_box > .wrap .link > p .mod_btn06 > * {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'noto_sans';
  font-weight: 700;
  min-width: 155px;
}

@media screen and (max-width: 360px) {
  .detail .event_box > .wrap .link > p .mod_btn06 > * {
    min-width: 150px;
  }
}

.detail .event_box > .wrap .link > p .mod_btn06:before {
  width: 300px;
  height: 56px;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .link > p .mod_btn06:before {
    max-width: 155px;
    width: 100%;
    height: 46px;
  }
}

.detail .event_box > .wrap .link .female {
  margin-left: 50px;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .link .female {
    margin-left: 10px;
  }
}

.detail .event_box > .wrap .drawer_box.bottom {
  margin-bottom: 0;
  position: relative;
  right: auto;
  width: auto;
}

.detail .event_box > .wrap .drawer_box.bottom .drawer_btn {
  right: auto;
  left: 50%;
  margin-left: -80px;
}

.detail .event_box > .wrap .drawer_box.bottom .drawer {
  right: auto;
  left: 50%;
  margin-left: -180px;
  width: auto;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .drawer_box.bottom .drawer {
    margin-left: -130px;
  }
}

.detail .event_box > .wrap .drawer_box.bottom .drawer:before {
  right: 155px;
}

@media screen and (max-width: 640px) {
  .detail .event_box > .wrap .drawer_box.bottom .drawer:before {
    right: 65px;
  }
}

.event_box .offSet {
  display: block;
  padding-top: 100px;
  margin-top: -100px;
}

@media screen and (max-width: 640px) {
  .event_box .offSet {
    padding-top: 0;
    margin-top: 0;
  }
}

.event_box .type_box {
  font-size: 0;
  letter-spacing: 0;
}

.event_box .type_box span {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.3;
  padding: 7px 15px 5px 10px;
  margin-right: 10px;
  border-left: 5px solid #c8b16b;
}

@media screen and (max-width: 640px) {
  .event_box .type_box span {
    font-size: 13px;
    font-size: 1.3rem;
    margin-right: 5px;
  }
}

.event_box .type_box span.type01 {
  background-color: #79007f;
}

.event_box .type_box span.type02 {
  background-color: #ab8733;
}

.event_box .type_box span.type03 {
  background-color: #993c47;
}

.event_box .title {
  font-size: 26px;
  font-size: 2.6rem;
  font-family: 'noto_sans';
  font-weight: 700;
  color: #52252d;
  line-height: 1.75;
  letter-spacing: 0.04em;
  margin: 5px 0;
  border-bottom: 1px solid #52252d;
}

.event_box .title > a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.no-touchevents .event_box .title > a:hover {
  opacity: 0.5;
}

@media screen and (max-width: 640px) {
  .event_box .title {
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.event_box .spec {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: 'noto_sans';
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: #8b7230;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 1280px) {
  .event_box .spec {
    font-size: 17px;
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 640px) {
  .event_box .spec {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.42;
  }
}

.event_box figure {
  margin: 20px auto 0;
}

.event_box figure > a {
  display: block;
  max-width: 540px;
  height: 260px;
  margin: 0 auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.no-touchevents .event_box figure > a:hover {
  opacity: 0.5;
}

@media screen and (max-width: 640px) {
  .event_box figure > a {
    width: calc(100% + 32px);
    max-width: calc(100% + 32px);
    height: calc(47.3% + 16px);
    margin-left: -16px;
    margin-right: -16px;
    padding-bottom: 10px;
  }
}

.event_box .ph {
  width: 100%;
  max-width: 540px;
  height: 100%;
  margin: 0 auto;
  background-size: contain;
}

.schedule.detail .event_box .ph {
  max-width: 100%;
  height: auto;
  margin-top: 40px;
  padding-top: 47.3%;
  background-size: cover;
}

@media screen and (max-width: 640px) {
  .schedule.detail .event_box .ph {
    margin-top: 20px;
  }
}

@media screen and (max-width: 640px) {
  .event_box .ph {
    width: 100%;
    max-width: 100%;
    height: 0;
    padding-top: 47.3%;
  }
}

.event_box .spec_box {
  max-width: 200px;
  width: 100%;
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 640px) {
  .event_box .spec_box {
    display: table-cell;
    width: 50%;
  }
}

.event_box .spec_box + .spec_box {
  margin-left: 10px;
}

@media screen and (max-width: 640px) {
  .event_box .spec_box + .spec_box {
    margin-left: 0;
  }
}

.event_box .spec_box dt, .event_box .spec_box dd {
  text-align: center;
}

.event_box .spec_box dt {
  text-align: center;
  height: 50px;
}

@media screen and (max-width: 640px) {
  .event_box .spec_box dt {
    height: 37px;
  }
}

.event_box .spec_box dt span {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2.4;
  font-weight: bold;
  letter-spacing: 2px;
}

@media screen and (max-width: 640px) {
  .event_box .spec_box dt span {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 3.4;
  }
}

.event_box .spec_box dt span:before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 32px;
  background-position: 0 center;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-size: 32px auto;
  margin-right: 8px;
}

@media screen and (max-width: 640px) {
  .event_box .spec_box dt span:before {
    width: 24px;
    margin-top: -4px;
    background-size: 24px auto;
  }
}

.event_box .spec_box dd {
  padding: 10px 0;
  border-bottom: 1px solid #d6ccc2;
}

.event_box .spec_box dd.status span {
  display: inline-block;
  width: 160px;
  height: 36px;
  border-radius: 5px;
  border: 2px solid;
  border-color: #8b7230;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #8b7230;
  font-weight: bold;
  padding: 5px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 640px) {
  .event_box .spec_box dd.status span {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.5;
    width: 120px;
    height: 32px;
  }
}

.event_box .spec_box dd.status span.type02 {
  color: #993c47;
  border-color: #993c47;
}

.event_box .spec_box dd.status span.type03 {
  color: #ff0302;
  border-color: #ff0302;
}

.event_box .spec_box dd.age {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
}

@media screen and (max-width: 640px) {
  .event_box .spec_box dd.age {
    font-size: 15px;
    font-size: 1.5rem;
  }
}

.event_box .spec_box dd.price {
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}

@media screen and (max-width: 640px) {
  .event_box .spec_box dd.price {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}

.event_box .spec_box dd.price p {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.2;
}

@media screen and (max-width: 640px) {
  .event_box .spec_box dd.price p {
    font-size: 15px;
    font-size: 1.5rem;
  }
}

.event_box .spec_box dd.price p span {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 700;
  color: #fff;
  padding: 3px 5px;
  margin-left: 5px;
  background-color: #a89982;
}

@media screen and (max-width: 640px) {
  .event_box .spec_box dd.price p span {
    font-size: 10px;
    font-size: 1rem;
    margin-left: 0;
  }
}

.event_box .spec_box dd.price p + p {
  margin-top: 10px;
}

.event_box .spec_box dd.detail {
  text-align: right;
  padding: 10px;
  border-bottom: none;
}

.event_box .spec_box dd.detail p {
  display: none;
  text-align: left;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.7;
}

@media screen and (max-width: 640px) {
  .event_box .spec_box dd.detail p {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.75;
  }
}

.event_box .spec_box dd.detail p.desc {
  display: block;
}

.event_box .spec_box dd.detail > button {
  font-size: 13px;
  font-size: 1.3rem;
  font-family: 'noto_sans';
  font-weight: 700;
  color: #a38666;
  text-decoration: underline;
}

@media screen and (max-width: 640px) {
  .event_box .spec_box dd.detail > button {
    font-size: 11px;
    font-size: 1.1rem;
  }
}

.no-touchevents .event_box .spec_box dd.detail > button:hover {
  text-decoration: none;
}

.event_box .spec_box dd.detail > button .close {
  display: none;
}

.event_box .spec_box dd.detail.open .desc {
  display: none;
}

.event_box .spec_box dd.detail.open .desc + p {
  display: block;
}

.event_box .spec_box dd.detail.open > button span {
  display: none;
}

.event_box .spec_box dd.detail.open > button span.close {
  display: block;
}

.event_box .spec_box dd.entry {
  background-color: #fff;
  border-top: 1px solid #d6ccc2;
  border-bottom: none;
  padding: 10px;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 640px) {
  .event_box .spec_box dd.entry {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
  }
}

.event_box .spec_box dd.entry .mod_btn06 > * {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'noto_sans';
  font-weight: 700;
}

.event_box .spec_box dd.entry .mod_btn06.cancel > * {
  font-size: 16px;
  font-size: 1.6rem;
}

@media screen and (max-width: 640px) {
  .event_box .spec_box dd.entry .mod_btn06.cancel > * {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.event_box .spec_box dd.entry .mod_btn06.cancel small {
  font-size: 14px;
  font-size: 1.4rem;
}

@media screen and (max-width: 640px) {
  .event_box .spec_box dd.entry .mod_btn06.cancel small {
    font-size: 11px;
    font-size: 1.1rem;
  }
}

.event_box .spec_box.male dt {
  background-color: #eaebef;
  border-bottom: 1px solid #313760;
}

@media screen and (max-width: 640px) {
  .event_box .spec_box.male dt {
    padding-left: 16px;
  }
}

.event_box .spec_box.male dt span {
  color: #313760;
}

.event_box .spec_box.male dt span:before {
  background-image: url(../img/schedule/detail/icon_male.png);
}

@media screen and (max-width: 640px) {
  .event_box .spec_box.male dd {
    padding-left: 16px;
  }
}

.event_box .spec_box.male dd.detail p {
  color: #323761;
}

@media screen and (max-width: 320px) {
  .event_box .spec_box.male dd.entry {
    padding-left: 10px;
  }
}

.event_box .spec_box.female dt {
  background-color: #f7e6ec;
  border-bottom: 1px solid #af1243;
}

@media screen and (max-width: 640px) {
  .event_box .spec_box.female dt {
    padding-right: 16px;
  }
}

.event_box .spec_box.female dt span {
  color: #af1243;
}

.event_box .spec_box.female dt span:before {
  background-image: url(../img/schedule/detail/icon_female.png);
}

@media screen and (max-width: 640px) {
  .event_box .spec_box.female dd {
    padding-right: 16px;
  }
}

.event_box .spec_box.female dd.detail p {
  color: #b11042;
}

.event_box .link {
  margin-top: 10px;
}

.event_box .link:after {
  content: '';
  display: block;
  clear: both;
}

.event_box .link > .mod_btn05 {
  float: right;
}

.event_box .link > .mod_btn05 > * {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: 'noto_serif';
  font-weight: 400;
  line-height: 2.6;
}

@media screen and (max-width: 640px) {
  .event_box .link > .mod_btn05 {
    margin: 0 auto;
    float: none;
    width: 280px;
    height: 50px;
  }
}

@media screen and (max-width: 640px) and (max-width: 640px) {
  .event_box .link > .mod_btn05 > * {
    font-size: 20px;
    font-size: 2rem;
    line-height: 2.4;
  }
}

.drawer_box {
  position: absolute;
  right: 350px;
  width: 360px;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 34px;
  z-index: 1;
}

.schedule.detail .drawer_box {
  right: 0;
  width: 260px;
}

@media screen and (max-width: 640px) {
  .drawer_box {
    position: relative;
    right: auto;
    width: auto;
    margin-top: 10px;
  }
}

.drawer_box .drawer_btn {
  position: absolute;
  right: 0;
  display: block;
  width: 160px;
  height: 34px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #a48664;
  background-color: #fff;
}

@media screen and (max-width: 640px) {
  .drawer_box .drawer_btn {
    left: 50%;
    margin-left: -80px;
  }
}

.drawer_box .drawer_btn:before, .drawer_box .drawer_btn:after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
}

.drawer_box .drawer_btn:before {
  width: 16px;
  height: 24px;
  left: 12px;
  top: 50%;
  margin-top: -12px;
  background-image: url(../img/schedule/detail/drawer_icon.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 24px;
}

.drawer_box .drawer_btn:after {
  right: 12px;
  top: 50%;
  margin-top: -4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 5px 0 5px;
  border-color: #a48664 transparent transparent transparent;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.drawer_box .drawer_btn.open:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.drawer_box .drawer_btn span {
  display: inline-block;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'noto_serif';
  font-weight: 500;
  color: #a48664;
}

.drawer_box .drawer {
  display: inline-block;
  position: absolute;
  background-color: #fff;
  top: 38px;
  right: -90px;
  padding: 10px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
          transform: translateY(-10%);
  z-index: -1;
}

.schedule.detail .drawer_box .drawer {
  right: 0;
}

@media screen and (max-width: 640px) {
  .drawer_box .drawer {
    right: auto;
    left: 50%;
    margin-left: -125px;
  }
}

.drawer_box .drawer.open {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  z-index: 10;
}

.drawer_box .drawer:before {
  content: '';
  display: block;
  position: absolute;
  right: 155px;
  top: -12px;
  width: 24px;
  height: 14px;
  background-image: url(../img/schedule/detail/drawer_arrow.png);
  background-size: 24px 12px;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 640px) {
  .drawer_box .drawer:before {
    right: 65px;
  }
}

.schedule.detail .drawer_box .drawer:before {
  right: 65px;
}

.drawer_box .drawer > li {
  display: inline-block;
  line-height: 0;
}

.drawer_box .drawer > li a {
  line-height: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media screen and (max-width: 640px) {
  .drawer_box .drawer > li a img {
    height: 21px;
    width: auto;
  }
}

.no-touchevents .drawer_box .drawer > li a:hover {
  opacity: 0.5;
}

.drawer_box .drawer > li + li {
  margin-left: 5px;
}

.pager {
  margin-top: 40px;
}

@media screen and (max-width: 640px) {
  .pager {
    margin-top: 10px;
  }
}

/* arealink */
.area_box {
  margin-top: -35px;
  position: relative;
  height: 70px;
}

.area_box .area_link {
  height: 70px;
  background: #7f0e2c;
  background: -webkit-gradient(linear, left top, right top, from(#7f0e2c), to(#490515));
  background: linear-gradient(to right, #7f0e2c 0%, #490515 100%);
  font-size: 0;
  letter-spacing: 0;
  text-align: center;
}

.area_box .area_link > li {
  display: inline-block;
  height: 100%;
  color: #fff;
  position: relative;
  padding-right: 4px;
  padding-left: 20px;
}

.area_box .area_link > li.current:before {
  content: '';
  position: absolute;
  height: 5px;
  bottom: 0;
  left: 10px;
  right: -5px;
  background: #dece80;
  background: -webkit-gradient(linear, left top, right top, from(#dece80), to(#b28c4d));
  background: linear-gradient(to right, #dece80 0%, #b28c4d 100%);
}

.area_box .area_link > li a {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  padding-left: 16px;
}

.area_box .area_link > li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  display: block;
  width: 4px;
  height: 100%;
  background-image: url(../common/img/link_arrow.png);
  background-size: 4px 6px;
  background-repeat: no-repeat;
  background-position: 0 center;
}

.area_box .area_link > li a span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: 'noto_sans';
  font-weight: 400;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
  color: #fff;
}

.no-touchevents .area_box .area_link > li a span:hover {
  opacity: 0.5;
}

.area_box .deco {
  position: absolute;
  bottom: -58px;
  right: -64px;
  line-height: 0;
}

.event .area_box,
.area .area_box {
  margin-bottom: 45px;
}

.event .area_box .deco,
.area .area_box .deco {
  -webkit-transition: 1s;
  transition: 1s;
  bottom: -60px;
}

.event .area_box .deco.open,
.area .area_box .deco.open {
  bottom: -40px;
}

/* フォームパート */
/* リセットCSS */
[disabled] {
  cursor: default;
}

textarea {
  overflow: auto;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* 単一行テキスト */
.ui-datepicker {
  width: auto;
}

.formArea input[type="text"],
.formArea input[type="tel"],
.formArea input[type="email"] {
  font-size: 1.4rem;
  border: 1px solid #bababa;
  border-radius: 4px;
  padding: 8px 13px;
  color: #3d3935;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 6px transparent;
  box-shadow: 0px 0px 6px transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 126px;
}

.formArea input[type="text"].cal,
.formArea input[type="tel"].cal,
.formArea input[type="email"].cal {
  width: 145px;
  padding: 8px 13px;
  font-size: 1.3rem;
}

@media (max-width: 640px) {
  .formArea input[type="text"],
  .formArea input[type="tel"],
  .formArea input[type="email"] {
    width: 100%;
    padding: 6px 13px;
    font-size: 1.6rem;
  }
  .formArea input[type="text"].cal,
  .formArea input[type="tel"].cal,
  .formArea input[type="email"].cal {
    width: 100%;
    line-height: auto;
    padding: 6px 13px;
    font-size: 1.6rem;
  }
}

.formArea input[type="text"]:focus,
.formArea input[type="tel"]:focus,
.formArea input[type="email"]:focus {
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.formArea input[type="text"][data-input-disabled],
.formArea input[type="tel"][data-input-disabled],
.formArea input[type="email"][data-input-disabled] {
  opacity: .5;
  cursor: default;
}

.formArea input[type="text"][data-need-ok],
.formArea input[type="tel"][data-need-ok],
.formArea input[type="email"][data-need-ok] {
  background-color: #FFFFFF;
}

.formArea .radio {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
  /*@media (max-width:850px) {
			display: block;
			margin-right: 0;
		}*/
}

@media screen and (max-width: 640px) {
  .formArea .radio {
    display: inline-block;
    margin-right: 20px;
  }
}

.formArea .radio[data-input-disabled] {
  opacity: .5;
  cursor: default;
}

.formArea .radio[data-input-checked] {
  position: relative;
}

.formArea .radio[data-input-checked]:after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-color: transparent;
}

.formArea .radio[data-subtxt01]:after {
  content: attr(data-subtxt01);
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 5px;
  color: #D71F22;
  vertical-align: middle;
}

.formArea .radio > input[type] {
  width: 0;
  height: 0;
  opacity: 0;
}

html.no-csstransitions .formArea .radio > input[type] {
  display: inline-block;
  vertical-align: middle;
}

.formArea .radio > input[type]:checked ~ label:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.formArea .radio > input[data-need-ok] + label:before {
  background-color: #FFFFFF;
}

.formArea .radio > label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 10px 0;
  vertical-align: middle;
}

@media screen and (max-width: 640px) {
  .formArea .radio > label {
    padding: 5px 0 0;
  }
}

.formArea .radio > label:before {
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  border: 1px solid #D0D0D0;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -14px;
  color: #656563;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 6px transparent;
  box-shadow: 0px 0px 6px transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 640px) {
  .formArea .radio > label:before {
    width: 22px;
    height: 22px;
    margin-top: -12px;
  }
}

.formArea .radio > label:after {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  bottom: 4px;
  left: 5px;
  margin: auto;
  background-color: #000;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 50%;
}

@media screen and (max-width: 640px) {
  .formArea .radio > label:after {
    width: 14px;
    height: 14px;
    bottom: 0;
    left: 5px;
  }
}

.formArea .radio > label > span {
  font-size: 17px;
  font-size: 1.7rem;
  display: inline-block;
  padding-left: 30px;
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
}

@media screen and (max-width: 640px) {
  .formArea .radio > label > span {
    padding-left: 30px;
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.no-touchevents .formArea .radio > label:hover:before {
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.formArea .checkbox {
  display: inline-block;
  margin-right: 0;
  vertical-align: middle;
  /*@media (max-width:850px) {
			display: inline-block;//block;
			margin-right: 15px;
			width: calc(100% / 7);
		}*/
  /*@include sc(sp){
			&:nth-child(5){
				&:after {
					content: '';
					display: inline-block;
					width: calc((100% / 7) * 2);
				}
			}
		}*/
}

.formArea .checkbox[data-input-disabled] {
  opacity: .5;
  cursor: default;
}

.formArea .checkbox[data-input-checked] {
  position: relative;
}

.formArea .checkbox[data-input-checked]:after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-color: transparent;
}

.formArea .checkbox[data-subtxt01]:after {
  content: attr(data-subtxt01);
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 5px;
  color: #D71F22;
  vertical-align: middle;
}

.formArea .checkbox > input[type] {
  width: 0;
  height: 0;
  opacity: 0;
}

html.no-csstransitions .formArea .checkbox > input[type] {
  display: inline-block;
  vertical-align: middle;
}

.formArea .checkbox > input[type]:checked ~ label:after {
  opacity: 1;
  -webkit-transform: rotate(-37deg) scale(1);
  -ms-transform: rotate(-37deg) scale(1);
  transform: rotate(-37deg) scale(1);
}

.formArea .checkbox > input[data-need-ok] + label:before {
  background-color: #FFFFFF;
}

.formArea .checkbox > label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 10px 5px;
  vertical-align: middle;
}

@media screen and (max-width: 640px) {
  .formArea .checkbox > label {
    padding: 5px 0;
    text-align: center;
  }
}

.formArea .checkbox > label:before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #D0D0D0;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -10px;
  color: #656563;
  -webkit-box-shadow: 0px 0px 6px transparent;
  box-shadow: 0px 0px 6px transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.formArea .checkbox > label:after {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  height: 3px;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  top: 0;
  bottom: 0px;
  left: 4px;
  margin: auto;
  opacity: 0;
  -webkit-transform: rotate(-37deg) scale(1.4);
      -ms-transform: rotate(-37deg) scale(1.4);
          transform: rotate(-37deg) scale(1.4);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.formArea .checkbox > label > span {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'noto_sans';
  font-weight: 400;
  letter-spacing: 0.04em;
  display: inline-block;
  padding-left: 24px;
  margin-right: 10px;
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
}

@media screen and (max-width: 640px) {
  .formArea .checkbox > label > span {
    font-size: 14px;
    font-size: 1.4rem;
    margin-right: 8px;
  }
}

.no-touchevents .formArea .checkbox > label:hover:before {
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.formArea .select {
  color: #3d3935;
  display: inline-block;
  background-color: #fff;
  position: relative;
  border-radius: 4px;
  border: 1px solid #bababa;
  -webkit-box-shadow: 0px 0px 6px transparent;
  box-shadow: 0px 0px 6px transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  max-width: 194px;
  overflow: hidden;
}

.formArea .select:before {
  content: '';
  display: block;
  position: absolute;
  right: 11px;
  top: 50%;
  margin-top: -2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #3d3935 transparent transparent transparent;
  -webkit-transition: .2s;
  transition: .2s;
}

html.no-csstransitions .formArea .select:before {
  display: none;
}

.formArea .select[data-input-disabled] {
  opacity: .5;
  cursor: default;
}

.formArea .select[data-need-ok] {
  background-color: #FFFFFF;
}

.formArea .select > select {
  width: 150%;
  font-size: 1.4rem;
  padding: 8px 27px 8px 13px;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .formArea .select > select {
    width: 100%;
    padding: 6px 27px 6px 13px;
    font-size: 1.6rem;
  }
}

html.no-csstransforms .formArea .select > select {
  padding: 7px 7px 7px 13px;
}

.formArea .select > select option {
  width: 100%;
  white-space: normal;
}

.no-touchevents .formArea .select:hover {
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.formArea .confirm {
  background-color: #808028;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
  padding: 15px 0;
  max-width: 350px;
  width: 100%;
  -webkit-transition: .2s;
  transition: .2s;
}

.formArea .confirm input {
  cursor: pointer;
  font-size: 1.8rem;
  color: #FFF;
}

@media (max-width: 640px) {
  .formArea .confirm {
    width: 100%;
  }
}

.no-touchevents .formArea .confirm:hover {
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}

/*# sourceMappingURL=maps/schedule.css.map */
