@charset "utf-8";


[data-slidearea02] {
	position: relative;
	padding-top: 30%;
	.btns01 {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 100%;
		height: 100%;
		button {
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			z-index: 11;
			width: 70px;
			height: 70px;
			&.next {
				right: 0;
			}
			&.prev {
				left: 0;
			}
		}
	}
	.imgs {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			-webkit-background-size: cover;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
	@include sc(pc){
		.imgs {
			-webkit-transform: none !important;
			-moz-transform: none !important;
			-ms-transform: none !important;
			-o-transform: none !important;
			transform: none !important;
			.img {
				left: 0 !important;
				-webkit-transition: .4s;
				-moz-transition: .4s;
				-ms-transition: .4s;
				-o-transition: .4s;
				transition: .4s;
				&.dammy {
    	display: none !important;
    }
			}
  }
	}
	@include sc(sp){
		overflow: hidden;
		.imgs{
			.img {
				opacity: 1 !important;
			}
		}
	}
}
 

/* 個別で指定 */
[data-htmlmodule] {
	.btns01 {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		height: 100%;
		max-width: 1080px;
		width: 88%;
		button {
			//transition: 0.3s;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			z-index: 11;
			width: 60px;
			height: 60px;
			&.next {
				right: 0;
				&:after {
					border-right: 2px solid #FFF;
					transform: rotate(45deg);
					right: 3px;
				}
				@include sc(sp){
					right: 0;
					&:after {
						right: 5px;
					}
				}
			}
			&.prev {
				left: 0;
				&:after {
					border-left: 2px solid #FFF;
					transform: rotate(-45deg);
					right: -3px;
				}
				@include sc(sp){
					left: 0;
					&:after {
						right: -5px;
					}
				}
			}
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: 60px;
				height: 60px;
				background-color: rgba(#000, 0.5);
				transition: 0.3s;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: 12px;
				height: 12px;
				border-top: 2px solid #FFF;
			}
			@include sc(sp){
				width: 60px;
				height: 90px;
				&:before {
					width: 30px;//40%;
					height: 0;
					padding-top: 30px;//40%;
					background-color: rgba(#000, 0.7);
				}
				&:after {
					width: 6px;
					height: 6px;
				}
			}
			
			.no-touchevents &:hover {
				&:before{
					opacity: 0.5;
				}
			}
		}
	}
	.cmnBtn01 {
		display: inline-block;
		background-color: #81CDDF;
		padding: 0 15px;
		height: 50px;
		color: #fff;
		text-align: center;
		-webkit-transition: .2s;
		-moz-transition: .2s;
		-ms-transition: .2s;
		-o-transition: .2s;
		transition: .2s;
		span {
			font-size: 14px;
			line-height: 13px;
			vertical-align: middle;
		}
		&:before,
		&:after {
			content: "";
			vertical-align: middle;
		}
		&:before {
			display: inline-block;
			height: 100%;
		}
		&:after {
			content: "";
			display: inline-block;
			margin-left: 5px;
			width: 7px;
			height: 7px;
			border-top: 1px solid;
			border-right: 1px solid;
			-webkit-transform: rotate(45deg) skew(-20deg,-20deg);
			-ms-transform: rotate(45deg) skew(-20deg,-20deg);
			-o-transform: rotate(45deg) skew(-20deg,-20deg);
			transform: rotate(45deg) skew(-20deg,-20deg);
			position: relative;
			left: 0;
			-webkit-transition: .3s;
			-o-transition: .3s;
			transition: .3s;
		}
		.no-touchevents &:hover:after,
		&.hover:after {
			left: 3px;
		}
		.no-touchevents &:hover,
		&.hover {
			background-color: #33ADCA;
		}
	}
}
