@charset "utf-8";

@import
	"../../common/css/sass/variable"
;

/* -----------------------------------------------------------------------------

会社概要

----------------------------------------------------------------------------- */
.contents{
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 65px;
	padding-bottom: 105px;
	
	@include sc(sp){
		padding-top: 40px;
		padding-bottom: 50px;
	}
}

.link_list {
	li {
		@include fz(16);
		line-height: 1.75;
		padding-left: 20px;
		margin-bottom: 5px;
		
		@include sc(sp){
			@include fz(13);
		}
		a {
			display: inline-block;
			position: relative;
			&:before {
				position: absolute;
				left: -20px;
				top: 10px;
				content: '';
				display: block;
				width: 13px;
				height: 7px;
				background-image: url(../common/img/list_allow.png);
				background-size: 100% auto;
				background-position: center center;
				background-repeat: no-repeat;
				
				@include sc(sp){
					top: 6px;
				}
			}
			span {
			}
		}
	}
}
.num_list {
	li {
		list-style-type: decimal;
		margin-left: 20px;
		padding-left: 5px;
	}
}