@charset "utf-8";

@import
	"../../common/css/sass/variable"
;

/* -----------------------------------------------------------------------------

よくあるご質問

----------------------------------------------------------------------------- */
.contents{
	padding-bottom: 105px;
	
	@include sc(sp){
		padding-bottom: 50px;
	}
	
	.sec_tit02 + .faq_box {
		margin-top: 50px;
		
		@include sc(sp){
			margin-top: 20px;
		}
	}
	.faq_box + .sec_tit02 {
		margin-top: 80px;
		@include sc(sp){
			margin-top: 30px;
		}
	}
	.faq_box {
		+ .faq_box {
			margin-top: 30px;
			
			@include sc(sp){
				margin-top: 0px;
			}
		}
	}
	
	.sec_tit02 {
		&.fashion{
			span {
				&:after {
					content: 'Dress code';
				}
			}
		}
		&.certificate{
			span {
				&:after {
					content: 'Certificate';
				}
			}
		}
		&.reservation{
			span {
				&:after {
					content: 'Reservation · Cancellation policy';
				}
			}
		}
		&.age{
			span {
				&:after {
					content: 'Eligibility · Age';
				}
			}
		}
		&.progress{
			span {
				&:after {
					content: 'Progress · Form';
				}
			}
		}
		&.meal{
			span {
				&:after {
					content: 'Meal · Drink';
				}
			}
		}
		&.discount{
			span {
				&:after {
					content: 'Discount · Point service';
				}
			}
		}
		&.payment{
			span {
				&:after {
					content: 'Payment method';
				}
			}
		}
		&.other{
			span {
				&:after {
					content: 'Other';
				}
			}
		}
	}
}

.faq_box{
	> dt {
		min-height: 68px;
		@include fz(20);
		line-height: 1.4;
		color: #360009;
		box-sizing: border-box;
		padding: 20px 15px 20px 70px;
		background-color: #ede9e0;
		position: relative;
		background-image: 
			url(../img/faq/icon_q.png),
			url(../img/faq/faq_deco.png);
		background-position:
			15px center,
			right bottom;
		background-size:
			36px 36px,
			153px 66px;
		background-repeat: no-repeat;
		
		@include sc(sp){
			//min-height: 73px;
			padding: 10px 10px 10px 50px;
			@include fz(15);
			line-height: 1.75;
			
			background-position:
				10px center,
				right bottom;
			background-size:
				25px 25px,
				114px 49px;
		}
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			border-top: 1px solid #fff;
			background-color: #c4ae7c;
		}
	}
	>dd {
		min-height: 60px;
		box-sizing: border-box;
		padding: 20px 0px 20px 70px;
		background-image: url(../img/faq/icon_a.png);
		background-size: 48px 34px;
		background-position: 2px 15px;
		background-repeat: no-repeat;
		@include fz(16);
		line-height: 1.75;
		
		@include sc(sp){
			background-size: 35px 24px;
			@include fz(14);
			padding: 10px 0px 10px 50px;
		}
	}
}
.link_box {
	max-width: 1200px;
	position: relative;
	text-align: left;//center;
	font-size: 0;
	letter-spacing: 0;
	padding-top: 10px;//40px;
	padding-bottom: 20px;
	margin: 0 auto 60px;
	//margin-bottom: 60px;
	z-index: 0;
	
	@include sc(sp){
		padding-top: 10px;
		padding-bottom: 0;
		margin-bottom: 30px;
	}
	&:before,&:after {
		position: absolute;
		content: '';
		display: block;
		background-color: $bcff;
		z-index: -1;
	}
	&:after {
		top: 0;
		width: 100%;
		height: 100%;
		background-color: $bcff;
	}
	&:before {
		border-radius: 30%;
		box-shadow: 0 0 10px rgba($bc00, 0.5);
		top: 50%;
		bottom: 0px;
		left: 10px;
		right: 10px;
		
		@include sc(sp){
			border-radius: 15%;
			bottom: 3px;
		}
	}
	
	> li {
		display: inline-block;
		max-width: 240px;
		width: 100%;
		box-sizing: border-box;
		border-right: 1px solid #dbcfc1;
		margin-top: 30px;
		
		@include sc(sp){
			max-width: 100%;
			margin-top: 0;
			border-right: none;
			border-bottom: 1px solid #dbcfc1;
		}
		
		//&:first-child{
		&:nth-child(5n + 1){
			border-left: 1px solid #dbcfc1;
			@include sc(sp){
				border-left: none;
			}
		}
		&:last-child{
			@include sc(sp){
				border-bottom: none;
			}
		}
		a {
			display: block;
			height: 40px;
			text-align: center;
			
			@include sc(sp){
				text-align: left;
			}
			span {
				position: relative;
				@include fz(16);
				@extend %fontbold;
				color: #a38664;
				display: inline-block;
				padding-bottom: 5px;
				transition: 0.3s;
				
				@include sc(sp){
					top: 10px;
					width: 100%;
					@include fz(14);
					padding-bottom: 0;
				}
				&:after {
					transition: 0.3s;
					content: '';
					position: absolute;
					left: 50%;
					margin-left: -7px;
					bottom: -10px;
					display: block;
					width: 14px;
					height: 10px;
					background-image: url(../img/faq/down_arrow.png);
					background-position: center center;
					background-size: 100% auto;
					background-repeat: no-repeat;
					
					@include sc(sp){
						left: auto;
						right: 5px;
						top: 50%;
						bottom: auto;
						margin-top: -7px;
						margin-left: 0;
					}
				}
			}
			.no-touchevents &:hover {
				span {
					opacity: 0.5;
					&:after {
						bottom: -5px;
					}
				}
			}
		}
	}
}