@charset "utf-8";

@import
	"../../common/css/sass/variable"
;

/* -----------------------------------------------------------------------------

お問い合わせ

----------------------------------------------------------------------------- */
.contentsWrap {
	.c01 {
		color: #a38664;
	}
	.c02 {
		color: #7f0e2c;
	}
	.txtlink {
		color: #a38664;
		text-decoration: underline;
		.no-touchevents &:hover {
			text-decoration: none;
		}
	}
	
	.mod_wrap04 {
		padding-top: 35px;
		padding-bottom: 35px;
		margin-top: 65px;
		margin-bottom: 70px;
		border: 8px solid #f7f7f7;
		
		@include sc(sp){
			border: none;
			margin-top: 35px;
			margin-bottom: 50px;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}

.formArea {
	.rowWrap {
	border-bottom: 1px solid #e0e0e0;
	padding: 14px 0 14px 20px;
	
	@include sc(sp){
		padding: 10px;
	}
	.element {
		dt,dd {
			display: inline-block;
			vertical-align: top;
			
			@include sc(sp){
				display: block;
			}
		}
		dt {
			@include fz(16);
			@extend %fontbold;
			padding-right: 20px;
			
			@include sc(sp){
				@include fz(14);
				margin-bottom: 5px;
			}
			> span {
				display: inline-block;
				min-width: 180px;
				position: relative;
				top: 10px;
				
				@include sc(sp){
					min-width: 0;
					top: 0;
				}
				&:after {
					position: absolute;
					top: 0;
					right: 0;
					
					@include sc(sp){
						position: relative;
						top: -1px;
						display: inline-block;
						@include fz(9);
						margin-right: 15px;
					}
				}
			}
		}
		dd {
			padding-left: 20px;
			width: calc(100% - 230px);
			
			@include sc(sp){
				@include fz(14);
				padding-left: 0;
				width: 100%;
			}
		}
	}
}
	.prepend {
		@include fz(13);
		padding-right: 15px;
	}
	.append {
		@include fz(13);
		padding-left: 15px;
		
		.step03 & {
			+ span {
				margin-left: 30px;
			}
		}
	}
	.itemWrap {
		display: inline-block;
		
		@include sc(sp){
			width: 100%;
		}
		+ .itemWrap {
			margin-left: 10px;
		}
		
		/*&.month_wrap,
		&.day_wrap {
			margin-left: 25px;
		}
		&.age_wrap {
			margin-left: 60px;
			.step02 & {
				margin-left: 0;
			}
		}*/
		textarea {
			width: 575px;
			height: 150px;
			
			@include sc(sp){
				width: 100%;
				height: 100px;
			}
		}
		/*.checkbox > label > span {
			@include fz(14);
			margin-left: 5px;
		}*/
		
		.radio {
			input[type="radio"][disabled="disabled"] ~ label {
				&:before,&:after {
					content: none;
				}
				> span {
					padding-left: 0;
				}
			}
		}
	}
	.info {
		display: block;
		word-wrap:break-word;
		overflow-wrap:break-word;
		@include fz(13);
		letter-spacing: 0;
		margin-top: 10px;
		a {
			color: #a48660;
			text-decoration: underline;
			.no-touchevents &:hover {
				text-decoration: none;
			}
		}
	}
	.memo {
		display: block;
		@include fz(12);
		letter-spacing: 0;
		margin-top: 10px;
	}
	.w01 {
		input[type="text"],
		input[type="tel"],
		input[type="email"]{
			width: 225px;
		}
		@include sc(sp){
			width: 47%;
			input[type="text"],
			input[type="tel"],
			input[type="email"]{
				width: 100%;
			}
		}
	}
	.w02 {
		input[type="text"],
		input[type="tel"],
		input[type="email"]{
			width: 470px;
		}
	}
	.w03 {
		input[type="text"],
		input[type="tel"],
		input[type="email"]{
			width: 586px;
		}
	}
	.w04 {
		input[type="text"],
		input[type="tel"],
		input[type="email"]{
			width: 115px;
		}
	}
	.w05 {
		input[type="text"],
		input[type="tel"],
		input[type="email"]{
			width: 60px;
		}
	}
	.w06 {
		input[type="text"],
		input[type="tel"],
		input[type="email"],
		.select >select {
			width: 185px;
		}
	}
	
	.spW01 {
		@include sc(sp){
			width: 100%;
			input[type="text"],
			input[type="tel"],
			input[type="email"],
			textarea{
				width: 100%;
			}
		}
	}
	.spW02 {
		@include sc(sp){
			width: 30%;
			margin-left: 0!important;
			input[type="text"],
			input[type="tel"],
			input[type="email"]{
				width: 60%;
			}
		}
	}
	.spW03 {
		@include sc(sp){
			display: block;
			width: 61.5%;
			margin-left: 0!important;
			margin-bottom: 10px;
			input[type="text"],
			input[type="tel"],
			input[type="email"]{
				width: 80%;
			}
		}
	}
	
	.link {
		margin-top: 40px;
		text-align: center;
		
		.Confirm {
			margin: 0 auto;
		}
	}
}






/* フォームパート */

/* リセットCSS */
[disabled] {
	cursor:default; 
}
textarea {
	overflow:auto;
}
fieldset {
	border:1px solid silver;
	margin:0 2px;
	padding:.35em .625em .75em;
}
legend {
	box-sizing:border-box;
	color:inherit;
	display:table;
	max-width:100%;
	padding:0;
	white-space:normal;
}
[type="number"] {
	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		height:auto;
	}
}
[type="search"] {
	-webkit-appearance:textfield;
	&::-webkit-search-cancel-button,
	&::-webkit-search-decoration {
		-webkit-appearance:none;
	}
}

/* 単一行テキスト */
.ui-datepicker {
	width: auto;
}
.formArea {
	input[type="text"],
	input[type="tel"],
	input[type="email"] {
		border-radius: 0;
		font-size: 1.4rem;
		border: 1px solid #dbdbdb;
		padding: 8px 13px;		color: $bc02;
		background-color: #fbfbfb;//$bcff;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		-webkit-transition: 0.2s;
		transition: 0.2s;
		width: 126px;
		
		@media (max-width:640px) {
			border-radius: 0;
			width: 100%;
			padding: 6px 13px;
			//max-width: 200px;
			font-size: 1.6rem;//このサイズ以下になってしまうとiphoneでズームされてしまうので変えるな
		}
		&:focus {
			background-color: #FFF;
			-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
		}
		&[data-input-disabled] {
			opacity: .5;
			cursor: default;
		}
		
		&[data-need-ok] {
			background-color: #FFFFFF;
		}
	}
	
	textarea {
		border-radius: 0;
		font-size: 1.4rem;
		border: 1px solid #dbdbdb;//#B9B9B9;
		background-color: #fbfbfb;
		padding: 7px 13px;
		color: #656563;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		-webkit-transition: 0.2s;
		transition: 0.2s;
		@media (max-width:640px) {
			border-radius: 0;
			font-size: 1.6rem;//このサイズ以下になってしまうとiphoneでズームされてしまうので変えるな
		}
		&:focus {
			background-color: #FFF;
			-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
			box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
		}
		&[data-input-disabled] {
			opacity: .5;
			cursor: default;
		}
		&[disabled] {
			background-color: #9F9F9F!important;
		}
		&[data-need-ok] {
			background-color: #FFFFFF;
		}
	}
	
	.radio {
		display: inline-block;
		margin-right: 10px;
		vertical-align: middle;
		@media (max-width:850px) {
			display: inline-block;
			margin-right: 0;
		}
		&[data-input-disabled] {
			opacity: .5;
			cursor: default;
		}
		&[data-input-checked] {
			position: relative;
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: -2px;
				bottom: -2px;
				left: -2px;
				right: -2px;
				background-color: rgba(0,0,0,0);
			}
		}
		&[data-subtxt01] {
			&:after {
				content: attr(data-subtxt01);
				font-size: 1.2rem;
				display: inline-block;
				margin-left: 5px;
				color: #D71F22;
				vertical-align: middle;
			}
		}
		> input {
			&[type] {
				width: 0;
				height: 0;
				opacity: 0;
				html.no-csstransitions & {
					display: inline-block;
					vertical-align: middle;
				}
				&:checked {
					~ label {
						&:after {
							opacity: 1;
							transform: scale(1.0);
						}
					}
				}
			}
			&[data-need-ok] {
				+ label {
					&:before {
						background-color: #FFFFFF;
					}
				}
			}
		}
		> label {
			position: relative;
			cursor: pointer;
			display: inline-block;
			padding: 10px 0;//5px 0;
			vertical-align: middle;
			
			@include sc(sp){
				padding: 5px 0;
			}
			&:before {
				content: '';
				display: block;
				width: 18px;
				height: 18px;
				border: 1px solid #D0D0D0;
				background-color: #FFFFFF;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -11px;
				color: #656563;
				-webkit-border-radius: 50%;
				border-radius: 50%;
				-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
				box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
				-webkit-transition: 0.2s;
				transition: 0.2s;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				width: 12px;
				height: 12px;
				top: 0;
				bottom: 2px;
				left: 4px;
				margin: auto;
				background-color: #000;
				-webkit-transform: scale(0.0);
				-ms-transform: scale(0.0);
				transform: scale(0.0);
				-webkit-transition: 0.2s;
				transition: 0.2s;
				-webkit-border-radius: 50%;
				border-radius: 50%;
			}
			> span {
				font-size: 1.5rem;
				display: inline-block;
				padding-left: 30px;//20px;
				position: relative;
				-webkit-transition: .2s;
				transition: .2s;
				
				@include sc(sp){
					@include fz(13);
					padding-left: 25px;
				}
			}
			.no-touchevents &:hover {
				&:before {
					-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
					box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
				}
			}
		}
	}
	
	.checkbox {
		display: inline-block;
		margin-right: 0;//10px;
		vertical-align: middle;
		
		@media (max-width:850px) {
			display: inline-block;//block;
			margin-right: 0;
			width: calc(100% / 7);
		}
		&[data-input-disabled] {
			opacity: .5;
			cursor: default;
		}
		&[data-input-checked] {
			position: relative;
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: -2px;
				bottom: -2px;
				left: -2px;
				right: -2px;
				background-color: rgba(0,0,0,0);
			}
		}
		&[data-subtxt01] {
			&:after {
				content: attr(data-subtxt01);
				font-size: 1.2rem;
				display: inline-block;
				margin-left: 5px;
				color: #D71F22;
				vertical-align: middle;
			}
		}
		> input {
			&[type] {
				width: 0;
				height: 0;
				opacity: 0;
				html.no-csstransitions & {
					display: inline-block;
					vertical-align: middle;
				}
				&:checked {
					~ label {
						&:after {
							opacity: 1;
							-webkit-transform: rotate(-37deg) scale(1.0);
							-ms-transform: rotate(-37deg) scale(1.0);
							transform: rotate(-37deg) scale(1.0);
						}
					}
				}
			}
			&[data-need-ok] {
				+ label {
					&:before {
						background-color: #FFFFFF;
					}
				}
			}
		}
		> label {
			position: relative;
			cursor: pointer;
			display: inline-block;
			padding: 10px 0;
			vertical-align: middle;
			
			@include sc(sp){
				text-align: center;
			}
			&:before {
				content: '';
				display: block;
				width: 18px;//13px;
				height: 18px;//13px;
				border: 1px solid #D0D0D0;
				background-color: #FFFFFF;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -10px;//-7px;
				color: #656563;
				-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
				box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
				-webkit-transition: 0.2s;
				transition: 0.2s;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				width: 9px;
				height: 3px;
				border-bottom: 2px solid #000;
				border-left: 2px solid #000;
				top: 0;
				bottom: 0px;
				left: 4px;
				margin: auto;
				opacity: 0;
				transform: rotate(-37deg) scale(1.4);
				transition: 0.2s;
			}
			> span {
				//font-size: 1.4rem;
				@include fz(16);
				@include notoR;
				letter-spacing: 0.04em;
				display: inline-block;
				padding-left: 24px;//20px;
				margin-right: 10px;
				position: relative;
				-webkit-transition: .2s;
				transition: .2s;
				
				@include sc(sp){
					@include fz(14);
					margin-right: 8px;
				}
			}
			.no-touchevents &:hover {
				&:before {
					-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
					box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
				}
			}
		}
	}
	
	.select {
		color: $bc02;
		display: inline-block;
		background-color: #fbfbfb;//$bcff;
		position: relative;
		//border-radius: 4px;
		border: 1px solid #dbdbdb;//#bababa;
		-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		-webkit-transition: 0.2s;
		transition: 0.2s;
		
		&:before {
			content: '';
			display: block;
			position: absolute;
			right: 11px;
			top: 50%;
			margin-top: -5px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 8px 6px 0 6px;//5px 4px 0 4px;
			border-color: $bc02 transparent transparent transparent;
			-webkit-transition: .2s;
			transition: .2s;
			html.no-csstransitions & {
				display: none;
			}
		}
		&[data-input-disabled] {
			opacity: .5;
			cursor: default;
		}
		&[data-need-ok] {
			background-color: #FFFFFF;
		}
		> select {
			width: 116px;//194px;
			font-size: 1.4rem;
			padding: 8px 27px 8px 13px;//3px 27px 3px 13px;
			position: relative;
			z-index: 1;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			
			@media (max-width:640px) {
				width: 100%;
				padding: 6px 27px 6px 13px;
				font-size: 1.6rem;//このサイズ以下になってしまうとiphoneでズームされてしまうので変えるな
			}
			html.no-csstransforms & {
				padding: 7px 7px 7px 13px;
			}
			option {
				//text-align: center;
				width: 100%;
				white-space: normal;
			}
		}
		.no-touchevents &:hover {
			-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
			box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
		}
	}
	

	
	/* 必須項目 */
	[data-need] {
		> dt > span:after {
			content: '必須';
			background-color: #2b2b2b;//#D15D5D;
			display: inline-block;
			padding: 1px 6px 2px;
			color: #FFF;
			font-size: 1.2rem;
			vertical-align: middle;
			@media (max-width:640px) {
				float: none;
				line-height: 1.6;
				padding: 2px 6px 0;
				margin-left: 6px;
			}
		}
		&[data-need-hissu_by_without] > dt > span:after {
			content: 'どちらか必須';
			background-color: #5D78D1;
			display: inline-block;
			padding: 1px 3px 2px;
			color: #FFF;
			font-size: 1.2rem;
			vertical-align: middle;
		}
	}
	/* エラー表示 */
	.errorWrap {
		.errorList {
			font-size: 1.4rem;
			color: #FFF;
			background-color: #DF4547;
			margin-bottom: 40px;
			padding: 10px;
			display: inline-block;
			max-width: 500px;
			width: 100%;
			border-radius: 5px;
			box-sizing: border-box;
			text-align: left;
			li {
				padding-left: 14px;
				&:before {
					content: '・';
					margin-left: -14px;
				}
			}
		}
	}
	.error {
		strong {
			color: #FF0004;
		}
	}
	
	/* 確認画面の入力結果箇所 */
	.result,
	.noresult {
		display: inline-block;
		border-radius: 3px;
		font-size: 1.4rem;
		+ .result,
		+ .noresult {
			margin-left: 5px;
		}
		& .inputappend,
		& .inputprepend {
			display: inline-block;
		}
	}
	.uploadresult {
		display: block;
		background-color: transparent;
		&.noresult {
			display: inline-block;
		}
	}
	.noresult {
		background-color: #DADADA;
	}
	/* 確認画面ボタン */
	.confirm {
		background-color: #808028;
		cursor: pointer;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		margin: 0 20px;
		padding: 15px 0;
		max-width: 350px;
		width: 100%;
		-webkit-transition: .2s;
		transition: .2s;
		input {
			cursor:pointer;
			font-size: 1.8rem;
			color: #FFF;
		}
		@media (max-width:640px) {
			width: 100%;
		}
		.no-touchevents &:hover {
			-webkit-filter: brightness(1.2);
			filter: brightness(1.2);
		}
	}
	
	/* 戻るボタン */
	.back {
		//background-color: #6C6C6C;
		cursor: pointer;
		//text-align: center;
		//display: inline-block;
		//vertical-align: middle;
		margin: 0 20px;
		//padding: 15px 0;
		//max-width: 350px;
		//width: 100%;
		//-webkit-transition: .2s;
		//transition: .2s;
		input {
			cursor:pointer;
			//font-size: 1.8rem;
			//color: #FFF;
		}
		@media (max-width:640px) {
			width: 100%;
			max-width: 240px;
			margin: 0 auto;
		}
		/*.no-touchevents &:hover {
			-webkit-filter: brightness(1.2);
			filter: brightness(1.2);
		}*/
	}
	
	/* 送信ボタン */
	.finbtn {
		background-color: #808028;
		cursor: pointer;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		margin: 0 20px;
		padding: 15px 0;
		max-width: 350px;
		width: 100%;
		-webkit-transition: .2s;
		transition: .2s;
		input {
			cursor:pointer;
			font-size: 1.8rem;
			color: #FFF;
		}
		@media (max-width:640px) {
			width: 100%;
		}
		.no-touchevents &:hover {
			-webkit-filter: brightness(1.2);
			filter: brightness(1.2);
		}
	}
	
	
	/* 分岐表示 
	[data-view_term] {
		display: none!important;
	}
	[data-view_term-ok] {
		display: table!important;
		@media (max-width:640px) {
			display: block!important;
		}
	}
	*/
	/* 分岐表示（除外） 
	[data-view_term_without] {
		display: table !important;
	}
	
	[data-view_term_without-ok] {
		display: none !important;
		@media print,screen and (max-width:640px) {
			display: none !important;
		}
	}*/

}