@charset "utf-8";

@import
	"../../common/css/sass/variable"
;

/* -----------------------------------------------------------------------------

特定商取引に関する法律表記

----------------------------------------------------------------------------- */
.contents{
	padding-top: 65px;
	padding-bottom: 105px;
	
	max-width: 1000px;
	width: 0 auto;
	
	@include sc(sp){
		padding-top: 40px;
		padding-bottom: 50px;
	}
}
