@charset "utf-8";

@import
	"../../common/css/sass/variable"
;

/* -----------------------------------------------------------------------------

パーティー報告＆参加者の声

----------------------------------------------------------------------------- */
.contentsWrap {
	> .mod_wrap01 {
		/*max-width: 1200px;
		padding-left: 0;
		padding-right: 0;*/
		> .detail {
			text-align: center;
		}
	}
}

.pager {
	margin-bottom: 70px;
	
	@include sc(sp){
		margin-bottom: 38px;//50px;
	}
}

.catch {
	text-align: center;
	@include notoSR;
	@include fz(28);
	line-height: 1.62;
	letter-spacing: 0.06em;
	color: $bcr06;
	margin: 75px 0 40px;
	
	@include sc(sp){
		@include fz(18);
		line-height: 1.75;
		letter-spacing: 0;
		margin: 30px 0;
	}
}
.voice_box {
	position: relative;
	display: inline-block;
	vertical-align: top;
	max-width: 293px;//372px;
	width: 100%;
	min-height: 328px;//446px;
	margin-top: 20px;//35px;
	margin-bottom: 20px;//35px;
	margin-left: 19px;//38px;
	padding-bottom: 15px;//20px;
	background-color: $bcff;
	box-shadow: 0 0 3px rgba($bc00,0.2);
	.ie & {
		box-shadow: 0 0 5px rgba($bc00,0.5);
	}
	
	@media screen and (max-width: 1279px) {
		max-width: 260px;//342px;
	}
	@include sc(sp){
		display: block;
		padding-top: 31.8vw;
		margin-bottom: 30px;
		min-height: 0;
		max-width: 100%;
		margin-left: 0;
	}
	
	&:nth-child(3n + 1){
		margin-left: 0;
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
	}
	&.interview {
		&:before {
			z-index: 1;
			top: -19px;
			left: -1px;
			width: 118px;//150px;
			height: 81px;//92px;
			background-image: url(../img/report/voice_icon_interview.png);
			background-size: 100%	auto;
			background-repeat: no-repeat;
			background-position: center center;

			@include sc(sp){
				/*top: -11px;
				width: calc(165px / 2);
				height: calc(102px / 2);*/
				width: 40.2vw;
				height: 31.8vw;
				top: 0;
				left: 0;
				background-size: auto	49px;
				background-position: center center;
				background-image: url(../img/report/voice_icon_interview_sp.png);
			}
		}
	}
	&.fashion {
		&:before {
			z-index: 1;
			top: -23px;
			left: -1px;
			width: 118px;//150px;//168px;
			height: 87px;//96px;//106px;
			background-image: url(../img/report/voice_icon_fashion.png);
			background-size: 100%	auto;
			background-repeat: no-repeat;
			background-position: center center;

			@include sc(sp){
				/*top: -13px;
				width: calc(168px / 2);
				height: calc(106px / 2);*/
				width: 40.2vw;
				height: 31.8vw;
				top: 0;
				left: 0;
				background-size: auto	51px;
				background-position: center center;
				background-image: url(../img/report/voice_icon_fashion_sp.png);
			}
		}
	}
	&.report {
		&:before {
			z-index: 1;
			top: -26px;
			left: -1px;
			width: 118px;//150px;//167px;
			height: 91px;//99px;//109px;
			background-image: url(../img/report/voice_icon_report.png);
			background-size: 100%	auto;
			background-repeat: no-repeat;
			background-position: center center;

			@include sc(sp){
				/*top: -13px;
				width: calc(168px / 2);
				height: calc(106px / 2);*/
				width: 40.2vw;
				height: 31.8vw;
				top: 0;
				left: 0;
				background-size: auto	49px;
				background-position: center center;
				background-image: url(../img/report/voice_icon_report_sp.png);
			}
		}
	}
	> figure {
		width: 100%;
		height: 0;
		padding-top: 61.6%;//65.4%;
		display: block;

		@include sc(sp){
			position: absolute;
			right: 0;
			top: 0;
			width: 51.6vw;
			padding-top: 31.8vw;
			//margin-left: 40.2vw;
		}
	}
	> .detail {
		text-align: left;
		padding: 15px 20px 5px;//20px 25px 10px;
		@include sc(sp){
			padding: 10px 16px 5px;
		}

		> .tit { //dt {
			@include fz(18);
			@include notoB;
			//@extend %fontbold;
			line-height: 1.55;
			letter-spacing: 0;//0.02em;
			margin-bottom: 20px;
			
			@include sc(sp){
				@include fz(14);
				line-height: 1.75;
				text-align: left;
				margin-bottom: 15px;
			}
		}
		/*dd {
			@include fz(15);
			line-height: 1.73;
			letter-spacing: 0.02em;
			> p {
				@include fz(15);
				line-height: 1.73;
				letter-spacing: 0.02em;
			}

			@include sc(sp){
				p {
					display: block;
					@include fz(13);
					line-height: 1.75;
				}
			}
		}*/
	}
	.wrapLink {//仮設置
		display: block;
		position: absolute;
		z-index: 2;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		transition: 0.3s;
		background-color: rgba($bcff,0);
		.no-touchevents &:hover {
			background-color: rgba($bcff,0.5);
			/*~ .detail dt {
				text-decoration: underline;
			}*/
			~ .link .more_btn span:after {
					right: 8px;
			}
		}
	}
	.link {
		text-align: left;
		padding: 0 25px;

		@include sc(sp){
			padding: 0 16px;
		}
	}
}


/* detail */
.contents {
	&.main {
		&.index {
			margin-top: 30px;
			> .detail {
				padding: 0;
				margin: 0;
				position: relative;
				box-shadow: none!important;
			}
		}
	
		> .detail {
			box-shadow: 0 0 3px rgba($bc00,0.2);
			position: relative;
			padding: 120px 72px 80px;
			margin-bottom: 30px;
			
			.ie & {
				box-shadow: 0 0 5px rgba($bc00,0.5);
			}
			
			@include sc(sp){
				padding: 65px 16px 35px;
			}
			> .category {
				position: absolute;
				top: -1px;
				left: -1px;
				display: block;
				height: 0;
				overflow: hidden;
				background-size: 100% auto;
				background-repeat: no-repeat;
				background-position: center center;
			}
			&.interview {
				> .category {
					width: 276px;
					padding-top: 137px;
					background-image: url(../img/report/voice_icon_interview02.png);
					
					@include sc(sp){
						width: 137px;
						padding-top: 68px;
					}
				}
			}
			&.fashion {
				> .category {
					width: 276px;
					padding-top: 135px;
					background-image: url(../img/report/voice_icon_fashion02.png);
					
					@include sc(sp){
						width: 137px;
						padding-top: 68px;
					}
				}
			}
			&.report {
				> .category {
					width: 276px;
					padding-top: 137px;
					background-image: url(../img/report/voice_icon_report02.png);
					
					@include sc(sp){
						width: 137px;
						padding-top: 68px;
					}
				}
			}
		}
		header {
			margin-bottom: 25px;
			
			@include sc(sp){
				margin-bottom: 10px;
			}
			.title {
				@include fz(24);
				@include notoB;
				line-height: 1.75;
				left: 0.04em;
				margin-bottom: 10px;
				
				@include sc(sp){
					@include fz(17);
				}
			}
			> p {
				@include fz(15);
				line-height: 1.73;
				letter-spacing: 0.02em;
				
				@include sc(sp){
					@include fz(13);
					line-height: 1.75;
				}
			}
			/*.date {
				@include sc(sp){
					@include fz(13);
					line-height: 1.75;
				}
			}
			.place {
				@include sc(sp){
					@include fz(13);
					line-height: 1.75;
				}
			}*/
		}
		.item_box {
			> .main {
				position: relative;
				margin: 5px;
				margin-bottom: 40px;
				width: calc(100% - 10px);
				height: 0;
				padding-top: 61.1%;
				
				@include sc(sp){
					margin-bottom: 30px;
				}
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: -5px;
					bottom: -5px;
					left: -5px;
					right: -5px;
					border: 1px solid #dec183;
					
					@include sc(sp){
						top: -3px;
						bottom: -3px;
						left: -3px;
						right: -3px;
					}
				}
			}
			> p {
				@include fz(18);
				line-height: 2;
				letter-spacing: 0.04em;
				
				@include sc(sp){
					@include fz(14);
					line-height: 1.75;
				}
			}
			.ph_box {
				margin-top: 35px;
				font-size: 0;
				letter-spacing: 0;
				text-align: left;
				> figure {
					display: inline-block;
					max-width: 244px;
					margin-left: 24px;//2.9%
					
					@media screen and (max-width: 1279px) {
						max-width: 210px;
					}
					@include sc(sp){
						max-width: calc(50% - 5px);
						margin-left: 10px;
						margin-bottom: 10px;
					}
					@include sc(pc){
						&:nth-child(3n + 1){
							margin-left: 0;
						}
					}
					@include sc(sp){
						&:nth-child(odd){
							margin-left: 0;
						}
					}
					
					> img {
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}
.side {}









/* フォームパート */

/* リセットCSS */
[disabled] {
	cursor:default; 
}
textarea {
	overflow:auto;
}
fieldset {
	border:1px solid silver;
	margin:0 2px;
	padding:.35em .625em .75em;
}
legend {
	box-sizing:border-box;
	color:inherit;
	display:table;
	max-width:100%;
	padding:0;
	white-space:normal;
}
[type="number"] {
	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		height:auto;
	}
}
[type="search"] {
	-webkit-appearance:textfield;
	&::-webkit-search-cancel-button,
	&::-webkit-search-decoration {
		-webkit-appearance:none;
	}
}

/* 単一行テキスト */
/*.ui-datepicker {
	width: auto;
}*/
.formArea {
	/*input[type="text"],
	input[type="tel"],
	input[type="email"] {
		font-size: 1.4rem;
		border: 1px solid #bababa;
		border-radius: 4px;
		padding: 8px 13px;//3px 13px;
		color: $bc02;
		background-color: $bcff;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		-webkit-transition: 0.2s;
		transition: 0.2s;
		width: 126px;
		
		@media (max-width:420px) {
			width: 100%;
			padding: 6px 13px;
			//max-width: 200px;
			font-size: 1.6rem;//このサイズ以下になってしまうとiphoneでズームされてしまうので変えるな
		}
		&:focus {
			background-color: #FFF;
			-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
		}
		&[data-input-disabled] {
			opacity: .5;
			cursor: default;
		}
		
		&[data-need-ok] {
			background-color: #FFFFFF;
		}
	}*/
	
/*	textarea {
		font-size: 1.4rem;
		border: 1px solid #B9B9B9;
		padding: 7px 13px;
		color: #656563;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		-webkit-transition: 0.2s;
		transition: 0.2s;
		@media (max-width:420px) {
			font-size: 1.6rem;//このサイズ以下になってしまうとiphoneでズームされてしまうので変えるな
		}
		&:focus {
			background-color: #FFF;
			-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
			box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
		}
		&[data-input-disabled] {
			opacity: .5;
			cursor: default;
		}
		&[disabled] {
			background-color: #9F9F9F!important;
		}
		&[data-need-ok] {
			background-color: #FFFFFF;
		}
	}*/
	
/*	.radio {
		display: inline-block;
		margin-right: 10px;
		vertical-align: middle;
		@media (max-width:850px) {
			display: block;
			margin-right: 0;
		}
		&[data-input-disabled] {
			opacity: .5;
			cursor: default;
		}
		&[data-input-checked] {
			position: relative;
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: -2px;
				bottom: -2px;
				left: -2px;
				right: -2px;
				background-color: rgba(0,0,0,0);
			}
		}
		&[data-subtxt01] {
			&:after {
				content: attr(data-subtxt01);
				font-size: 1.2rem;
				display: inline-block;
				margin-left: 5px;
				color: #D71F22;
				vertical-align: middle;
			}
		}
		> input {
			&[type] {
				width: 0;
				height: 0;
				opacity: 0;
				html.no-csstransitions & {
					display: inline-block;
					vertical-align: middle;
				}
				&:checked {
					~ label {
						&:after {
							opacity: 1;
							transform: scale(1.0);
						}
					}
				}
			}
			&[data-need-ok] {
				+ label {
					&:before {
						background-color: #FFFFFF;
					}
				}
			}
		}
		> label {
			position: relative;
			cursor: pointer;
			display: inline-block;
			padding: 10px 0;
			vertical-align: middle;
			&:before {
				content: '';
				display: block;
				width: 13px;
				height: 13px;
				border: 1px solid #D0D0D0;
				background-color: #FFFFFF;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -7px;
				color: #656563;
				-webkit-border-radius: 50%;
				border-radius: 50%;
				-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
				box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
				-webkit-transition: 0.2s;
				transition: 0.2s;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				width: 7px;
				height: 7px;
				top: 0;
				bottom: -2px;
				left: 4px;
				margin: auto;
				background-color: #000;
				-webkit-transform: scale(0.0);
				-ms-transform: scale(0.0);
				transform: scale(0.0);
				-webkit-transition: 0.2s;
				transition: 0.2s;
				-webkit-border-radius: 50%;
				border-radius: 50%;
			}
			> span {
				font-size: 1.4rem;
				display: inline-block;
				padding-left: 20px;
				position: relative;
				-webkit-transition: .2s;
				transition: .2s;
			}
			.no-touchevents &:hover {
				&:before {
					-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
					box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
				}
			}
		}
	}*/
	
/*	.checkbox {
		display: inline-block;
		margin-right: 0;//10px;
		vertical-align: middle;
		
		@media (max-width:850px) {
			display: inline-block;//block;
			margin-right: 0;
			width: calc(100% / 7);
		}
		&[data-input-disabled] {
			opacity: .5;
			cursor: default;
		}
		&[data-input-checked] {
			position: relative;
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: -2px;
				bottom: -2px;
				left: -2px;
				right: -2px;
				background-color: rgba(0,0,0,0);
			}
		}
		&[data-subtxt01] {
			&:after {
				content: attr(data-subtxt01);
				font-size: 1.2rem;
				display: inline-block;
				margin-left: 5px;
				color: #D71F22;
				vertical-align: middle;
			}
		}
		> input {
			&[type] {
				width: 0;
				height: 0;
				opacity: 0;
				html.no-csstransitions & {
					display: inline-block;
					vertical-align: middle;
				}
				&:checked {
					~ label {
						&:after {
							opacity: 1;
							-webkit-transform: rotate(-37deg) scale(1.0);
							-ms-transform: rotate(-37deg) scale(1.0);
							transform: rotate(-37deg) scale(1.0);
						}
					}
				}
			}
			&[data-need-ok] {
				+ label {
					&:before {
						background-color: #FFFFFF;
					}
				}
			}
		}
		> label {
			position: relative;
			cursor: pointer;
			display: inline-block;
			padding: 10px 0;
			vertical-align: middle;
			
			@include sc(sp){
				text-align: center;
			}
			&:before {
				content: '';
				display: block;
				width: 18px;//13px;
				height: 18px;//13px;
				border: 1px solid #D0D0D0;
				background-color: #FFFFFF;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -10px;//-7px;
				color: #656563;
				-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
				box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
				-webkit-transition: 0.2s;
				transition: 0.2s;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				width: 9px;
				height: 3px;
				border-bottom: 2px solid #000;
				border-left: 2px solid #000;
				top: 0;
				bottom: 0px;
				left: 4px;
				margin: auto;
				opacity: 0;
				transform: rotate(-37deg) scale(1.4);
				transition: 0.2s;
			}
			> span {
				//font-size: 1.4rem;
				@include fz(16);
				@include notoR;
				letter-spacing: 0.04em;
				display: inline-block;
				padding-left: 24px;//20px;
				margin-right: 10px;
				position: relative;
				-webkit-transition: .2s;
				transition: .2s;
				
				@include sc(sp){
					@include fz(14);
					margin-right: 8px;
				}
			}
			.no-touchevents &:hover {
				&:before {
					-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
					box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
				}
			}
		}
	}*/
	
	.select {
		color: $bc02;
		display: inline-block;
		background-color: $bcff;
		position: relative;
		border-radius: 4px;
		border: 1px solid #bababa;
		-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		-webkit-transition: 0.2s;
		transition: 0.2s;
		
		&:before {
			content: '';
			display: block;
			position: absolute;
			right: 11px;
			top: 50%;
			margin-top: -2px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 4px 0 4px;
			border-color: $bc02 transparent transparent transparent;
			-webkit-transition: .2s;
			transition: .2s;
			html.no-csstransitions & {
				display: none;
			}
		}
		&[data-input-disabled] {
			opacity: .5;
			cursor: default;
		}
		&[data-need-ok] {
			background-color: #FFFFFF;
		}
		> select {
			width: 124px;
			font-size: 1.4rem;
			padding: 8px 27px 8px 13px;//3px 27px 3px 13px;
			position: relative;
			z-index: 1;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			
			@media (max-width:640px) {
				width: 100%;
				padding: 6px 27px 6px 13px;
				font-size: 1.6rem;//このサイズ以下になってしまうとiphoneでズームされてしまうので変えるな
			}
			html.no-csstransforms & {
				padding: 7px 7px 7px 13px;
			}
			option {
				//text-align: center;
				width: 100%;
				white-space: normal;
			}
		}
		.no-touchevents &:hover {
			-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
			box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
		}
	}
	
/*	input[type="file"] {
		.no-touchevents &:hover {
			-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
			box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
		}
	}*/
	
	/* その他 
	.otherwrap {
		display: block;
		margin-top: 13px;
		input {
			&[type="text"],
			&[type="tel"],
			&[type="email"] {
				margin-left: 5px;
				vertical-align: middle;
			}
		}
	}
	.otherwrap02 {
		margin-top: 10px;
		display: block;
		.otherwrap {
			margin-top: 0;
		}
	}
	*/
	/* アップロード 
	.uploadareaWrap {
		[type="file"] {
			cursor: pointer;
		}
		.uploadareaBlock {
			font-size: 1.4rem;
			&.disable {
				display: none;
			}
			.close {
				cursor: pointer;
				display: inline-block;
				vertical-align: middle;
				border-radius: 50%;
				background-color: #000;
				width: 15px;
				height: 15px;
				position: relative;
				&:hover {
					opacity: .5;
					transform: translateY(2px);
				}
				&.disable {
					display: none;
				}
				&:before,
				&:after {
					content: '';
					width: 9px;
					height: 2px;
					display: block;
					position: absolute;
					margin: auto;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					background-color: #fff;
				}
				&:before {
					transform: rotate(45deg);
				}
				&:after {
					transform: rotate(-45deg);
				}
			}
		}
	}
	.uploadView {
		width: 32%;
		padding-top: 30%;
		-webkit-background-size: contain;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		display: inline-block;
		vertical-align: top;
		background-color: #FFF;
		box-sizing: border-box;
		border: 5px solid #F4C8A6;
		border-radius: 3px;
		+ .uploadView {
			margin-left: 1%;
		}
		.no-touchevents & {
			transition: .3s ease;
			&:hover {
				opacity: .6;
			}
		}
		&[data-file-extension] {
			position: relative;
			&:after {
				content: attr(data-file-extension);
				display: inline-block;
				position: absolute;
				top: 50%;
				bottom: 50%;
				right: 0;
				left: 0;
				margin: auto;
				text-align: center;
				vertical-align: middle;
				font-size: 2.5rem;
				font-weight: bolder;
				color: #9F9F9F;
				letter-spacing: 2px;
				transform: translateY(-15px);
			}
		}
	}
	.uploadnote01 {
		color: #DF4547;
	}
	*/
	/* 必須項目 
	[data-need] {
		> dt > span:after {
			content: '必須';
			background-color: #D15D5D;
			display: inline-block;
			padding: 1px 3px 2px;
			color: #FFF;
			font-size: 1.2rem;
			vertical-align: middle;
			@media (max-width:640px) {
				float: none;
				margin-left: 6px;
			}
		}
		&[data-need-hissu_by_without] > dt > span:after {
			content: 'どちらか必須';
			background-color: #5D78D1;
			display: inline-block;
			padding: 1px 3px 2px;
			color: #FFF;
			font-size: 1.2rem;
			vertical-align: middle;
		}
	}
	*/
	/* エラー表示 
	.errorWrap {
		.errorList {
			font-size: 1.4rem;
			color: #FFF;
			background-color: #DF4547;
			margin-bottom: 40px;
			padding: 10px;
			display: inline-block;
			max-width: 500px;
			width: 100%;
			border-radius: 5px;
			box-sizing: border-box;
			text-align: left;
			li {
				padding-left: 14px;
				&:before {
					content: '・';
					margin-left: -14px;
				}
			}
		}
	}
	.error {
		strong {
			color: #FF0004;
		}
	}
	*/
	/* 確認画面の入力結果箇所 
	.result,
	.noresult {
		display: inline-block;
		border-radius: 3px;
		font-size: 1.4rem;
		+ .result,
		+ .noresult {
			margin-left: 5px;
		}
		& .inputappend,
		& .inputprepend {
			display: inline-block;
		}
	}
	.uploadresult {
		display: block;
		background-color: transparent;
		&.noresult {
			display: inline-block;
		}
	}
	.noresult {
		background-color: #DADADA;
	}
	*/
	/* 確認画面ボタン 
	.confirm {
		background-color: #808028;
		cursor: pointer;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		margin: 0 20px;
		padding: 15px 0;
		max-width: 350px;
		width: 100%;
		-webkit-transition: .2s;
		transition: .2s;
		input {
			cursor:pointer;
			font-size: 1.8rem;
			color: #FFF;
		}
		@media (max-width:640px) {
			width: 100%;
		}
		.no-touchevents &:hover {
			-webkit-filter: brightness(1.2);
			filter: brightness(1.2);
		}
	}*/
	
	/* 戻るボタン 
	.back {
		background-color: #6C6C6C;
		cursor: pointer;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		margin: 0 20px;
		padding: 15px 0;
		max-width: 350px;
		width: 100%;
		-webkit-transition: .2s;
		transition: .2s;
		input {
			cursor:pointer;
			font-size: 1.8rem;
			color: #FFF;
		}
		@media (max-width:640px) {
			width: 100%;
		}
		.no-touchevents &:hover {
			-webkit-filter: brightness(1.2);
			filter: brightness(1.2);
		}
	}
	*/
	/* 送信ボタン 
	.finbtn {
		background-color: #808028;
		cursor: pointer;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		margin: 0 20px;
		padding: 15px 0;
		max-width: 350px;
		width: 100%;
		-webkit-transition: .2s;
		transition: .2s;
		input {
			cursor:pointer;
			font-size: 1.8rem;
			color: #FFF;
		}
		@media (max-width:640px) {
			width: 100%;
		}
		.no-touchevents &:hover {
			-webkit-filter: brightness(1.2);
			filter: brightness(1.2);
		}
	}
	*/
	/* 分岐表示 
	[data-view_term] {
		display: none!important;
	}
	[data-view_term-ok] {
		display: table!important;
		@media (max-width:640px) {
			display: block!important;
		}
	}
	*/
	/* 分岐表示（除外） 
	[data-view_term_without] {
		display: table !important;
	}
	
	[data-view_term_without-ok] {
		display: none !important;
		@media print,screen and (max-width:640px) {
			display: none !important;
		}
	}*/
}