@charset "utf-8";

@import
	"../../common/css/sass/variable"
;

/* -----------------------------------------------------------------------------

パーティー予約

----------------------------------------------------------------------------- */
.contentsWrap {
	.c01 {
		color: #a38664;
	}
	.c02 {
		color: #7f0e2c;
	}
	.txtlink {
		color: #a38664;
		text-decoration: underline;
		.no-touchevents &:hover {
			text-decoration: none;
		}
	}
	
	.mod_wrap01 {
		padding-top: 40px;
		
		@include sc(sp){
			padding-top: 25px;
		}
	}
	.mod_wrap04 {
		padding-top: 35px;
		padding-bottom: 35px;
		margin-bottom: 70px;
		border: 8px solid #f7f7f7;
		
		@include sc(sp){
			border: none;
			padding-top: 15px;
			padding-bottom: 15px;
			padding-left: 0;
			padding-right: 0;
			margin-bottom: 35px;
		}
		.step01 &,
		.step05 & {
			border-top: none;
			padding-bottom: 60px;
			
			@include sc(sp){
				padding-bottom: 0;
			}
		}
		.step02 & {
			@include sc(sp){
				padding-top: 0;
			}
		}
		.step03 & {
			margin-top: 40px;
			padding-bottom: 80px;
			
			@include sc(sp){
				padding-bottom: 40px;
				margin-top: 0px;
				margin-bottom: 0;
			}
		}
	}
}
.flow_box {
	text-align: center;
	margin-bottom: 40px;
	
	@include sc(sp){
		margin-bottom: 20px;
	}
}
.step_txt {
	@include fz(20);
	@include notoB;
	color: #7f0e2c;
	margin-bottom: 15px;
	
	@include sc(sp){
		@include fz(15);
		margin-bottom: 0;
	}
}
.status_box {
	background-color: #f7f4ed;
	background-image: url(../img/reservation/deco01.png);
	background-size: 228px 122px;
	background-position: right bottom;
	background-repeat: no-repeat;
	padding: 20px 30px;
	box-sizing: border-box;
	border: 1px solid #ede9dd;
	text-align: left;
	
	@include sc(sp){
		padding: 10px;
		background-size: 114px 61px;
	}
	.date_box {
		margin-bottom: 10px;
		
		@include sc(sp){
			margin-bottom: 0;
		}
		> span {
			display: inline-block;
		}
		.date {
			@include notoB;
			@include fz(18);
			margin-right: 2em;
			line-height: 1.75;
			
			@include sc(sp){
				@include fz(14);
			}
		}
		.place {
			@include fz(18);
			line-height: 1.75;
			
			@include sc(sp){
				@include fz(14);
			}
		}
	}
	> p {
		@include fz(18);
		line-height: 1.75;
		color: #a28661;
		
		@include sc(sp){
			@include notoR;
			@include fz(14);
		}
	}
	.status01,.status02 {
		@include notoB;
		//@extend %fontbold;
		
		@include sc(sp){
			@include fz(14);
		}
	}
	.status03 {
		@include notoR;
	}
}

.tabMenu {
	padding: 0 100px;
	margin-top: 40px;
	position: relative;
	
	@include sc(sp){
		margin-top: 20px;
		padding: 0;
		letter-spacing: 0;
		font-size: 0;
	}
	&:after {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		display: block;
		height: 10px;
		background-color: #7f0e2c;
		
		@include sc(sp){
			height: 5px;
		}
	}
	li {
		position: relative;
		display: inline-block;
		width: 325px;
		height: 66px;
		box-sizing: border-box;
		background-color: #d8d8d8;
		border-radius: 3px 0 0 0;
		transition: 0.3s;
		
		@include sc(sp){
			width: 133px;
			height: 38px;
		}
		.no-touchevents &:hover {
			background-color: #a28661;
		}
		&:after {
			position: absolute;
			top: -1px;
			right: -1px;
			display: block;
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 57px 58px 0;
			border-color: transparent $bcff transparent transparent;
			
			@include sc(sp){
				top: 0;
				right: 0;
				border-width: 0 24px 37px 0;
			}
		}
		&.current {
			background-color: #7f0e2c;
			.no-touchevents &:hover {
				background-color: #7f0e2c;
			}
		}
		span {
			color: $bcff;
			@include fz(20);
			@include notoB;
			margin-left: 60px;
			
			@include sc(sp){
				display: inline-block;
				@include fz(12);
				margin-top: 3px;
				margin-left: 24px;
				line-height: 1.2;
			}
			&:before {
				content: '';
				height: 100%;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}
.tabArea {
	/*&#Firsttime {
		display: none;
	}*/
	&#Member {
		display: none;
	}
}
.formArea {
	.rowWrap {
	border-bottom: 1px solid #e0e0e0;
	padding: 14px 0 14px 20px;
	
	@include sc(sp){
		padding: 10px;
	}
	.element {
		dt,dd {
			display: inline-block;
			vertical-align: top;
			
			@include sc(sp){
				display: block;
			}
		}
		dt {
			@include fz(16);
			@extend %fontbold;
			padding-right: 20px;
			
			@include sc(sp){
				@include fz(14);
				margin-bottom: 5px;
			}
			> span {
				display: inline-block;
				min-width: 180px;
				position: relative;
				top: 10px;
				
				@include sc(sp){
					min-width: 0;
					top: 0;
				}
				&:after {
					position: absolute;
					top: 0;
					right: 0;
					@include sc(sp){
						position: relative;
						top: -1px;
						display: inline-block;
						@include fz(9);
						margin-right: 15px;
					}
				}
			}
		}
		dd {
			padding-left: 20px;
			width: calc(100% - 230px);
			
			@include sc(sp){
				@include fz(14);
				padding-left: 0;
				width: 100%;
			}
		}
		.step03 & {
			dt,dd {}
			dt {
				vertical-align: middle;
				> span {
					top: 0;
				}
			}
			dd {
				vertical-align: middle;
			}
		}
	}
}
	.prepend {
		@include fz(14);
		padding-right: 15px;
		top: -14px;
		
		@include sc(pc){
			.os-mac.safari & {
				top:0;
			}
		}
		@include sc(sp){
			@include fz(13);
			top: auto;
		}
	}
	.append {
		@include fz(14);
		padding-left: 15px;
		top: -14px;
		
		@include sc(pc){
			.os-mac.safari & {
				top:0;
			}
		}
		@include sc(sp){
			@include fz(13);
			top: auto;
		}
		
		.step03 & {
			@include sc(sp){
				padding-left: 0.5em;
			}
			+ span {
				margin-left: 30px;
				
				@include sc(sp){
					margin-left: 1em;
				}
			}
		}
	}
	.itemWrap {
		display: inline-block;
		
		@include sc(sp){
			width: 100%;
		}
		+ .itemWrap {
			margin-left: 10px;
		}
		
		&.month_wrap,
		&.day_wrap {
			margin-left: 25px;
		}
		&.age_wrap {
			margin-left: 60px;
			.step02 & {
				margin-left: 0;
			}
		}
		textarea {
			width: 575px;
			height: 150px;
		}
		.checkbox > label > span {
			@include fz(14);
			margin-left: 5px;
		}
		
		.radio {
			input[type="radio"][disabled="disabled"] ~ label {
				&:before,&:after {
					content: none;
				}
				> span {
					padding-left: 0;
				}
			}
		}
	}
	.selectWrap {
		.prepend,
		.append {
			position: relative;
			//top: -14px;
		}
		.step03 & {
			.prepend,
			.append {
				position: static;
			}
		}
	}
	.info {
		display: block;
		word-wrap:break-word;
		overflow-wrap:break-word;
		@include fz(14);
		letter-spacing: 0;
		margin-top: 10px;
		
		@include sc(sp){
			@include fz(12);
			line-height: 1.75;
		}
		a {
			color: #a48660;
			text-decoration: underline;
			.no-touchevents &:hover {
				text-decoration: none;
			}
		}
	}
	.memo {
		display: block;
		@include fz(12);
		letter-spacing: 0;
		margin-top: 10px;
		
		@include sc(sp){
			@include fz(13);
		}
	}
	
	.w01 {
		input[type="text"],
		input[type="tel"],
		input[type="email"]{
			width: 225px;
		}
		@include sc(sp){
			width: 47%;
			input[type="text"],
			input[type="tel"],
			input[type="email"]{
				width: 100%;
			}
		}
	}
	.w02 {
		input[type="text"],
		input[type="tel"],
		input[type="email"]{
			width: 470px;
		}
	}
	.w03 {
		input[type="text"],
		input[type="tel"],
		input[type="email"]{
			width: 586px;
			
			@include sc(sp){
				width: 100%;
			}
		}
	}
	.w04 {
		input[type="text"],
		input[type="tel"],
		input[type="email"]{
			width: 115px;
		}
	}
	.w05 {
		input[type="text"],
		input[type="tel"],
		input[type="email"]{
			width: 60px;
		}
	}
	.w06 {
		input[type="text"],
		input[type="tel"],
		input[type="email"],
		.select{
			max-width: 185px;
			width: 100%;
			overflow: hidden;
		} >select {
			width: 150%;//185px;
		}
	}
	
	.spW01 {
		@include sc(sp){
			width: 100%;
			input[type="text"],
			input[type="tel"],
			input[type="email"],
			textarea{
				width: 100%;
			}
		}
	}
	.spW02 {
		@include sc(sp){
			width: 30%;
			margin-left: 0!important;
			input[type="text"],
			input[type="tel"],
			input[type="email"]{
				width: 60%;
			}
		}
	}
	.spW03 {
		@include sc(sp){
			display: block;
			width: 61.5%;
			margin-left: 0!important;
			margin-bottom: 10px;
			input[type="text"],
			input[type="tel"],
			input[type="email"]{
				width: 80%;
			}
		}
	}
	
	.special_box {
		/*.step01 &,.step02 & {
			display: none;
		}*/
		background-color: #f7f4ed;
		margin: 20px 0;
		+ .rowWrap {
			border-top: 1px solid #e0e0e0;
		}
		.rowWrap {
			.element {
				dt {
					> span {
						&:after {
							content: none;
						}
					}
				}
			}
		}
		.elementWrap {
			/*dt,dd {
				display: block;
				padding: 14px 20px;
			}*/
			> dt {
				display: block;
				padding: 14px 20px;
				background-color: #aa9a83;
				@include fz(14);
				@extend %fontbold;
				padding-right: 20px;
				color: $bcff;
				
				@include sc(sp){
					padding-right: 0;
					padding: 10px 15px;
					@include fz(12);
				}
				> span {
					@include fz(16);
					@extend %fontbold;
					display: inline-block;
					min-width: 180px;
					margin-right: 40px;
					position: relative;
					
					@include sc(sp){
						position: static;
						min-width: 0;
						margin-right: 10px;
						@include fz(14);
					}
					&:after {
						position: absolute;
						top: 0;
						right: 0;
						@include sc(sp){
							@include fz(9);
							position: static;
						}
					}
				}
			}
			> dd {
				padding: 14px 0 0;
			}
		}
		.memo {
			@include fz(14);
			
			@include sc(sp){
				@include fz(13);
			}
		}
	}
	.option_box {
			padding: 20px 0;
			margin-top: 50px;
			border: 2px solid #e0e0e0;
		.rowWrap {
			border-bottom: none!important;
			padding: 0;
			text-align: center;
		}
		.element {
			text-align: center;
			> dt {
				padding: 0;
				position: relative;
				padding-right: 0;
				@include fz(18);
				line-height: 1.75;
				color: #7f0e2c;
				
				@include sc(sp){
					@include fz(14);
				}
				&:before {
					content: '必須';
					background-color: #7f0e2c;
					display: inline-block;
					padding: 1px 6px 2px;
					margin-right: 10px;
					color: #FFF;
					font-size: 1.2rem;
					vertical-align: middle;
					
					@include sc(sp){
						@include fz(9);
						position: relative;
						top: -1px;
						margin-right: 15px;
					}
					/*@media (max-width:640px) {
						float: none;
						margin-left: 6px;
					}*/
				}
			}
			> dd {
				width: 100%;
				padding-left: 0;
				padding: 20px 0;
			}
		}

		.radio {
			> label {
				&:before {
					width: 18px;
					height: 18px;
					margin-top: -11px;
				}
				&:after {
					width: 12px;
					height: 12px;
					bottom: 2px;
					left: 4px;
				}
				> span {
					padding-left: 30px;
					@include fz(17);
					
					@include sc(sp){
						@include fz(14);
					}
				}
			}
		}
		.memo {
			@include fz(14);
			letter-spacing: 0;
			line-height: 1.75;
			margin-top: 0;
			
			@include sc(sp){
				padding: 0 10px;
				@include fz(12);
				text-align: left;
			}
		}
	}
	.friend_box {
		margin-top: 30px;
		.step_txt + .rowWrap {
			border-top: 1px solid #e0e0e0;
		}
	}
	.memo_box {
		dt,dd,p {
			@include fz(14);
			line-height: 1.46;
			letter-spacing: 0.04em;
			
			@include sc(sp){
				@include fz(13);
			}
		}
		dt,.tit {
			@extend %fontbold;
		}
		dd + dt {
			margin-top: 1em;
		}
		.tit {
			margin-bottom: 1em;
		}
		.disc {
			&:before {
				position: relative;
				top: 1px;
				content: '';
				display: inline-block;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background-color: #3d3935;
				margin-right: 5px;
			}
		}
	}
	.price_box {
		text-align: center;
		margin-top: 30px;
		.step04 & {
			margin-bottom: 40px;
			
			@include sc(sp){
				margin-top: 0;
				margin-bottom: 20px;
			}
		}
		> .price {
			display: inline-block;
			max-width: 800px;
			width: 100%;
			margin: 0 auto;
			padding: 20px 0;
			@include fz(24);
			@extend %fontbold;
			color: #7f0e2c;
			background-color: rgba(#ede9dc,0.5);
			border: 1px solid #ede9dc;
			
			@include sc(sp){
				@include fz(16);
				padding: 15px 0;
			}
			.step04 & {
				max-width: 100%;
				@include fz(20);
				
				@include sc(sp){
					@include fz(16);
				}
			}
		}
		> .memo {
			display: block;
			max-width: 800px;
			width: 100%;
			margin: 20px auto 0;
			text-align: left;
			li {
				@include fz(14);
				
				@include sc(sp){
					@include fz(13);
				}
			}
			.atn {
				@include fz(16);
				color: #7f0e2c;
				
				@include sc(sp){
					@include fz(14);
				}
			}
			.step04 & {
				max-width: 100%;
				text-align: center;
				margin: 10px auto 0;
				@include fz(14);
				
				@include sc(sp){
					text-align: left;
					@include fz(12);
				}
			}
		}
	}
	.link {
		margin-top: 40px;
		text-align: center;
		
		.step03 &,
		.step04 & {
				margin-top: 20px;
				position: relative;
				> .element {
					text-align: left;
					border: 1px solid rgba(#726d68,0.2);
					max-width: 800px;
					width: 100%;
					box-sizing: border-box;
					margin: 20px auto 40px;
					padding: 15px 20px;
					left: 0;
					
					.checkbox {
						@include sc(sp){
							width: 100%;
							text-align: center;
						}
					}
					.checkbox > label {
						padding: 0;
						> span {
							@include fz(16);
							@extend %fontbold;
							
							@include sc(sp){
								@include fz(13);
								text-align: left;
								padding-left: 30px;
							}
						}
					}
				}
				.wrap {
					label {
						display: inline-block;
						
						@include sc(sp){
							display: block;
						}
					}
				}
			}
		.back {
			@include sc(sp){
				margin-top: 10px;
				height: 50px;
			}
		}
		.Confirm {
			margin: 0 auto;
		}
		.memo {
			margin-top: 20px;
			@include fz(14);
			
			@include sc(sp){
				@include fz(13);
			}
			
			.step03 & {
				text-align: center;
				@include fz(14);
				margin-top: 0;
			}
		}
	}
	
}

/* step03 */
.step03 {
	
}

/* step04 */
#Cash,
#Credit,
#Cvs {
	display: none;
	.mod_btn07 {
		width: 290px;
		
		@include sc(sp){
			//width: 240px;
		}
		&.tp02 {
			width: 170px;
			@include sc(sp){
				max-width: 290px;
				width: 290px;
			}
		}
	}
	.memo {
		@include fz(14);
		dt {
			@extend %fontbold;
		}
		dd {
			@include sc(sp){
				@include fz(13);
			}
		}
	}
	> .memo {
		padding-left: 20px;
		
		@include sc(sp){
			padding-left: 0;
		}
	}
	.link {
		margin-top: 40px;
	}
}
#Credit {
	.itemWrap {
		@include sc(sp){
			text-align: center;
			> img {
				height: 47px;
				width: auto;
			}
		}
	}
	.cardface {
		@include sc(sp){
			margin-top: 10px;
			text-align: center;
			img {
				height: 43px;
				width: auto;
			}
		}
	}
}
#Cvs {
	.info {
		li {
			line-height: 1;
			margin-bottom: 5px;
			img {
				float: left;
				@include sc(sp){
					height: 16px;
					width: auto;
				}
			}
			&:after {
				content: '';
				display: block;
				clear: both;
			}
			span {
				@include fz(13);
				margin-left: 10px;
				
				@include sc(sp){
					display: block;
					padding-left: 90px;
					@include fz(12);
					line-height: 1.5;
				}
				&:before {
					display: inline-block;
					content: '･･･';
					margin-right: 10px;
					@include sc(sp){
						margin-right: 7px;
						margin-left: -23px;
						@include fz(10);
						letter-spacing: 0;
					}
				}
			}
		}
	}
}

/* step05 */
.step05 {
	.sec_tit {
		height: 50px;
		padding: 5px 0;
		box-sizing: border-box;
		@include fz(22);
		@include notoB;
		letter-spacing: 0.04em;
		
		@include sc(sp){
			height: 38px;
			@include fz(15);
		}
	}
	.info_box {
		text-align: center;
		margin-top: 30px;
		@include sc(sp){
			margin-top: 0px;
		}
		> .price {
			display: block;
			width: 100%;
			margin: 0 auto;
			padding: 20px 0;
			@include fz(20);
			@extend %fontbold;
			color: #7f0e2c;
			background-color: rgba(#ede9dc,0.5);
			border: 1px solid #ede9dc;
			
			@include sc(sp){
				@include fz(16);
				padding: 10px 0;
			}
		}
		> .wrap {
			padding: 15px 0;
			max-width: 840px;
			width: 100%;
			margin: 0 auto;
			text-align: left;
			p {
				@include fz(18);
				line-height: 2;
				margin-bottom: 1.5em;
				letter-spacing: 0.04em;
				
				@include sc(sp){
					@include fz(13);
					line-height: 1.75;
				}
				&.icon{
					display: block;
					text-align: center;
				}
			}
			dl.memo {
				dt {
					@extend %fontbold;
					@include fz(18);
					line-height: 2;
					
					@include sc(sp){
						@include fz(13);
						line-height: 1.75;
					}
				}
				dd {
					@include fz(18);
					line-height: 2;
					
					@include sc(sp){
						@include fz(13);
						line-height: 1.75;
					}
				}
			}
		}
		.atn_box {
			> dt {
				color: #7f0e2c;
				@include fz(22);
				@include notoB;
				padding: 10px 0;
				
				@include sc(sp){
					@include fz(16);
				}
				span {
					display: block;
					max-width: 840px;
					width: 100%;
					text-align: left;
					margin: 0 auto;
				}
			}
			> dd {
				padding: 20px 0;
				border-top: 1px solid #e0e0e0;
				&:last-child {
					border-bottom: 1px solid #e0e0e0;
				}
				> dl {
				max-width: 840px;
				width: 100%;
				margin: 0 auto;
				dt,dd {
					text-align: left;
					@include fz(18);
					line-height: 2;
					letter-spacing: 0;
					padding-left: 30px;
					
					@include sc(sp){
						@include fz(13);
						line-height: 1.75;
					}
				}
				dt {
					position: relative;
					@extend %fontbold;
					&.deco01 {
						&:before{
							position: absolute;
							left: 0;
							top: 8px;
							content: '';
							display: block;
							width: 24px;
							height: 18px;
							background-image: url(/common/img/deco_arrow.png);
							background-size: auto 100%;
							background-repeat: no-repeat;
							background-position: center center;
							
							@include sc(sp){
								top: 2px;
							}
						}
					}
				}
			}
			}
		}
	}
}






/* フォームパート */

/* リセットCSS */
[disabled] {
	cursor:default; 
}
textarea {
	overflow:auto;
}
fieldset {
	border:1px solid silver;
	margin:0 2px;
	padding:.35em .625em .75em;
}
legend {
	box-sizing:border-box;
	color:inherit;
	display:table;
	max-width:100%;
	padding:0;
	white-space:normal;
}
[type="number"] {
	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		height:auto;
	}
}
[type="search"] {
	-webkit-appearance:textfield;
	&::-webkit-search-cancel-button,
	&::-webkit-search-decoration {
		-webkit-appearance:none;
	}
}

/* 単一行テキスト */
.ui-datepicker {
	width: auto;
}
.formArea {
	input[type="text"],
	input[type="tel"],
	input[type="email"] {
		font-size: 1.4rem;
		border: 1px solid #dbdbdb;//#bababa;
		//border-radius: 4px;
		border-radius: 0;
		padding: 8px 13px;//3px 13px;
		color: $bc02;
		background-color: #fbfbfb;//$bcff;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		-webkit-transition: 0.2s;
		transition: 0.2s;
		width: 126px;
		
		@media (max-width:640px) {
			border-radius: 0;
			width: 100%;
			padding: 6px 13px;
			//max-width: 200px;
			font-size: 1.6rem;//このサイズ以下になってしまうとiphoneでズームされてしまうので変えるな
		}
		&:focus {
			background-color: #FFF;
			-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
		}
		&[data-input-disabled] {
			opacity: .5;
			cursor: default;
		}
		
		&[data-need-ok] {
			background-color: #FFFFFF;
		}
	}
	
	textarea {
		border-radius: 0;
		font-size: 1.4rem;
		border: 1px solid #dbdbdb;//#B9B9B9;
		background-color: #fbfbfb;
		padding: 7px 13px;
		color: #656563;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		-webkit-transition: 0.2s;
		transition: 0.2s;
		
		@media (max-width:640px) {
			border-radius: 0;
			font-size: 1.6rem;//このサイズ以下になってしまうとiphoneでズームされてしまうので変えるな
		}
		&:focus {
			background-color: #FFF;
			-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
			box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
		}
		&[data-input-disabled] {
			opacity: .5;
			cursor: default;
		}
		&[disabled] {
			background-color: #9F9F9F!important;
		}
		&[data-need-ok] {
			background-color: #FFFFFF;
		}
	}
	
	.radio {
		display: inline-block;
		margin-right: 10px;
		vertical-align: middle;
		@media (max-width:850px) {
			display: inline-block;
			margin-right: 0;
		}
		&[data-input-disabled] {
			opacity: .5;
			cursor: default;
		}
		&[data-input-checked] {
			position: relative;
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: -2px;
				bottom: -2px;
				left: -2px;
				right: -2px;
				background-color: rgba(0,0,0,0);
			}
		}
		&[data-subtxt01] {
			&:after {
				content: attr(data-subtxt01);
				font-size: 1.2rem;
				display: inline-block;
				margin-left: 5px;
				color: #D71F22;
				vertical-align: middle;
			}
		}
		> input {
			&[type] {
				width: 0;
				height: 0;
				opacity: 0;
				html.no-csstransitions & {
					display: inline-block;
					vertical-align: middle;
				}
				&:checked {
					~ label {
						&:after {
							opacity: 1;
							transform: scale(1.0);
						}
					}
				}
			}
			&[data-need-ok] {
				+ label {
					&:before {
						background-color: #FFFFFF;
					}
				}
			}
		}
		> label {
			position: relative;
			cursor: pointer;
			display: inline-block;
			padding: 10px 0;//5px 0;
			vertical-align: middle;
			
			@include sc(sp){
				padding: 5px 0;
			}
			&:before {
				content: '';
				display: block;
				width: 18px;
				height: 18px;
				border: 1px solid #D0D0D0;
				background-color: #FFFFFF;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -11px;
				color: #656563;
				-webkit-border-radius: 50%;
				border-radius: 50%;
				-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
				box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
				-webkit-transition: 0.2s;
				transition: 0.2s;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				width: 12px;
				height: 12px;
				top: 0;
				bottom: 2px;
				left: 4px;
				margin: auto;
				background-color: #000;
				-webkit-transform: scale(0.0);
				-ms-transform: scale(0.0);
				transform: scale(0.0);
				-webkit-transition: 0.2s;
				transition: 0.2s;
				-webkit-border-radius: 50%;
				border-radius: 50%;
			}
			> span {
				font-size: 1.5rem;
				display: inline-block;
				padding-left: 30px;//20px;
				position: relative;
				-webkit-transition: .2s;
				transition: .2s;
				
				@include sc(sp){
					@include fz(13);
					padding-left: 25px;
				}
			}
			.no-touchevents &:hover {
				&:before {
					-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
					box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
				}
			}
		}
	}
	
	.checkbox {
		display: inline-block;
		margin-right: 0;//10px;
		vertical-align: middle;
		
		@media (max-width:850px) {
			display: inline-block;//block;
			margin-right: 0;
			width: calc(100% / 7);
		}
		&[data-input-disabled] {
			opacity: .5;
			cursor: default;
		}
		&[data-input-checked] {
			position: relative;
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: -2px;
				bottom: -2px;
				left: -2px;
				right: -2px;
				background-color: rgba(0,0,0,0);
			}
		}
		&[data-subtxt01] {
			&:after {
				content: attr(data-subtxt01);
				font-size: 1.2rem;
				display: inline-block;
				margin-left: 5px;
				color: #D71F22;
				vertical-align: middle;
			}
		}
		> input {
			&[type] {
				width: 0;
				height: 0;
				opacity: 0;
				html.no-csstransitions & {
					display: inline-block;
					vertical-align: middle;
				}
				&:checked {
					~ label {
						&:after {
							opacity: 1;
							-webkit-transform: rotate(-37deg) scale(1.0);
							-ms-transform: rotate(-37deg) scale(1.0);
							transform: rotate(-37deg) scale(1.0);
						}
					}
				}
			}
			&[data-need-ok] {
				+ label {
					&:before {
						background-color: #FFFFFF;
					}
				}
			}
		}
		> label {
			position: relative;
			cursor: pointer;
			display: inline-block;
			padding: 10px 0;
			vertical-align: middle;
			
			@include sc(sp){
				text-align: center;
			}
			&:before {
				content: '';
				display: block;
				width: 18px;//13px;
				height: 18px;//13px;
				border: 1px solid #D0D0D0;
				background-color: #FFFFFF;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -10px;//-7px;
				color: #656563;
				-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
				box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
				-webkit-transition: 0.2s;
				transition: 0.2s;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				width: 9px;
				height: 3px;
				border-bottom: 2px solid #000;
				border-left: 2px solid #000;
				top: 0;
				bottom: 0px;
				left: 4px;
				margin: auto;
				opacity: 0;
				transform: rotate(-37deg) scale(1.4);
				transition: 0.2s;
			}
			> span {
				//font-size: 1.4rem;
				@include fz(16);
				@include notoR;
				letter-spacing: 0.04em;
				display: inline-block;
				padding-left: 24px;//20px;
				margin-right: 10px;
				position: relative;
				-webkit-transition: .2s;
				transition: .2s;
				
				@include sc(sp){
					@include fz(14);
					margin-right: 8px;
				}
			}
			.no-touchevents &:hover {
				&:before {
					-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
					box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
				}
			}
		}
	}
	
	.select {
		color: $bc02;
		display: inline-block;
		background-color: #fbfbfb;//$bcff;
		position: relative;
		//border-radius: 4px;
		border: 1px solid #dbdbdb;//#bababa;
		-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		-webkit-transition: 0.2s;
		transition: 0.2s;
		
		max-width: 116px;
		overflow: hidden;
		
		&:before {
			content: '';
			display: block;
			position: absolute;
			right: 11px;
			top: 50%;
			margin-top: -5px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 8px 6px 0 6px;//5px 4px 0 4px;
			border-color: $bc02 transparent transparent transparent;
			-webkit-transition: .2s;
			transition: .2s;
			html.no-csstransitions & {
				display: none;
			}
		}
		&[data-input-disabled] {
			opacity: .5;
			cursor: default;
		}
		&[data-need-ok] {
			background-color: #FFFFFF;
		}
		> select {
			width: 150%;//116px;
			font-size: 1.4rem;
			padding: 8px 27px 8px 13px;//3px 27px 3px 13px;
			position: relative;
			z-index: 1;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			
			@media (max-width:640px) {
				width: 100%;
				padding: 6px 27px 6px 13px;
				font-size: 1.6rem;//このサイズ以下になってしまうとiphoneでズームされてしまうので変えるな
			}
			html.no-csstransforms & {
				padding: 7px 7px 7px 13px;
			}
			option {
				//text-align: center;
				width: 100%;
				white-space: normal;
			}
		}
		.no-touchevents &:hover {
			-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
			box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
		}
	}
	
	/*	input[type="file"] {
		.no-touchevents &:hover {
			-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
			box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
		}
	}*/
	
	/* その他 
	.otherwrap {
		display: block;
		margin-top: 13px;
		input {
			&[type="text"],
			&[type="tel"],
			&[type="email"] {
				margin-left: 5px;
				vertical-align: middle;
			}
		}
	}
	.otherwrap02 {
		margin-top: 10px;
		display: block;
		.otherwrap {
			margin-top: 0;
		}
	}
	*/
	/* アップロード 
	.uploadareaWrap {
		[type="file"] {
			cursor: pointer;
		}
		.uploadareaBlock {
			font-size: 1.4rem;
			&.disable {
				display: none;
			}
			.close {
				cursor: pointer;
				display: inline-block;
				vertical-align: middle;
				border-radius: 50%;
				background-color: #000;
				width: 15px;
				height: 15px;
				position: relative;
				&:hover {
					opacity: .5;
					transform: translateY(2px);
				}
				&.disable {
					display: none;
				}
				&:before,
				&:after {
					content: '';
					width: 9px;
					height: 2px;
					display: block;
					position: absolute;
					margin: auto;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					background-color: #fff;
				}
				&:before {
					transform: rotate(45deg);
				}
				&:after {
					transform: rotate(-45deg);
				}
			}
		}
	}
	.uploadView {
		width: 32%;
		padding-top: 30%;
		-webkit-background-size: contain;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		display: inline-block;
		vertical-align: top;
		background-color: #FFF;
		box-sizing: border-box;
		border: 5px solid #F4C8A6;
		border-radius: 3px;
		+ .uploadView {
			margin-left: 1%;
		}
		.no-touchevents & {
			transition: .3s ease;
			&:hover {
				opacity: .6;
			}
		}
		&[data-file-extension] {
			position: relative;
			&:after {
				content: attr(data-file-extension);
				display: inline-block;
				position: absolute;
				top: 50%;
				bottom: 50%;
				right: 0;
				left: 0;
				margin: auto;
				text-align: center;
				vertical-align: middle;
				font-size: 2.5rem;
				font-weight: bolder;
				color: #9F9F9F;
				letter-spacing: 2px;
				transform: translateY(-15px);
			}
		}
	}
	.uploadnote01 {
		color: #DF4547;
	}
	*/
	
	/* 必須項目 */
	[data-need] {
		> dt > span:after {
			content: '必須';
			background-color: #2b2b2b;//#D15D5D;
			display: inline-block;
			padding: 1px 6px 2px;
			color: #FFF;
			font-size: 1.2rem;
			vertical-align: middle;
			@media (max-width:640px) {
				float: none;
				line-height: 1.6;
				padding: 2px 6px 0;
				margin-left: 6px;
			}
		}
		&[data-need-hissu_by_without] > dt > span:after {
			content: 'どちらか必須';
			background-color: #5D78D1;
			display: inline-block;
			padding: 1px 3px 2px;
			color: #FFF;
			font-size: 1.2rem;
			vertical-align: middle;
		}
	}
	/* エラー表示 */
	.errorWrap {
		.errorList {
			font-size: 1.4rem;
			color: #FFF;
			background-color: #DF4547;
			margin-bottom: 40px;
			padding: 10px;
			display: inline-block;
			max-width: 500px;
			width: 100%;
			border-radius: 5px;
			box-sizing: border-box;
			text-align: left;
			li {
				padding-left: 14px;
				&:before {
					content: '・';
					margin-left: -14px;
				}
			}
		}
	}
	.error {
		strong {
			color: #FF0004;
		}
	}
	
	/* 確認画面の入力結果箇所 */
	.result,
	.noresult {
		display: inline-block;
		border-radius: 3px;
		font-size: 1.4rem;
		+ .result,
		+ .noresult {
			margin-left: 5px;
		}
		& .inputappend,
		& .inputprepend {
			display: inline-block;
		}
	}
	.uploadresult {
		display: block;
		background-color: transparent;
		&.noresult {
			display: inline-block;
		}
	}
	.noresult {
		background-color: #DADADA;
	}
	/* 確認画面ボタン */
	.confirm {
		background-color: #808028;
		cursor: pointer;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		margin: 0 20px;
		padding: 15px 0;
		max-width: 350px;
		width: 100%;
		-webkit-transition: .2s;
		transition: .2s;
		input {
			cursor:pointer;
			font-size: 1.8rem;
			color: #FFF;
		}
		@media (max-width:640px) {
			width: 100%;
		}
		.no-touchevents &:hover {
			-webkit-filter: brightness(1.2);
			filter: brightness(1.2);
		}
	}
	
	/* 戻るボタン */
	.back {
		//background-color: #6C6C6C;
		cursor: pointer;
		//text-align: center;
		//display: inline-block;
		//vertical-align: middle;
		margin: 0 20px;
		//padding: 15px 0;
		//max-width: 350px;
		//width: 100%;
		//-webkit-transition: .2s;
		//transition: .2s;
		input {
			cursor:pointer;
			//font-size: 1.8rem;
			//color: #FFF;
		}
		@media (max-width:640px) {
			width: 100%;
			max-width: 240px;
			margin: 0 auto;
		}
		/*.no-touchevents &:hover {
			-webkit-filter: brightness(1.2);
			filter: brightness(1.2);
		}*/
	}
	
	/* 送信ボタン */
	.finbtn {
		background-color: #808028;
		cursor: pointer;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		margin: 0 20px;
		padding: 15px 0;
		max-width: 350px;
		width: 100%;
		-webkit-transition: .2s;
		transition: .2s;
		input {
			cursor:pointer;
			font-size: 1.8rem;
			color: #FFF;
		}
		@media (max-width:640px) {
			width: 100%;
		}
		.no-touchevents &:hover {
			-webkit-filter: brightness(1.2);
			filter: brightness(1.2);
		}
	}
	
	
	/* 分岐表示 
	[data-view_term] {
		display: none!important;
	}
	[data-view_term-ok] {
		display: table!important;
		@media (max-width:640px) {
			display: block!important;
		}
	}
	*/
	/* 分岐表示（除外） 
	[data-view_term_without] {
		display: table !important;
	}
	
	[data-view_term_without-ok] {
		display: none !important;
		@media print,screen and (max-width:640px) {
			display: none !important;
		}
	}*/

}