@charset "utf-8";

@import
	"../../common/css/sass/variable"
;

/* -----------------------------------------------------------------------------

参加資格

----------------------------------------------------------------------------- */
.contents {
	padding-top: 70px;
	padding-bottom: 100px;
	
	max-width: 1000px;
	margin: 0 auto;
	
	@include sc(sp){
		padding-top: 40px;
		padding-bottom: 50px;
	}
}
.rule_box {
	> dt {
		@include fz(20);
		@include notoSM;
		letter-spacing: 0.12em;
		padding-bottom: 5px;
		margin-bottom: 10px;
		color: #7f0e2c;
		border-bottom: 1px solid #7f0e2c;
		
		@include sc(sp){
			@include fz(16);
			letter-spacing: 0.04em;
		}
	}
	> dd {
		> * {
			@include fz(16);
			line-height: 1.75;
			
			@include sc(sp){
				@include fz(13);
			}
		}
		p {
			+ p {
				margin-top: 1em;
			}
			+ ol {
				margin-top: 1em;
			}
		}
	}
	+ .rule_box {
		margin-top: 55px;
		
		@include sc(sp){
			margin-top: 25px;
		}
	}
}
.num_list {
	li {
		list-style-type:decimal;
		list-style-position: inside;
	}
	&.tp02 {
		counter-reset:tp02;
		list-style-type: none;
		> li {
			list-style-type: none;
			position: relative;
			padding-left: 2em;
			&:before {
				position: absolute;
				left: 0;
				top: 0;
				content: counter(tp02) ". ";
				counter-increment: tp02;
				font-weight: bold;
				@include fz(18);
				line-height: 1.8;
				color: #7f0e2c;
				
				@include sc(sp){
					@include fz(14);
				}
			}
			p {
				@include sc(sp){
					@include fz(14);
				}
			}
			.tit {
				@extend %fontbold;
				@include fz(18);
				line-height: 1.8;
				
				@include sc(sp){
					@include fz(14);
				}
			}
			+ li {
				margin-top: 0.5em;
			}
		}
	}
	&.tp03 {
		counter-reset:tp03;
		list-style-type: none;
		
		> li {
			list-style-type: none;
			position: relative;
			padding-left: 2em;
			@include fz(16);
			
			@include sc(sp){
				@include fz(13);
			}
			&:before {
				position: absolute;
				left: 0;
				top: 0;
				content: counter(tp03);
				counter-increment: tp03;
				@extend %fontbold;
				@include fz(16);
				
				@include sc(sp){
					@include fz(13);
				}
			}
			&:nth-child(-n+9):before {
				content: '0'counter(tp03);
			}
			.tit {
				@extend %fontbold;
				@include fz(16);
				
				@include sc(sp){
					@include fz(13);
				}
			}
		}
	}
	&.tp04 {
		counter-reset:tp04;//tp02;
		list-style-type: none;
		> li {
			list-style-type: none;
			position: relative;
			padding-left: 1.5em;
			@include fz(16);
			
			@include sc(sp){
				@include fz(13);
			}
			> * {
				@include fz(16);
				padding-top: 0.1em;
				
				@include sc(sp){
					@include fz(13);
					padding-top: 0;
				}
			}
			&:before {
				position: absolute;
				left: 0;
				top: 0;
				content: counter(tp04) ". ";
				counter-increment: tp04;
				@extend %fontbold;
				@include fz(18);
				color: #7f0e2c;
				
				@include sc(sp){
					@include fz(13);
				}
			}
			.tit {
				@extend %fontbold;
				@include fz(16);
				
				@include sc(sp){
					@include fz(13);
				}
			}
			+ li {
				margin-top: 0.5em;
			}
		}
	}
	&.tp05 {
		padding:0 0 0 2.5em;
  margin:0;
		li {
			list-style-type:none;
  	list-style-position:inside;
  	counter-increment: tp05;
			position: relative;
			&:before {
				position: absolute;
				left: -2.5em;
				display: marker;
  		content: "(" counter(tp05) ") ";
			}
		}
	}
}
.box_wrap {
	box-sizing: border-box;
	padding: 20px 5px;
	margin-top: 20px;//60px;
	border: 10px solid #f7f7f7;
	text-align: center;
	
	@include sc(sp){
		border: 5px solid #f7f7f7;
		margin-top: 30px;
	}
	.num_list {
		position: relative;
		
		@include sc(sp){
			width: calc(100% - 10px);
			margin: 0 auto;
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 48%;
			display: block;
			width: 1px;
			background-color: #f7f7f7;
			
			@include sc(sp){
				content: none;
			}
		}
		li {
			width: calc(50% - 3em);
			vertical-align: top;
			display: inline-block;
			text-align: left;
			
			@include sc(sp){
				width: calc(100% - 3em);
				display: block;
				
				+ li {
					margin-top: 40px;
					&:after {
						content: '';
						position: absolute;
						top: -20px;
						left: 0;
						right: 0;
						display: block;
						height: 2px;
						background-color: #f7f7f7;
					}
				}
			}
		}
	}
	.link	{
		margin-top: 10px;
		
		@include sc(sp){
			a {
				margin: 0 auto;
			}
			text-align: center;
		}
	}
	.tel {
		margin-top: 0.5em;
		
		@include sc(sp){
			text-align: center;
		}
		a {
			@include fz(30);
			color: #ad8763;
			letter-spacing: 0;
			line-height: 1;
			
			@include sc(sp){
				@include fz(26);
			}
		}
	}
	
	p.time {
		margin-top: 0;
		@include fz(16);
		
		@include sc(sp){
			@include fz(13);
		}
	}
}
.table_box {
	&.tp02 {
		border-top: 1px solid rgba(#3d3935,0.2);
		border-bottom: 1px solid rgba(#3d3935,0.2);
		display: table;
		width: 100%;
		margin-top: 5px;
		margin-bottom: 20px;
		
		@include sc(sp){
			display: block;
		}
		>dt, > dd {
			display: table-cell;
			vertical-align: middle;
			@include fz(16);
			padding: 10px 20px;
			
			@include sc(sp){
				display: block;
				text-align: center;
				padding: 5px;
			}
		}
		> dt {
			background-color: #f7f7f7;
			width: 180px;
			box-sizing: border-box;
			
			@include sc(sp){
				@include fz(14);
				width: 100%;
				border-bottom: 1px solid rgba(#3d3935,0.2);
			}
		}
		> dd {
			@include sc(sp){
				@include fz(13);
				line-height: 1.75;
				text-align: left;
			}
		}
	}
}