@charset "utf-8";

@import
	"../../common/css/sass/variable";

/* -----------------------------------------------------------------------------

パーティー検索

----------------------------------------------------------------------------- */
header.mv {
	height:280px;
	
	@include sc(sp){
		height: 160px;
	}
	> .page_tit {
		top:180px;
		
		@include sc(sp){
			top: 98px;
		}
	}
}
.contents.main {
	@include sc(sp){
		margin-top: 25px;
		float: none;
	}
}
.contentsWrap {
	> .in {
		background-color: $bcy09;
		text-align: center;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			height: 6px;
			width: 100%;
			@include gradient($bcr03,$bcr04,horizontal);
			
			@include sc(sp){
				content: none;
			}
		}
		
		.mod_wrap03 {
			padding-top: 15px;
			padding-bottom: 36px;
			
			@include sc(sp){
				padding-top: 0;
				padding-bottom: 20px;
			}
		}
	}

	.detail & {
		> .mod_wrap01 {}
	}
}
.sec_tit {

	.list & {
		margin-top: 10px;
		height: 75px;
		@include sc(sp){
			margin-top: 10px;
			height: 53px;
		}
		>.alt {
			width: 532px;
			background-image: url(../img/schedule/search_tit.png);
			background-size: auto 52px;
			padding-top: 75px;

			@include sc(sp){
				width: 100%;
				padding-top: 53px;
				background-size: auto 38px;
			}
		}
	}
	.event &,
	.area &{
		height: 45px;
		background: #250007;
		text-align: left;
		padding-left: 50px;
		background-image: url(../common/img/search_icon_large.png);
		background-size: 22px 22px;
		background-position: 20px center;
		background-repeat: no-repeat;
		> span {
			display: inline;
			@include fz(20);
			line-height: 2.2;
			@include notoSL;
			color: $bcff;
			&:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
		}
		
	}
}

.formArea {
	text-align: center;
	.mod_btn01 {
		width: 290px;//105px;
		height: 50px;//36px;
		display: inline-block;
		position: relative;
		margin-left: 0;//30px;
		top: 5px;

		@include sc(sp){
			margin: 0 auto;
			top: 0;
			//left: 50%;
			//margin-left: -52px;
		}
		> * {
			height: 50px;
			min-width: 0;
			padding: 10px;
			padding-left: 30px;
			@include fz(20);
			@include notoSR;
			border-radius: 3px;

			@include sc(sp){
				max-width: 100%;
				@include fz(18);
				//width: 288px;
				//height: 52px;
			}
		}
		&:before {
			content: '';
			width: 30px;
			height: 30px;
			position: absolute;
			z-index: 2;
			left: 48px;//62px;
			top: 50%;
			margin-top: -15px;
			display: block;
			background-image: url(../common/img/search_icon_large.png);
			background-size: 100% auto;
			background-repeat: no-repeat;

			@include sc(sp){
				margin-left: -10px;
				//left: 18px;
			}
		}
		&:after {
			content: '';
			position: absolute;
			top: 2px;
			bottom: 1px;
			left: 2px;
			right: 2px;
			border-radius: 2px;
			border: 1px solid;
			border-top-color: rgba($bc00,0.6);
			border-left-color: rgba($bc00,0.1);
			border-right-color: rgba($bc00,0.2);
			border-bottom-color: rgba($bcff,0.4);
		}
	}
	.rowWrap {
		display: table;
		table-layout: fixed;
		width: 100%;
		padding: 15px 0;
		border-bottom: 1px solid #ccc;
		
		@include sc(sp){
			display: block;
			position: relative;
			border-bottom: none;
			padding: 0;
			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				display: block;
				height: 1px;
				left: -16px;
				right: -16px;
				background-color: #ccc;
			}
			.wrap {
				position: relative;
				&:after {
					content: '';
					display: block;
					clear: both;
				}
				&:before {
					content: '';
					position: absolute;
					top: 0;
					display: block;
					height: 1px;
					left: -20px;
					right: -20px;
					background-color: #ccc;
				}
			}
		}
		
		&.col3 {
			table-layout: auto;
			> .wrap {
				display: table;
				width: 100%;
				> .element {
					display: table-cell;
				}
			}
		}
		> .element {
			display: table-cell;
			text-align: left;
			
			@include sc(sp){
				display: block;
			}
		}
	}
	.element {
		letter-spacing: 0;
		font-size: 0;
		margin-bottom: 15px;

		@include sc(sp){
			padding: 10px 0 15px;//15px 0;
			margin-top: 0;
			margin-bottom: 0;
		}
		> dt {
			display: inline-block;
			vertical-align: middle;
			width: 100px;
			@include fz(20);
			@include notoR;
			letter-spacing: 0.04em;
			text-align: left;

			@include sc(sp){
				@include fz(15);
				display: block;
				width: 100%;
				margin-bottom: 5px;
			}
			small {
				display: block;
				@include fz(16);
				line-height: 1;
				@include sc(sp){
					display: inline-block;
					@include fz(15);
				}
			}
			
			&.inline {
				@include sc(sp){
					display: inline-block;
					width: auto;
					min-width: 4em;//6em;
					max-width: 8em;
					margin-right: 1em;
					margin-bottom: 0;
					+ dd {
						display: inline-block;
						width: calc(100% - 9em);//calc(100% - 7.2em);
						//text-align: right;
					}
				}
			}
		}
		> dd {
			display: inline-block;
			vertical-align: middle;
			> div {
				display: inline-block;
				vertical-align: middle;
				letter-spacing: 0;
				font-size: 0;
			}
			@include sc(sp){
				display: block;
				width: 100%;
				> div {
					display: block;
					width: 100%;
					.select {
						width: 195px;
					}
				}
			}

			.calender01_wrap,
			.calender02_wrap {
				@include sc(sp){
					display: inline-block;
					width: 45.6%;
				}

				label {
					display: block;
					padding-right: 30px;
					height: 40px;//30px;
					background-image: url(../common/img/icon_cal.png);
					background-size: 25px auto;
					background-position: right center;
					background-repeat: no-repeat;

					@include sc(sp){
						display: inline-block;
						height: 40px;
						padding-right: 0;
						background-image: none;
					}
				}
			}
			.calender02_wrap {
				padding-left: 20px;
				position: relative;
				&:before {
					position: absolute;
					left: 0px;
					top: 10px;//5px;
					content: '～';
					display: inline-block;
					@include fz(15);

					@include sc(sp){
						top: 10px;
					}
				}
			}
		}
		
		+ .element {
			@include sc(sp){
				position: relative;
				&:before {
					content: '';
					position: absolute;
					top: 0;
					display: block;
					height: 1px;
					left: -20px;
					right: -20px;
					background-color: #ccc;
				}
			}
		}
		&.inline {
			@include sc(sp){
				width: 48%;
				float: left;
				//display: inline-block;
				text-align: left;
				&:before {
					content: none;
				}
				.select {
					width: 96%;
				}
				+ .inline {
					float: right;
					//margin-left: 2.5%;
				}
			}
		}
	}
	.keywordWrap {
		text-align: center;
		background-color: #ede9dd;
		margin: 16px 0;
		padding: 16px 0;
		
		@include sc(sp){
			margin-left: -16px;
			margin-right: -16px;
			padding: 0 16px;
		}
		.element {
		margin-bottom: 0;
		dt {
			width: 170px;
			@include sc(sp){
				width: 100%;
				text-align: left;
			}
		}
		dd {
			input {
				width: 410px;
				
				@include sc(sp){
					width: 100%;
				}
			}
		}
	}
	}
	
	.event &,
	.area &{
		display: none;
		background-color: #f7f4ed;
		padding-bottom: 24px;
		border-bottom: 6px solid #250007;
		@include sc(sp){
			//display: none;
			margin-left: -16px;
			margin-right: -16px;
		}
		.rowWrap {
			box-sizing: border-box;
			padding-left: 20px;
			padding-right: 20px;
			
			@include sc(sp){
				padding-left: 16px;
				padding-right: 16px;
			}
		}
		&.col3 {
			table-layout: auto;
			> .wrap {
				display: table;
				width: 100%;
				> .element {
					display: table-cell;
				}
			}
		}
		> .element {
			display: table-cell;
			text-align: left;
		}
		.keywordWrap {
			margin-left: 20px;
			margin-right: 20px;
			@include sc(sp){
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}
.search_box {
	background-color: #ede9dc;
	text-align: center;
	padding: 10px 0;
	margin-top: -35px;
		
	@include sc(sp){
		margin-top: 0;
		margin-left: -16px;
		margin-right: -16px;
	}
	.search_btn {
		display: inline-block;
		width: 315px;
		height: 45px;
		border-radius: 3px;
		position: relative;
		text-align: center;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #48321d), color-stop(0.51, #7e6839), color-stop(0.50, #a18347), color-stop(0.00, #b59d55));
		background: -webkit-linear-gradient(top, #b59d55 0%, #a18347 50%, #7e6839 51%, #48321d 100%);
		background: -moz-linear-gradient(top, #b59d55 0%, #a18347 50%, #7e6839 51%, #48321d 100%);
		background: -o-linear-gradient(top, #b59d55 0%, #a18347 50%, #7e6839 51%, #48321d 100%);
		background: -ms-linear-gradient(top, #b59d55 0%, #a18347 50%, #7e6839 51%, #48321d 100%);
		background: linear-gradient(to bottom, #b59d55 0%, #a18347 50%, #7e6839 51%, #48321d 100%);

		@include sc(sp){
			margin: 0 auto;
			width: 280px;
			height: 40px;
		}
		> * {
			position: relative;
			display: inline;
			min-width: 0;
			padding-left: 20px;
			@include fz(16);
			@include notoSR;
			border-radius: 3px;
			color: #fff;
			
			@include sc(sp){
				height: 40px;
				@include fz(14);
			}
			&:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
			&:after {
				content: '';
				width: 16px;//30px;
				height: 16px;//30px;
				position: absolute;
				z-index: 2;
				left: 0;//-30px;
				top: 50%;
				margin-top: -7px;//-15px;
				display: block;
				background-image: url(../common/img/search_icon_large.png);
				background-size: 100% auto;
				background-repeat: no-repeat;

				@include sc(sp){
					left: 0px;
					margin-top: -7px;
					width: 14px;
					height: 14px;
				}
			}
		}
	}
}

/* contents */
.contents {
	background-color: $bcff;
	.mod_wrap03 {
		> .detail {
			padding-bottom: 100px;
			@include sc(sp){
				padding-bottom: 0;
			}
		}
	}
	.detail & {
		> .detail {
			padding-bottom: 100px;
			@include sc(sp){
				padding-bottom: 50px;
			}
		}
	}
}
.result_box {
	margin: 35px 0;
	@include sc(sp){
		margin: 15px 0 0;
	}
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	.wrap {
		&:after {
			content: '';
			display: block;
			clear: both;
		}
		.result {
			float: left;
			margin-top: 10px;
			@include sc(sp){
				margin-top: 0;
			}
		}
		.pager {
			float: right;
			margin-top: 0!important;
			width: auto;
		}
	}
	
	.result {
		@include fz(20);
		@include notoB;
		color: #7e0d2b;
		margin-bottom: 10px;
		
		@include sc(sp){
			@include fz(18);
			line-height: 1.56;
		}
		span {
			&:before {
				content: '：';
				display: inline-block;
			}
			@include sc(sp){
				display: block;
				&:before {
				content: none;
				}
			}
		}
	}
	> .detail {
		display: block;
		font-size: 0;
		letter-spacing: 0;
		p {
			display: inline-block;
			@include fz(16);
			@include notoR;
			line-height: 2.0;
			color: #8b8886;//$bc04;
			padding-right: 30px;
			span {
				color: #3d3935;//$bc02;
			}
			&:nth-child(2){
				width: 80%;
			}
		}
	}
}
.event_box {
	position: relative;
	box-sizing: border-box;
	box-shadow: 0 0 3px rgba($bc00,0.2);
	.ie & {
		box-shadow: 0 0 6px rgba($bc00,0.2);
	}
		
	background-color: $bcff;
	width: 100%;
	padding: 15px;
	
	@include sc(sp){
		box-shadow: none;
		padding: 0;
		width: calc(100% + 32px);
		margin-left: -16px;
		margin-right: -16px;
		+ .result_box {
			margin: 16px 0 35px;
		}
	}
	+ .event_box {
		margin-top: 15px;
		@include sc(sp){
			margin-top: 10px;
		}
	}
	.header {
		display: table;
		height: 70px;//90px;
		width: 100%;
		table-layout: fixed;
		background-color: #7f0e2c;
		
		@include sc(sp){
			height: 60px;
		}
		> p {
			display: table-cell;
			vertical-align: middle;
			padding: 0 20px;
			@include sc(sp){
				padding: 0 18px;
			}
		}
		.date {
			text-align: left;
			color: $bcff;
			@include fz(24);//fz(28);
			@include notoB;
			
			@include sc(sp){
				@include fz(16);
				line-height: 1.3;
			}
			> .time {
				margin-left: 1em;
				
				@include sc(sp){
					display: block;
					margin-left: 0;
				}
			}
		}
		.place {
			position: relative;
			text-align: right;
			background-color: #9e040c;
			color: #ffe404;
			@include fz(16);//fz(20);
			@include notoR;
			background-image: url(../img/schedule/detail/deco02.png);
			background-size: auto 60px;//88px;
			background-position: right bottom;//center;
			background-repeat: no-repeat;
			
			@include sc(sp){
				background-size: auto 60px;
				@include fz(13);
			}
			&:before {
				position: absolute;
				left: 0px;
				top: 0;
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 35px 0 35px 19px;//45px 0 45px 24px;
				border-color: transparent transparent transparent #7f0e2c;
				
				@include sc(sp){
					border-width: 30px 0 30px 18px;
				}
			}
			.area {
				display: block;
				@include notoB;
				@include fz(24);//fz(28);
				line-height: 1.2;
				
				@include sc(sp){
					@include fz(16);
				}
			}
		}
	}
	
	> .detail {
		background-color: #f7f4ed;
		padding: 15px 20px;//20px;
		margin-top: 0;//10px;
		display: table;
		@include sc(sp){
			padding: 10px 16px;
			display: block;
		}
		.left {
			display: table-cell;
			width: 630px;
			vertical-align: top;
			background-image: url(../img/schedule/detail/deco01.png);
			background-size: auto 112px;
			background-repeat: no-repeat;
			background-position: right 95px;//110px;
			
			@include sc(sp){
				display: block;
				width: 100%;
				background-size: auto 50px;
				background-position: right 80px;
			}
		}
		.right {
			padding-left: 30px;
			width: 410px;
			font-size: 0;
			letter-spacing: 0;
			> .wrap {
				display: table-cell;
				vertical-align: top;
				position: relative;
				padding-bottom: 70px;
				background-color: $bcff;
				&:before {
					content: '';
					display: block;
					position: absolute;
					background-color: #f7f4ed;
					width: 10px;
					top: 0;
					bottom: 0;
					left: 50%;
					margin-left: -5px;
				}
			}
			
			@include sc(sp){
				display: block;
				padding: 0;
				width: calc(100% + 32px);
				margin-left: -16px;
				margin-right: -16px;
				> .wrap {
					display: table;
					table-layout: fixed;
					width: 100%;
					&:before {
						background-color: #d6ccc2;
						width: 1px;
						z-index: 1;
						margin-left: 0;
					}
				}
			}
		}
	}

	/* event detail */
	.detail & {
		> .wrap {
			background-color: $bcff;
			padding: 15px;
			display: block;
			background-image: url(../img/schedule/detail/deco01.png);
			background-size: 198px auto;
			background-position: 88% 110px;
			background-repeat: no-repeat;
			
			@include sc(sp){
				background: none;
				padding: 16px 0;
			}
			header {
				display: table;
				width: 100%;
				@include sc(sp){
					position: relative;
					display: block;
					padding-left: -16px;
					padding-right: 16px;
					&:before {
						content: '';
						display: block;
						position: absolute;
						top: -16px;
						bottom: -32px;
						left: -16px;
						right: -16px;
						background-color: #f6f4ed;
						background-image: url(../img/schedule/detail/deco01.png);
						background-size: 99px auto;
						background-position: 85% 90px;
						background-repeat: no-repeat;
					}
				}
				.left {
					display: table-cell;
					width: 660px;
					
					@include sc(sp){
						position: relative;
						z-index: 1;
						display: block;
						width: calc(100% - 32px);
						padding-left: 16px;
						padding-right: 16px;
					}
				}
				.right	{
					padding-left: 30px;
					display: table-cell;
					width: 180px;
					.male {
						margin-bottom: 10px;
					}
					.mod_btn06 {
						span {
							@include fz(20);
							@include notoB;
						}
						&.cancel {
							span {
								@include fz(16);
								line-height: 1.1;
								small {
									@include fz(12);
								}
							}
						}
					}
					.drawer_box {
						margin-top: 10px;
						.drawer {
							width: 130%;
						}
					}
				}
				.title {
					margin-top: 30px;
					
					@include sc(sp){
						margin-top: 5px;
					}
				}
				.spec {
					letter-spacing: 0.02em;
					@include sc(sp){
						line-height: 1.75;
						letter-spacing: 0.04em;
					}
				}
			}
			.ph {
				width: 100%;
				padding-top: 47.3%;
				margin-left: 0;
				margin-right: 0;
				height: 0;
			}
			.spec_box_wrap {
				display: table;
				table-layout: fixed;
				margin-left: 180px;
				margin-top: 50px;
				max-width: 685px;
				width: 100%;
				position: relative;
				
				@media screen and (max-width: 1279px) {
					max-width: 590px;
				}
				@include sc(sp){
					max-width: 100%;
					margin-top: 25px;
					margin-left: 0;
				}
				.sec_title {
					display: inline-block;
					background: none;
					text-align: left;
					line-height: 1.8;
					color: #897b6e;
					height: auto;
					
					@include sc(sp){
						display: block;
						text-align: center;
					}
					&.spNon {
						@include sc(sp){
							display: none !important;
						}
					}
				}
				> dl {
					display: table-cell;
					> dt {
						height: 64px;
						text-align: center;
						box-sizing: border-box;
						
						@include sc(sp){
							height: 37px;
						}
						span {
							@include fz(22);
							@extend %fontbold;
							line-height: 3.2;
							@include sc(sp){
								@include fz(12);
							}
							&:before {
								position: relative;
								top: -4px;
								content: '';
								display: inline-block;
								height: 100%;
								width: 40px;
								background-size: 39px auto;
								background-position: 0 center;
								background-repeat: no-repeat;
								vertical-align: middle;
								margin-right: 8px;
								
								@include sc(sp){
									width: 24px;
									margin-right: 6px;
									background-size: 24px auto;
								}
							}
						}
					}
					> dd {
						> div {
							text-align: center;
							position: relative;
							padding: 20px;
							min-height: 80px;
							box-sizing: border-box;
							border-bottom: 1px solid #988c7e;
							
							@include sc(sp){
								padding: 0 0 10px;
								min-height: 0;
							}
							.atn {
								margin-top: 18px;
								
								@include sc(sp){
									padding: 0 10px;
								}
								&:after {
									content: '';
									display: block;
									clear: both;
								}
								> dt {
									float: left;
									display: inline-block;
									min-width: 70px;
									background-color: #7f0e2c;
									text-align: center;
									padding: 0 5px;
									color: $bcff;
									@include fz(15);
									@include notoB;
									letter-spacing: 0.04em;
									line-height: 1.4;
									margin-right: 5px;
									border: none;
									
									@include sc(sp){
										min-width: 37px;
										@include fz(11);
										padding: 0 3px;
									}
								}
								> dd {
									text-align: left;
									color: #7f0e2c;
									@include fz(16);
									line-height: 1.6;
									
									@include sc(sp){
										@include fz(12);
										line-height: 1.75;
									}
								}
							}
							&.status {
								@include sc(sp){
									padding-top: 10px;
								}
								.wrap {
									span {
									display: inline-block;
									width: 160px;
									height: 36px;
									border-radius: 5px;
									border: 3px solid;
									border-color: #8b7230;
									@include fz(18);
									@extend %fontbold;
									line-height: 1.2;//1.4;
									color: #8b7230;
									font-weight: bold;
									padding: 5px 0;
									box-sizing: border-box;
									background-color: #fff;
									
									@include sc(sp){
										@include fz(13);
										line-height: 1.4;
										border: 2px solid;
										width: 120px;
										height: 32px;
									}
									&.type02 {
										color: #993c47;
										border-color: #993c47;
									}
									&.type03 {
										color: #ff0302;
										border-color: #ff0302;
									}
								}
								}
							}
							&.age {
								.wrap {
									span {
										@include fz(20);
										@extend %fontbold;

										@include sc(sp){
											@include fz(15);
										}
									}
								}
							}
							&.price {
								.wrap {
									p {
									@include fz(20);
									@extend %fontbold;
									line-height: 1.2;
									padding-right: 90px;
									
									@include sc(sp){
										display: block;
										@include fz(15);
										text-align: center;
										padding-right: 0;
									}
									span {
										position: absolute;
										display: inline-block;
										@include fz(12);
										@extend %fontbold;
										line-height: 1.4;
										letter-spacing: 0;
										font-weight: normal;
										color: #fff;
										padding: 3px 5px;
										margin-left: 10px;
										margin-top: -2px;
										background-color: #a89982;
										
										@include sc(sp){
											@include fz(10);
											display: inline-block;
											position: static;
											margin-left: 0;
										}
									}
									+ p {
										margin-top: 10px;
									}
								}
								}
							}
							&.detail {
								.wrap	{
									text-align: left;
									p {
										text-align: left;
										@include fz(17);
										line-height: 1.75;
										
										@include sc(sp){
											@include fz(13);
											line-height: 1.75;
											padding: 0 10px;
										}
									}
								}
							}
							&.entry {
								@include sc(sp){
									padding-top: 10px;
								}
								.mod_btn06 {
									margin: 0 auto;
									span {
										@include fz(20);
									}
								}
							}
						}
					}
					&.male {
						> dt {
							background-color: #adafbe;
							border-bottom: 2px solid #323761;
							span {
								color: #323761;
								&:before {
									background-image: url(../img/schedule/detail/icon_male.png);
								}
							}
						}
						> dd {
							background-color: #f4f5f7;
							> .detail {
								background-color: #e1e2e7;
							}
							> div {
								
							}
							.sec_title {
								display: block;
								padding: 20px;
								box-sizing: border-box;
								position: absolute;
								left: -180px;
								top: 0;
								bottom: -1px;
								width: 180px;
								background-color: #e2d8cf;
								border-right: 1px solid #988c7e;
								border-bottom: 1px solid #988c7e;
								min-height: 80px;
								
								@include sc(sp){
									width: 100%;
									position: static;
									padding: 0;
									margin-bottom: 10px;
									min-height: 0;
									border-right: none;
								}
								span {
									display: inline;
									@include fz(18);
									@extend %fontbold;
									color: #887a6d;
									
									@include sc(sp){
										@include fz(12);
									}
									&:before {
										content: '';
										display: inline-block;
										height: 100%;
										vertical-align: middle;
									}
								}
							}
						}
					}
					&.female {
						border-left: 1px solid #988c7e;
						border-right: 1px solid #988c7e;
						> dt {
							background-color: #dfa0b3;
							border-bottom: 2px solid #af1343;
							span {
								color: #af1343;
								&:before {
									background-image: url(../img/schedule/detail/icon_female.png);
								}
							}
						}
						> dd {
							background-color: #fcf3f6;
							.sec_title {
								display: none;
								padding: 20px;
								box-sizing: border-box;
								position: absolute;
								left: -180px;
								top: 0;
								bottom: -1px;
								width: 180px;
								background-color: #e2d8cf;
								border-right: 1px solid #988c7e;
								border-bottom: 1px solid #988c7e;
								min-height: 80px;
								
								@include sc(sp){
									width: 100%;
									display: block;
									position: static;
									padding: 0;
									margin-bottom: 10px;
									min-height: 0;
									border-right: none;
								}
								span {
									display: inline;
									@include fz(18);
									@extend %fontbold;
									color: #887a6d;
									
									@include sc(sp){
										@include fz(12);
									}
									&:before {
										content: '';
										display: inline-block;
										height: 100%;
										vertical-align: middle;
									}
								}
							}
							> .detail {
								background-color: #f3dce4;
							}
						}
					}
				}

			}
			.detail_box {
				margin-top: 30px;
				.accordion {
					display: table;
					width: 100%;
					border-bottom: 1px solid #988c7e;
					
					@include sc(sp){
						display: block;
					}
					&:first-child {
						border-top: 1px solid #988c7e;
					}
					dt,dd {
						display: table-cell;
						padding: 20px;
						
						@include sc(sp){
							padding: 10px 16px;
						}
						
						@include sc(sp){
							display: block;
						}
					}
					dt {
						vertical-align: middle;
						width: 180px;
						box-sizing: border-box;
						background-color: #e2d8cf;
						@include fz(16);
						@include notoB;
						line-height: 1.77;
						color: #887a6d;
						
						@include sc(sp){
							position: relative;
							width: 100%;
							@include fz(14);
							&:before {
								position: absolute;
								right: 10px;
								content: '＋';
								@include fz(24);
								line-height: 1;
								@include notoL;
								display: inline-block;
								vertical-align: middle;
							}
							&.open {
								&:before {
									content: 'ー';
								}
							}
						}
					}
					dd {
						text-align: left;
						@include sc(sp){
							display: none;
						}
						> * {
							@include fz(16);
							line-height: 1.75;
							
							@include sc(sp){
								@include fz(13);
							}
						}
						p {
							+ p {
								margin-top: 2em;
								
								@include sc(sp){
									margin-top: 1em;
								}
							}
						}
						.dress {
							margin-bottom: 20px;
							li {
								margin-bottom: 10px;
								@include fz(16);
								
								@include sc(sp){
									@include fz(13);
								}
								span {
									position: relative;
									font-weight: bold;
									margin-right: 25px;
									padding-left: 40px;
									
									@include sc(sp){
										margin-right: 10px;
										padding-left: 25px;
									}
									&:before {
										left: 0;
										top: 50%;
										margin-top: -13px;
										content: '';
										display: inline-block;
										position: absolute;
										width: 26px;
										height: 26px;
										background-size: 100% auto;
										background-repeat: no-repeat;
										background-position: center center;
										
										@include sc(sp){
											width: 20px;
											height: 20px;
											margin-top: -10px;
										}
									}
								}
							}
						}
						.male{
							color: #303761;
							span {
								&:before {
									background-image: url(../img/schedule/detail/icon_male.png);
								}
							}
						}
						.female {
							color: #af1343;
							span {
								&:before{
									background-image: url(../img/schedule/detail/icon_female.png);
								}
							}
						}
						.icon {
							display: inline-block;
							padding: 3px;
							line-height: 1;
							color: $bcff;
							background-color: #a89982;
							margin-bottom: 0.5em;
						}
					}
				}
			}
			.access_box {
				margin-top: 60px;
				
				@include sc(sp){
					margin-top: 30px;
					padding: 16px;
				}
				.sec_tit02 {
					span {
						@include fz(22);
						
						@include sc(sp){
							@include fz(15);
						}
						&:after {
							height: 22px;
							width: 70px;
							background-image: url(../img/schedule/detail/tit_txt_access.png);
							
							@include sc(sp){
								width: 46px;
								height: 16px;
								background-size: auto 100%;
							}
						}
					}
				}
				.access_detail {
					position: relative;
					figure {
						position: absolute;
						top: 28px;
						right: 0;
						
						@include sc(sp){
							position: static;
						}
					}
					> dl {
						max-width: 515px;
						width: 100%;
						border-bottom: 1px solid #d4ccc1;
						
						@include sc(sp){
							max-width: 100%;
						}
						&:after {
							content: '';
							display: block;
							clear: both;
						}
						> dt {
							float: left;
							width: 100px;
							padding: 28px 0;
							color: #aa9983;
							@include fz(18);
							@extend %fontbold;
							
							@include sc(sp){
								float: none;
								width: auto;
								@include fz(14);
								padding: 5px 0 0;
							}
						}
						> dd {
							padding-left: 100px;
							padding: 28px 0;
							@include fz(16);
							
							@include sc(sp){
								padding-left: 0;
								@include fz(14);
								padding: 0 0 5px;
							}

							a {
								.no-touchevents &:hover {
									text-decoration: underline;
								}
							}
						}
						&.place {
							> dd {
								@include fz(18);
								
								@include sc(sp){
									@include fz(14);
								}
							}
						}
					}
					.access {
						max-width: 100%;
						border-bottom: none;
					}
				}
			}
			.link {
				text-align: center;
				background-color: #f7f4ed;
				padding: 30px 0;
				margin-top: 45px;
				
				@include sc(sp){
					margin-top: 16px;
					padding: 16px 0;
					margin: 0 auto;
					letter-spacing: 0;
					font-size: 0;
				}
				> p {
					display: inline-block;
					
					.mod_btn06 {
						width: 300px;
						height: 60px;
						
						@include sc(sp){
							display: block;
							max-width: 155px;
							width: 100%;//155px;
							height: 50px;
						}
						> * {
							@include fz(20);
							@include notoB;
							min-width: 155px;
							
							@media screen and (max-width: 360px) {
								min-width: 150px;
							}
						}
						&:before {
							width: 300px;
							height: 56px;
							
							@include sc(sp){
								max-width: 155px;
								width: 100%;//155px;
								height: 46px;
							}
						}
					}
				}
				.female {
					margin-left: 50px;
					
					@include sc(sp){
						margin-left: 10px;
					}
				}
			}
			.drawer_box {
				&.bottom {
					margin-bottom: 0;
					position: relative;
					right: auto;
					width: auto;
					.drawer_btn {
						right: auto;
						left: 50%;
						margin-left: -80px;
					}
					.drawer {
						right: auto;
						left: 50%;
						margin-left: -180px;//-140px;
						width: auto;//236px;
						@include sc(sp){
							margin-left: -130px;
						}
						&:before {
							right: 155px;//120px;
							@include sc(sp){
								right: 65px;
							}
						}
					}
				}
			}
		}
	}

	.offSet {//詳細アンカー用オフセット
		display: block;
		padding-top: 100px;
		margin-top: -100px;

		@include sc(sp){
			padding-top: 0;
			margin-top: 0;
		}
	}
	.type_box {
		font-size: 0;
		letter-spacing: 0;
		span {
			display: inline-block;
			color: $bcff;
			@include fz(18);
			line-height: 1.3;//1;
			padding: 7px 15px 5px 10px;//5px 15px 3px 10px;
			margin-right: 10px;
			border-left: 5px solid #c8b16b;
			
			@include sc(sp){
				@include fz(13);
				margin-right: 5px;
			}
			&.type01 {
				background-color: #79007f;
			}
			&.type02 {
				background-color: #ab8733;
			}
			&.type03 {
				background-color: #993c47;
			}
		}
	}
	.title {
		@include fz(26);//fz(30);
		@include notoB;
		color: #52252d;
		line-height: 1.75;
		letter-spacing: 0.04em;
		margin: 5px 0;
		border-bottom: 1px solid #52252d;
		
		> a {
			transition: 0.3s;
			.no-touchevents &:hover {
				opacity: 0.5;
			}
		}
		
		@include sc(sp){
			margin-bottom: 10px;
			padding-bottom: 10px;
			@include fz(16);
		}
	}
	.spec {
		@include fz(18);
		@include notoR;
		line-height: 1.6;
		letter-spacing: 0.02em;
		color: #8b7230;
		transition: 1s;
		
		@media screen and (max-width: 1280px) {
			@include fz(17);
		}
		@include sc(sp){
			@include fz(14);
			line-height: 1.42;
		}
	}
	figure {
		margin: 20px auto 0;
		> a {
			display: block;
			max-width: 540px;
			height: 260px;
			margin: 0 auto;
			transition: 0.3s;
			.no-touchevents &:hover {
				opacity: 0.5;
			}
			
			@include sc(sp){
				width:calc(100% + 32px);
				max-width: calc(100% + 32px);
				height: calc(47.3% + 16px);
				margin-left: -16px;
				margin-right: -16px;
				padding-bottom: 10px;
			}
		}
	}
	.ph {
		width: 100%;
		max-width: 540px;
		height: 100%;
		margin: 0 auto;
		background-size: contain;
		.schedule.detail & {
			max-width: 100%;
			height: auto;//410px;
			margin-top: 40px;
			padding-top: 47.3%;
			background-size: cover;
			
			@include sc(sp){
				margin-top: 20px;
			}
		}
		
		@include sc(sp){
			width: 100%;
			max-width: 100%;
			height: 0;
			padding-top: 47.3%;
		}
	}
	.spec_box {
		max-width: 200px;
		width: 100%;
		background-color: $bcff;
		display: inline-block;
		vertical-align: top;
		
		@include sc(sp){
			display: table-cell;
			width: 50%;
		}
		+ .spec_box {
			margin-left: 10px;
			
			@include sc(sp){
				margin-left: 0;
			}
		}
		dt,dd{
			text-align: center;
		}
		dt {
			text-align: center;
			height: 50px;
			
			@include sc(sp){
				height: 37px;
			}
			span {
				@include fz(16);
				line-height: 2.4;
				font-weight: bold;
				letter-spacing: 2px;
				
				@include sc(sp){
					@include fz(12);
					line-height: 3.4;
				}
				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					width: 32px;
					background-position: 0 center;
					background-repeat: no-repeat;
					vertical-align: middle;
					background-size: 32px auto;
					margin-right: 8px;
					@include sc(sp){
						width: 24px;
						margin-top: -4px;
						background-size: 24px auto;
					}
				}
			}
		}
		dd {
			padding: 10px 0;
			border-bottom: 1px solid #d6ccc2;
			&.status {
				span {
					display: inline-block;
					width: 160px;
					height: 36px;
					border-radius: 5px;
					border: 2px solid;
					border-color: #8b7230;
					@include fz(16);//fz(18);
					line-height: 1.5;//1.3;
					color: #8b7230;
					font-weight: bold;
					padding: 5px 0;
					box-sizing: border-box;
					
					@include sc(sp){
						@include fz(13);
						line-height: 1.5;
						width: 120px;
						height: 32px;
					}
					&.type02 {
						color: #993c47;
						border-color: #993c47;
					}
					&.type03 {
						color: #ff0302;
						border-color: #ff0302;
					}
				}
			}
			&.age {
				@include fz(16);//fz(18);
				@extend %fontbold;
				line-height: 1;
				
				@include sc(sp){
					@include fz(15);
				}
			}
			&.price {
				padding-left: 15px;
				padding-right: 15px;
				text-align: left;
				@include sc(sp){
					padding-left: 0;
					padding-right: 0;
					text-align: center;
				}
				p {
					@include fz(16);//fz(18);
					@extend %fontbold;
					line-height: 1.2;
					
					@include sc(sp){
						@include fz(15);
					}
					span {
						display: inline-block;
						vertical-align: middle;
						@include fz(12);
						line-height: 1.2;
						letter-spacing: 0;
						font-weight: 700;
						color: #fff;
						padding: 3px 5px;
						margin-left: 5px;
						background-color: #a89982;
						
						@include sc(sp){
							@include fz(10);
							margin-left: 0;
						}
					}
					+ p {
						margin-top: 10px;
					}
				}
			}
			&.detail {
				text-align: right;
				padding: 10px;
				border-bottom: none;
				p {
					display: none;
					text-align: left;
					@include fz(14);
					line-height: 1.7;
					
					@include sc(sp){
						@include fz(13);//fz(12);
						line-height: 1.75;
					}
					&.desc {
						display: block;
					}
				}
				> button {
					@include fz(13);
					@include notoB;
					color: #a38666;
					text-decoration: underline;
					
					@include sc(sp){
						@include fz(11);
					}
					.no-touchevents &:hover {
						text-decoration: none;
					}
					.close {
						display: none;
					}
				}
				
				&.open {
					.desc {
						display: none;
						+ p {
							display: block;
						}
					}
					> button {
						span {
							display: none;
							&.close {
								display: block;
							}
						}
					}
				}
			}
			&.entry {
				background-color: $bcff;
				border-top: 1px solid #d6ccc2;
				border-bottom: none;
				padding: 10px;
				position: absolute;
				bottom: 0;
				
				@include sc(sp){
					box-sizing: border-box;
					width: 50%;
				}
				.mod_btn06 {
					> * {
						@include fz(20);
						@include notoB;
					}
					&.cancel {
						> * {
							@include fz(16);
							@include sc(sp){
								@include fz(13);
							}
						}
						small {
							@include fz(14);
							@include sc(sp){
								@include fz(11);
							}
						}
					}
				}
			}
		}
		&.male {
			dt {
				background-color: #eaebef;
				border-bottom: 1px solid #313760;
				
				@include sc(sp){
					padding-left: 16px;
				}
				span {
					color: #313760;
					&:before {
						background-image: url(../img/schedule/detail/icon_male.png);
					}
				}
			}
			dd {
				@include sc(sp){
					padding-left: 16px;
				}
				&.detail {
					p {
						color: #323761;
					}
				}
				@media screen and (max-width: 320px) {
					&.entry {
						padding-left: 10px;
					}
				}
			}
		}
		&.female {
			dt {
				background-color: #f7e6ec;
				border-bottom: 1px solid #af1243;
				
				@include sc(sp){
					padding-right: 16px;
				}
				span {
					color: #af1243;
					&:before {
						background-image: url(../img/schedule/detail/icon_female.png);
					}
				}
			}
			dd {
				@include sc(sp){
					padding-right: 16px;
				}
				&.detail {
					p {
						color: #b11042;
					}
				}
			}
			
		}
	}
	.link {
		margin-top: 10px;
		&:after {
			content: '';
			display: block;
			clear: both;
		}
		> .mod_btn05 {
			//margin: 0 auto;
			float: right;
			> * {
				@include fz(18);
				@include notoSR;
				line-height: 2.6;//2.8;
			}
			
			@include sc(sp){
				margin: 0 auto;
				float: none;
				width: 280px;
				height: 50px;
				> * {
					@include sc(sp){
						@include fz(20);
						line-height: 2.4;
					}
				}
			}
		}
	}
}
.drawer_box {
	position: absolute;
	right: 350px;
	width: 360px;
	margin-top: 20px;
	margin-bottom: 10px;
	height: 34px;
	z-index: 1;
	.schedule.detail & {
		right: 0;
		width: 260px;
	}
	
	@include sc(sp){
		position: relative;
		right: auto;
		width: auto;
		margin-top: 10px;
	}
	.drawer_btn {
		position: absolute;
		right: 0;
		display: block;
		width: 160px;
		height: 34px;
		text-align: center;
		box-sizing: border-box;
		border-radius: 3px;
		border: 1px solid #a48664;
		background-color: $bcff;
		
		@include sc(sp){
			left: 50%;
			margin-left: -80px;
		}
		&:before,&:after {
			content: '';
			position: absolute;
			display: block;
			height: 100%;
		}
		&:before {
			width: 16px;
			height: 24px;
			left: 12px;
			top: 50%;
			margin-top: -12px;
			background-image: url(../img/schedule/detail/drawer_icon.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 16px 24px;
		}
		&:after {
			right: 12px;
			top: 50%;
			margin-top: -4px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 7px 5px 0 5px;
			border-color: #a48664 transparent transparent transparent;
			transition: transform 0.3s;
		}
		&.open {
			&:after {
				transform: rotate(180deg);
			}
		}
		span {
			display: inline-block;
			@include fz(14);
			@include notoSM;
			color: #a48664;
		}
	}
	.drawer {
		display: inline-block;
		position: absolute;
		background-color: $bcff;
		top: 38px;
		right: -90px;//0;
		padding: 10px;//15px;
		box-shadow: 0 0 3px rgba($bc00, 0.2);
		text-align: center;
		transition: 0.3s;
		opacity: 0;
		transform: translateY(-10%);
		z-index: -1;
		.schedule.detail & {
			right: 0;
		}
		@include sc(sp){
			right: auto;//15%;
			left:50%;
			margin-left: -125px;
		}
		&.open {
			opacity: 1;
			transform: translateY(0);
			z-index: 10;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			right: 155px;//65px;
			top: -12px;
			width: 24px;
			height: 14px;
			background-image: url(../img/schedule/detail/drawer_arrow.png);
			background-size: 24px 12px;
			background-repeat: no-repeat;
			background-position: center center;
			@include sc(sp){
				right: 65px;
			}
			.schedule.detail & {
				right: 65px;
			}
		}
		> li {
			display: inline-block;
			line-height: 0;
			a {
				line-height: 1;
				transition: opacity 0.3s;
				@include sc(sp){
					img {
						height: 21px;
						width: auto;
					}
				}
				
				.no-touchevents &:hover {
					opacity: 0.5;
				}
			}
			+ li {
				margin-left: 5px;
			}
		}
	}
}
.pager {
	margin-top: 40px;
	
	@include sc(sp){
		margin-top: 10px;
	}
}


/* arealink */
.area_box {
	margin-top: -35px;
	position: relative;
	height: 70px;
	.area_link {
		height: 70px;
		@include gradient($bcr03,$bcr04,horizontal);
		font-size: 0;
		letter-spacing: 0;
		text-align: center;
		> li {
			display: inline-block;
			height: 100%;
			color: $bcff;
			position: relative;
			padding-right: 4px;
			padding-left: 20px;
			
			&.current:before {
				content: '';
				position: absolute;
				height: 5px;
				bottom: 0;
				left: 10px;
				right: -5px;
					@include gradient(#dece80,#b28c4d,horizontal);
			}
			a {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				display: block;
				padding-left: 16px;
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0px;
					display: block;
					width: 4px;
					height: 100%;
					background-image: url(../common/img/link_arrow.png);
					background-size: 4px 6px;
					background-repeat: no-repeat;
					background-position: 0 center;
				}
				span {
					transition: 0.3s;
					@include notoR;
					@include fz(16);
					line-height: 1;
					color: $bcff;
					
					.no-touchevents &:hover {
						opacity: 0.5;
					}
				}
			}
		}
	}
	.deco {
		position: absolute;
		bottom: -58px;
		right: -64px;
		line-height: 0;
	}
	
	.event &,
	.area &{
		margin-bottom: 45px;
		.deco {
			transition: 1s;
			bottom: -60px;
			&.open {
				bottom: -40px;
			}
		}
	}
}





/* フォームパート */

/* リセットCSS */
[disabled] {
	cursor:default; 
}
textarea {
	overflow:auto;
}
fieldset {
	border:1px solid silver;
	margin:0 2px;
	padding:.35em .625em .75em;
}
legend {
	box-sizing:border-box;
	color:inherit;
	display:table;
	max-width:100%;
	padding:0;
	white-space:normal;
}
[type="number"] {
	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		height:auto;
	}
}
[type="search"] {
	-webkit-appearance:textfield;
	&::-webkit-search-cancel-button,
	&::-webkit-search-decoration {
		-webkit-appearance:none;
	}
}

/* 単一行テキスト */
.ui-datepicker {
	width: auto;
}
.formArea {
	input[type="text"],
	input[type="tel"],
	input[type="email"] {
		font-size: 1.4rem;
		border: 1px solid #bababa;
		border-radius: 4px;
		padding: 8px 13px;//3px 13px;
		color: $bc02;
		background-color: $bcff;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		-webkit-transition: 0.2s;
		transition: 0.2s;
		width: 126px;
		
		&.cal {
			width: 145px;//180px;
			padding: 8px 13px;//13px 13px 12px;
			font-size: 1.3rem;
		}
		
		@media (max-width:640px) {
			width: 100%;
			padding: 6px 13px;
			//max-width: 200px;
			font-size: 1.6rem;//このサイズ以下になってしまうとiphoneでズームされてしまうので変えるな
			
			&.cal {
				width: 100%;
				line-height: auto;
				padding: 6px 13px;
				font-size: 1.6rem;
			}
		}
		&:focus {
			background-color: #FFF;
			-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
		}
		&[data-input-disabled] {
			opacity: .5;
			cursor: default;
		}
		
		&[data-need-ok] {
			background-color: #FFFFFF;
		}
	}
	
	
	.radio {
		display: inline-block;
		margin-right: 20px;//10px;
		vertical-align: middle;
		
		/*@media (max-width:850px) {
			display: block;
			margin-right: 0;
		}*/
		@include sc(sp){
			display: inline-block;
			margin-right: 20px;
		}
		&[data-input-disabled] {
			opacity: .5;
			cursor: default;
		}
		&[data-input-checked] {
			position: relative;
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: -2px;
				bottom: -2px;
				left: -2px;
				right: -2px;
				background-color: rgba(0,0,0,0);
			}
		}
		&[data-subtxt01] {
			&:after {
				content: attr(data-subtxt01);
				font-size: 1.2rem;
				display: inline-block;
				margin-left: 5px;
				color: #D71F22;
				vertical-align: middle;
			}
		}
		> input {
			&[type] {
				width: 0;
				height: 0;
				opacity: 0;
				html.no-csstransitions & {
					display: inline-block;
					vertical-align: middle;
				}
				&:checked {
					~ label {
						&:after {
							opacity: 1;
							transform: scale(1.0);
						}
					}
				}
			}
			&[data-need-ok] {
				+ label {
					&:before {
						background-color: #FFFFFF;
					}
				}
			}
		}
		> label {
			position: relative;
			cursor: pointer;
			display: inline-block;
			padding: 10px 0;
			vertical-align: middle;
			
			@include sc(sp){
				padding: 5px 0 0;
			}
			&:before {
				content: '';
				display: block;
				width: 22px;//13px;
				height: 22px;//13px;
				border: 1px solid #D0D0D0;
				background-color: #FFFFFF;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -14px;//-7px;
				color: #656563;
				-webkit-border-radius: 50%;
				border-radius: 50%;
				-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
				box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
				-webkit-transition: 0.2s;
				transition: 0.2s;
				
				@include sc(sp){
					width: 22px;
					height: 22px;
					margin-top: -12px;
				}
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				width: 14px;//7px;
				height: 14px;//7px;
				top: 0;
				bottom: 4px;//-2px;
				left: 5px;
				margin: auto;
				background-color: #000;
				-webkit-transform: scale(0.0);
				-ms-transform: scale(0.0);
				transform: scale(0.0);
				-webkit-transition: 0.2s;
				transition: 0.2s;
				-webkit-border-radius: 50%;
				border-radius: 50%;
				
				@include sc(sp){
					width: 14px;
					height: 14px;
					bottom: 0;
					left: 5px;
				}
			}
			> span {
				//font-size: 1.4rem;
				@include fz(17);
				display: inline-block;
				padding-left: 30px;//20px;
				position: relative;
				-webkit-transition: .2s;
				transition: .2s;
				
				@include sc(sp){
					padding-left: 30px;
					@include fz(14);
				}
			}
			.no-touchevents &:hover {
				&:before {
					-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
					box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
				}
			}
		}
	}
	.checkbox {
		display: inline-block;
		margin-right: 0;//10px;
		vertical-align: middle;
		
		/*@media (max-width:850px) {
			display: inline-block;//block;
			margin-right: 15px;
			width: calc(100% / 7);
		}*/
		/*@include sc(sp){
			&:nth-child(5){
				&:after {
					content: '';
					display: inline-block;
					width: calc((100% / 7) * 2);
				}
			}
		}*/
		&[data-input-disabled] {
			opacity: .5;
			cursor: default;
		}
		&[data-input-checked] {
			position: relative;
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: -2px;
				bottom: -2px;
				left: -2px;
				right: -2px;
				background-color: rgba(0,0,0,0);
			}
		}
		&[data-subtxt01] {
			&:after {
				content: attr(data-subtxt01);
				font-size: 1.2rem;
				display: inline-block;
				margin-left: 5px;
				color: #D71F22;
				vertical-align: middle;
			}
		}
		> input {
			&[type] {
				width: 0;
				height: 0;
				opacity: 0;
				html.no-csstransitions & {
					display: inline-block;
					vertical-align: middle;
				}
				&:checked {
					~ label {
						&:after {
							opacity: 1;
							-webkit-transform: rotate(-37deg) scale(1.0);
							-ms-transform: rotate(-37deg) scale(1.0);
							transform: rotate(-37deg) scale(1.0);
						}
					}
				}
			}
			&[data-need-ok] {
				+ label {
					&:before {
						background-color: #FFFFFF;
					}
				}
			}
		}
		> label {
			position: relative;
			cursor: pointer;
			display: inline-block;
			padding: 10px 5px;
			vertical-align: middle;
			
			@include sc(sp){
				padding: 5px 0;
				text-align: center;
			}
			&:before {
				content: '';
				display: block;
				width: 18px;//13px;
				height: 18px;//13px;
				border: 1px solid #D0D0D0;
				background-color: #FFFFFF;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -10px;//-7px;
				color: #656563;
				-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
				box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
				-webkit-transition: 0.2s;
				transition: 0.2s;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				width: 9px;
				height: 3px;
				border-bottom: 2px solid #000;
				border-left: 2px solid #000;
				top: 0;
				bottom: 0px;
				left: 4px;
				margin: auto;
				opacity: 0;
				transform: rotate(-37deg) scale(1.4);
				transition: 0.2s;
			}
			> span {
				//font-size: 1.4rem;
				@include fz(16);
				@include notoR;
				letter-spacing: 0.04em;
				display: inline-block;
				padding-left: 24px;//20px;
				margin-right: 10px;
				position: relative;
				-webkit-transition: .2s;
				transition: .2s;
				
				@include sc(sp){
					@include fz(14);
					margin-right: 8px;
				}
			}
			.no-touchevents &:hover {
				&:before {
					-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
					box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
				}
			}
		}
	}
	.select {
		color: $bc02;
		display: inline-block;
		background-color: $bcff;
		position: relative;
		border-radius: 4px;
		border: 1px solid #bababa;
		-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		-webkit-transition: 0.2s;
		transition: 0.2s;
		
		max-width: 194px;
		overflow: hidden;
		
		&:before {
			content: '';
			display: block;
			position: absolute;
			right: 11px;
			top: 50%;
			margin-top: -2px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 4px 0 4px;
			border-color: $bc02 transparent transparent transparent;
			-webkit-transition: .2s;
			transition: .2s;
			html.no-csstransitions & {
				display: none;
			}
		}
		&[data-input-disabled] {
			opacity: .5;
			cursor: default;
		}
		&[data-need-ok] {
			background-color: #FFFFFF;
		}
		> select {
			width: 150%;//194px;
			font-size: 1.4rem;
			padding: 8px 27px 8px 13px;
			position: relative;
			z-index: 1;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			
			@media (max-width:640px) {
				width: 100%;
				padding: 6px 27px 6px 13px;
				font-size: 1.6rem;//このサイズ以下になってしまうとiphoneでズームされてしまうので変えるな
			}
			html.no-csstransforms & {
				padding: 7px 7px 7px 13px;
			}
			option {
				width: 100%;
				white-space: normal;
			}
		}
		.no-touchevents &:hover {
			-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
			box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
		}
	}
	.confirm {
		background-color: #808028;
		cursor: pointer;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		margin: 0 20px;
		padding: 15px 0;
		max-width: 350px;
		width: 100%;
		-webkit-transition: .2s;
		transition: .2s;
		input {
			cursor:pointer;
			font-size: 1.8rem;
			color: #FFF;
		}
		@media (max-width:640px) {
			width: 100%;
		}
		.no-touchevents &:hover {
			-webkit-filter: brightness(1.2);
			filter: brightness(1.2);
		}
	}
}