@charset "utf-8";

@import
	"../../common/css/sass/variable"
;

/* -----------------------------------------------------------------------------

プレミアムステイタスとは

----------------------------------------------------------------------------- */

.catch {
	text-align: center;
	@include notoSM;
	@include fz(28);
	line-height: 1.62;
	letter-spacing: 0.06em;
	color: #360009;//$bcr02;
	margin: 75px 0 70px;
	position: relative;
	
	@include sc(sp){
		background-color: #f5f3ed;
		margin: 0 -16px;
		padding: 20px 0;
		@include fz(17);
		letter-spacing: 0.1em;
	}
	&:before {
		position: absolute;
		left: 84%;
		bottom: -25px;
		content: '';
		display: block;
		width: 116px;
		height: 160px;
		background-image: url(../img/about/concept_deco01.png);
		background-size: auto 100%;
		background-position: center center;
		background-repeat: no-repeat;
		@include sc(sp){
			height: 76px;
			bottom: 20px;
			left: 72%;
		}
	}
}
.sec_tit02 {
	span {
		@include fz(27);
		
		@include sc(sp){
			@include fz(18);
		}
		&:after {
			bottom: -10px;
			@include sc(sp){
				bottom: -5px;
			}
		}
	}
	&.concept{
		span {
			&:after {
				width: 118px;
				height: 46px;
				background-image: url(../img/about/tit_txt_concept.png);
				
				@include sc(sp){
					width: 71px;
					height: 28px;
					background-size: auto 100%;
				}
			}
		}
	}
	&.greeting{
		&:before {
			width: auto;
			right: 0;
			left: 320px;
			
			@include sc(sp){
				left: 190px;
			}
		}
		span {
			&:after {
				background-color: transparent;
				width: 100px;
				height: 50px;
				background-image: url(../img/about/tit_txt_greeting.png);
				
				@include sc(sp){
					background-size: auto 100%;
					width: 50px;
					height: 25px;
				}
			}
		}
	}
}

/* sec_concept */
.sec_concept {
	position: relative;
	
	@include sc(sp){
		padding-bottom: 120px;
		background-image: url(../img/about/concept_deco02.png);
		background-size: 43px 56px;
		background-position: left 99%;
		background-repeat: no-repeat;
	}
	> .wrap {
		margin-left: 30px;
		max-width: 570px;
		min-height: 980px;
		width: 100%;
		
		@include sc(sp){
			margin-left: 0;
			margin-top: 27px;
			padding-bottom: 1em;
			min-height: 0;
		}
		p {
			position: relative;
			&:before {
				position: absolute;
				left: -86px;
				bottom: -70px;
				content: '';
				display: block;
				width: 86px;
				height: 112px;
				background-image: url(../img/about/concept_deco02.png);
				background-size: 100% auto;
				background-position: center center;
				background-repeat: no-repeat;
				
				@include sc(sp){
					content: none;
				}
			}
		}
	}
	.sec_tit02 {
		+ p {
			margin-top: 20px;
			@include fz(18);
			line-height: 2;
			
			@include sc(sp){
				@include fz(14);
				line-height: 1.75;
			}
		}
	}
	figure {
		position: absolute;
		left: 660px;
		top: -15px;
		@include sc(sp){
			position: static;
			margin-left: -16px;
			margin-right: -16px;
		}
		.main {
			position: relative;
			width: 720px;
			height: 480px;
			
			@include sc(sp){
				width: 100%;
				height: 0;
				padding-top: 66.6%;
			}
			&:before {
				position: absolute;
				left: 460px;
				bottom: -80px;
				content: '';
				z-index: 1;
				display: block;
				width: 170px;
				height: 160px;
				background-image: url(../img/about/concept_deco03.png);
				background-size: 100% auto;
				background-position: center center;
				background-repeat: no-repeat;
				
				@include sc(sp){
					width: 85px;
					height: 80px;
					left: auto;
					right: 16px;
					bottom: -35px;
				}
			}
		}
		.sub {
			position: relative;
			top: 100px;
			left: 90px;
			width: 420px;
			height: 294px;
			
			@include sc(sp){
				width: 210px;
				height: 147px;
				top: 12.5vw;
				left: 30.2vw;
			}
			&:before {
				position: absolute;
				left: -140px;
				top: 150px;
				content: '';
				z-index: 1;
				display: block;
				width: 394px;
				height: 138px;
				background-image: url(../img/about/concept_deco04.png);
				background-size: 100% auto;
				background-position: center center;
				background-repeat: no-repeat;
				
				@include sc(sp){
					width: 197px;
					height: 69px;
					left: -65px;
					top: 70px;
				}
			}
		}
	}
}


/* sec_greeting */
.sec_greeting {
	> .in {
		padding: 90px 0 80px;
		position: relative;
		background-image: url(../common/img/bg_deco.png);
		background-size: 96px auto;
		background-repeat: repeat;
		background-position: center center;
		
		@include sc(sp){
			padding: 40px 0 65px;
		}
		&:before,&:after {
			position: absolute;
			content: '';
			display: block;
			height: 1px;
			left: 0;
			right: 0;
			background-color: #ede9dd;
		}
		&:before {
			top: 4px;
		}
		&:after {
			bottom: 4px;
		}
	}
	.wrap {
		position: relative;
		padding: 0 30px;
		
		@include sc(sp){
			padding: 0;
		}
		.sec_tit02 {
			span {
				background-color: transparent;
			}
			+ p {
				@include fz(18);
				line-height: 2;
				margin-top: 55px;
				max-width: 890px;
				
				@include sc(sp){
					@include fz(14);
					line-height: 1.75;
					margin-top: 20px;
				}
			}
		}
		figure {
			margin-top: 50px;
			text-align: right;
			max-width: 890px;
			
			@include sc(sp){
				position: relative;
				margin-top: 10px;
			}
			.ph {
				position: absolute;
				top: 75px;
				right: 30px;
				width: 180px;
				height: 256px;
				
				@include sc(sp){
					position: static;
					display: inline-block;
					width: 150px;
					height: 214px;
				}
			}
			figcaption {
				@include fz(16);
				
				@include sc(sp){
					position: absolute;
					width: 50%;
					left: 0;
					top: 50%;
					margin-top: -3.5em;
					text-align: left;
					@include fz(14);
					line-height: 1.75;
				}
			}
		}

	}
}

/* .sec_point */
.sec_point {
	background-color: $bcff;
	> header {
		padding: 60px 0;
		position: relative;
		display: table;
		max-width: 860px;
		width: 100%;
		margin: 0 auto;
		
		@include sc(sp){
			display: block;
			text-align: center;
			padding: 35px 16px 30px;
			width: calc(100% - 32px);
		}
		h3 {
			display: table-cell;
			vertical-align: middle;
			@include sc(sp){
				display: block;
			}
			img {
				width: 244px;
				height: auto;
				@include sc(sp){
					width: 178px;
					height: auto;
				}
			}
		}
		.read {
			padding-left: 40px;
			display: table-cell;
			vertical-align: middle;
			@include notoSM;
			@include fz(20);
			line-height: 2.1;
			letter-spacing: 0;
			color: $bcr06;
			
			@include sc(sp){
				text-align: left;
				padding-left: 0;
				margin-top: 10px;
				display: block;
				@include fz(15);
				line-height: 1.75;
				//letter-spacing: 0.04em;
			}
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			bottom: 30px;
			right: -120px;
			width: 122px;
			height: 166px;
			background-image: url(../img/about/point_deco.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 100% auto;
		}
	}
	> .in {
		background-color: #f7f4ed;
	}
	.point_box {
		padding-bottom: 100px;
		
		@include sc(sp){
			padding-bottom: 50px;
		}
		.detail_box {
			position: relative;
			width: 100%;
			height: 460px;
			&.p01 {
				height: 550px;
				.ph {
					left: -120px;
					width: 60%;
				}
				@include sc(sp){
					height: auto;
					.ph {
						width: calc(100% + 32px);
					}
				}
			}
			@include sc(sp){
				display: block;
				height: auto;
			}
			> .wrap {
				display: inline-block;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				margin-left: 50%;
				padding-left: 60px;
				width: 50%;
				box-sizing: border-box;
				text-align: center;
				
				@include sc(sp){
					display: block;
					position: static;
					transform: none;
					width: 100%;
					margin: 0;
					padding: 0;
					padding-top: 35px;
					padding-bottom: 25px;
				}
			}
			.ph {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 50%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;

				@include sc(sp){
					position: static;
					display: block;
					width: calc(100% + 32px);
					height: 0;
					padding-top: calc(76.3% + 32px);
					margin: 0 -16px;
					opacity: 1;
				}
			}
			.mov {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 50%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				background-color: $bc00;
				video {
					width: 100%;
					height: 100%;
					backface-visibility: visible;
				}
				
				@include sc(sp){
					position: relative;
					display: block;
					width: calc(100% + 32px);
					height: 0;
					padding-top: calc(76.3% + 32px);
					margin: 0 -16px;
					opacity: 1;
					
					video {
						position: absolute;
						top: 0;
						bottom: 0;
					}
				}
			}
			.video-btn {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 40px;
				cursor: pointer;
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					bottom:0;
					left: 0;
					right: 0;
					background-image: url(../img/about/point_ph03_icon.png);
					background-position: center center;
					background-size: cover;
					z-index: 1;
					opacity: 0.5;
					transition: opacity 0.5s;
				}
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					bottom: -40px;
					left: 0;
					right: 0;
					background-image: url(../img/about/point_ph03.jpg);
					background-position: center center;
					background-size: cover;
				}
				@include sc(sp){
					background-image: none;
				}
				
				.no-touchevents &:hover {
					&:after {
						opacity: 1;
					}
				}
				&.play,&.pause {
					opacity: 0;
					&:before {
						display: none;
					}
					.no-touchevents &:hover {
						@include sc(sp){
							background-image: none;
						}
					}
				}
				//&.play {
				//	background-image: url(../img/about/point_ph03_icon.png);
				//}
				//&.pause {
				//	background-image: url(../img/about/point_ph03_icon02.png);
				//}
			}
			.title {
				display: inline-block;
				@include fz(28);
				@include notoR;
				line-height: 1.5;
				color: #ad8763;
				text-align: center;
				padding-top: 80px;
				background-position: center 0;
				background-repeat: no-repeat;
				background-size: auto 63px;

				@include sc(sp){
					display: block;
					@include fz(18);
					line-height: 1.75;
					letter-spacing: 0;
					padding-top: 55px;
					background-size: auto 46px;
					vertical-align: top;
				}
			}
			.txt {
				margin-top: 30px;
				text-align: left;
				@include fz(16);
				line-height: 1.75;
				letter-spacing: 0.04em;
				word-break: break-all;

				@include sc(sp){
					margin-top: 15px;
					@include fz(14);
					line-height: 1.75;
					word-break: normal;
				}
			}
			&:nth-child(even){
				.ph {
					left: auto;
					right: 0;
				}
				>.wrap {
					margin-left: 0;
					margin-right: 50%;
					padding-left: 0;
					padding-right: 60px;
					
					@include sc(sp){
						margin-right: 0;
						padding-right: 0;
					}
				}
			}
			
			&.p01 .title {
				background-image: url(../img/about/point_subtit_01.png);
			}
			&.p02 .title {
				background-image: url(../img/about/point_subtit_02.png);
			}
			&.p03 .title {
				background-image: url(../img/about/point_subtit_03.png);
			}
			&.p04 .title {
				background-image: url(../img/about/point_subtit_04.png);
			}
			&.p05 .title {
				background-image: url(../img/about/point_subtit_05.png);
			}
			&.p06 .title {
				background-image: url(../img/about/point_subtit_06.png);
			}
			&.p07 .title {
				background-image: url(../img/about/point_subtit_07.png);
			}
			&.p08 .title {
				background-image: url(../img/about/point_subtit_08.png);
			}
		}
	}
}

