@charset "utf-8";
@import	"../../common/css/sass/variable";

/* -----------------------------------------------------------------------------

トップページ

----------------------------------------------------------------------------- */
.mod_header {
	@include sc(pc){
		&.pc_no_fix.fix{
			> .wrap {
				position: relative;
			}
		}
		&.pc_no_fix {
			> .wrap {
				transform: translateY(0)!important;
				transition: none!important;
			}
		}
		&.pc_fix {
			> .wrap {
				width: 100%;
				position: fixed;
				transform: translateY(100%)!important;
			}
		}
	}
}


/* .mvArea */
.mvArea {
	background-color: $bc00;//$bcr05;
	@include sc(sp){
		background-color: $bcy11;
	}
	
	[data-slidearea02]{
		max-width: 1920px;
		position: relative;
		max-height: 620px;
		height: calc(100vh - 120px);
		padding-top: 0;
		margin: 0 auto;
		z-index: 0;
		
		@include sc(sp){
			height: 370px;//380px;
			margin-left: -16px;
			margin-right: -16px;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			height: 280px;
			width: 100%;
			bottom: 0;
			z-index: 0;
			//@include gradient(transparent, $bc00, vertical);
			background: linear-gradient(rgba($bc00,0) 0%, $bc00 60%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(#000,0)', endColorstr='#000',GradientType=0 );
			
			@include sc(sp){
				@include gradient(#161616, $bc00, vertical);
				height: 65px;//85px;
				bottom: auto;
				top: 185px;
				z-index: 0;
				box-shadow: 0 5px 5px rgba(#000, 0.8);
			}
		}
		.mod_wrap02 {
			max-width: 1440px;
			position: relative;
			height: 100%;
		}
		.imgs {
			//height: 620px;
			max-height: 620px;
			height: calc(100vh - 120px);
			z-index: -1;
			
			@include sc(sp){
				height: 185px;
			}
			.img {
				background-position: center 0;
			}
		}
		.btns01 {
			max-width: 1920px;//1400px;
			width: 100%;
			
			@include sc(sp){
				height: 185px;
				top: -50%;
			}
		}
		.catch {
			position: absolute;
			left: 20px;
			bottom: 20px;
			
			@include sc(sp){
				text-align: center;
				left: 0;
				right: 0;
				bottom: auto;
				top: 143px;//150px;
				img {
					height: auto;
					width: 84.7%;//89.7%;
					max-width: 305px;//323px;
					padding-right: 35px;
				}
			}
		}
		.petan {
			position: absolute;
			right: 20px;
			bottom: 20px;
			img {
				width: 100%;
				height: auto;
				transition: 0.7s;
			}
			
			@media screen and (max-width: 1279px) {
				text-align: right;
				img {
					width: 85%;
					height: auto;
				}
			}
			@include sc(sp){
				left: 0;
				right: 0;
				bottom: 0;//10px;
				text-align: center;
				img {
					width: 90%;//88%;
					max-width: 360px;//320px;
					height: auto;
				}
			}
		}
		.pager {
			@include sc(sp){
				display: none;
			}
		}
	}
}


/* .sec_party */
.sec_party {
	header {
		padding-top: 35px;
		.sec_tit {
			>.alt {
				width: 492px;
				background-image: url(../img/party_tit.png);
				background-size: auto 77px;
				
				@include sc(sp){
					width: 100%;
					background-size: auto 38px;
				}
			}
		}
		@include sc(sp){
			padding-top: 4px;
		}
	}
	> .in {
		background-color: $bcy09;//rgba($bc07,0.5);
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			height: 6px;
			width: 100%;
			@include gradient($bcr03,$bcr04,horizontal);
			
			@include sc(sp){
				content: none;
			}
		}
		
		> .mod_wrap01 {
			padding: 30px 0 20px;
			position: relative;
			font-size: 0;
			letter-spacing: 0;
			text-align: center;
			
			@include sc(sp){
				padding: 16px 0 0;
			}
		}
	}
	
	.left,.right {
		display: inline-block;
		vertical-align: top;
		max-width: 630px;//600px;
		width: 100%;
		padding: 10px 24px 10px 30px;//10px 30px;
		box-sizing: border-box;
		text-align: left;
	}
	.left {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			right: 0;
			top: 10px;
			bottom: -30px;
			width: 2px;
			background-color: $bcff;
		}
		
		@include sc(sp){
			border-right: none;
			padding: 0 0 15px;//20px;
		}
	}
	.right {
		max-width: 570px;
		padding: 10px 30px 10px 24px;
		
		@include sc(sp){
			padding: 0;
		}
	}
	.link {
		text-align: center;
		
		.mod_btn04 {
			position: relative;
			width: 300px;
			height: 50px;
			margin: 0 auto;
			> * {
				min-width: 0;
				@include fz(18);
				@include notoSB;

				@include sc(sp){
					@include fz(16);
				}
			}
		}
		
		@include sc(sp){
			margin: 0 16px 20px;
			text-align: center;
			a {
				max-width: 262px;
				margin: 0 auto;
			}
		}
	}
	
	.search_tit {
		margin-bottom: 20px;
		height: 48px;
		width: 100%;
		background-color: $bcr03;
		box-sizing: border-box;
		border-bottom: 2px solid $bcy10;
		padding-left: 50px;
		position: relative;
		&:before,&:after {
			position: absolute;
			content: '';
			display: inline-block;
		}
		&:before {
			left: 18px;
			top: 50%;
			margin-top: -10px;
			width: 23px;
			height: 23px;
			background-image: url(../img/party_tit_deco.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: auto 100%;
			
			@include sc(sp){
				left: 10px;
				margin-top: -8px;
				height: 17px;
				width: 17px;
			}
		}
		
		@include sc(sp){
			height: 35px;
			padding-left: 35px;
			margin-bottom: 10px;
		}
		> span {
			@include fz(20);
			@include notoR;
			color: $bcff;
			line-height: 2.2;
			letter-spacing: 0.04em;
			&:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
			
			@include sc(sp){
				@include fz(16);
				line-height: 2;
			}
		}
	}
}
.areaList {
	max-width: 383px;
	width: 100%;
	font-size: 0;
	letter-spacing: 0;
	li {
		width: 80px;
		height: 30px;
		border-radius: 3px;
		display: inline-block;
		text-align: center;
		line-height: 1.4;
		box-sizing: border-box;
		margin-bottom: 7px;
		margin-left: 20px;
		position: relative;
		z-index: 1;
		box-shadow: 0 0 2px rgba(#000,0.1);
		&:before,&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
		&:before {
			background-color: #71593a;//$bc00;
			border-radius: 3px;
			top: 2px;
		}
		&:after {
			border-radius: 3px;
			background: #ffffff;
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGQ5YzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top, #ffffff 0%, #e8d9c6 100%);
			background: -webkit-linear-gradient(top, #ffffff 0%,#e8d9c6 100%);
			background: linear-gradient(to bottom, #ffffff 0%,#e8d9c6 100%);
		}
		&:nth-child(4n + 1){
			margin-left: 0;
		}
		a {
			position: relative;
			display: block;
			height: 100%;
			color: $bcr07;
			@include fz(16);
			@include notoSR;
			line-height: 1;
			letter-spacing: 0.04em;
			transition: 0.3s;
			&:before {
				content: '';
				position: absolute;
				left: 8px;
				top: 50%;
				margin-top: -2px;
				display: block;
				width: 4px;
				height: 6px;
				background-image: url(/common/img/link_arrow_bw.png);
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 4px 6px;
			}
			
			.no-touchevents &:hover {
				color: $bcr03;
				text-decoration: none;
			}
			> span {
				display: inline;
				line-height: 1.8;//2.2;
				padding-left: 8px;
				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
				}
			}
		}
	}
}
.searchArea {
	.search_tit {
		&:after {
			right: 18px;
			top: 16px;
			width: 121px;
			height: 18px;
			background-image: url(../img/party_area_txt.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: auto 100%;
			
			@include sc(sp){
				height: 14px;
				width: 96px;
				right: 10px;
				top: 12px;
			}
		}
	}
	.detail {
		+ .detail {
			margin-top: 20px;//30px;
		}
		> dl {
			font-size: 0;
			letter-spacing: 0;
			dt {
				display: inline-block;
				vertical-align: top;
			}
			dd {
				display: inline-block;
				vertical-align: top;
				padding-left: 25px;
			}
		}
		
		@include sc(sp){
			.areaLarge {
				padding: 0 16px;
				margin-bottom: 10px;
				font-size: 0;
				letter-spacing: 0;
				> li{
					display: inline-block;
					width: 48.5%;
					margin-bottom: 10px;
					&:nth-child(even){
						margin-left: 3%;
					}
				}
			}
		}
	}
	.single {
		padding-top: 11px;
	}
}
.searchMap {
	.search_tit {
		&:after {
			@include sc(sp){
				height: 13px;
				width: 102px;
				right: 10px;
				top: 12px;
				background-image: url(../img/party_area_txt.png);
				background-position: right center;
				background-repeat: no-repeat;
				background-size: auto 100%;
			}
		}
	}
	.detail {
		@include sc(sp){
			.map {
				position: relative;
				background-color: $bcy09;
			}
			.areaMap {
				position: relative;
				z-index: 1;
				display: block;
				height: 160px;//180px;
				max-width: 320px;
				width: 100%;
				margin: 0 auto;
				background-image: url(../img/area_searchmap_sp.png);
				background-size: 100% auto;//auto 100%;
				background-repeat: no-repeat;
				background-position: center top;
				> li {
					width: 68px;//105px;
					height: 34px;
					border-radius: 3px;
					display: inline-block;
					text-align: center;
					line-height: 1.4;
					box-sizing: border-box;
					position: absolute;
					z-index: 1;
					box-shadow: 0 0 2px rgba(#000,0.1);
					&.w02 {
						width: 92px;
					}
					&.w03 {
						width: 110px;
					}
					&:before,&:after {
						content: '';
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						z-index: -1;
					}
					&:before {
						background-color: $bc00;
						border-radius: 3px;
						top: 2px;
					}
					&:after {
						@include gradient($bcff, #e8d9c6, vertical);//$bcy08
						border-radius: 3px;
					}
					a {
						display: block;
						height: 100%;
						color: $bcr07;
						@include fz(14);
						@include notoSR;
						line-height: 1;
						letter-spacing: 0.04em;
						transition: 0.3s;

						> span {
							display: inline;
							line-height: 2.4;
							&:before {
								content: '';
								display: inline-block;
								height: 100%;
								vertical-align: middle;
							}
						}

						.no-touchevents &:hover {
							text-decoration: none;
							opacity: 0.7;
						}
					}
				}
				.p01 {
					top: 5px;//25px;
					left: 53%;//170px;
				}
				.p02 {
					top: 50px;//70px;
					left: 105px;
				}
				.p03 {
					top: 80px;//100px;
					left: 5px;
				}
				.p04 {
					top: 120px;//140px;
					left: 200px;
				}
				.p05 {
					top: 120px;//140px;
					left: 120px;
				}
				.p06 {
					top: 120px;//140px;
					left: 40px;
				}
			}
		}
	}
	.single {
		padding-top: 11px;
	}
}
.searchDate {
	padding-bottom: 5px;
	margin-bottom: 20px;
	
	@include sc(sp){
		margin-bottom: 0;
	}

	.search_tit {
		&:after {
			right: 18px;
			top: 16px;
			width: 145px;
			height: 18px;
			background-image: url(../img/party_date_txt.png);
			background-position: right center;
			background-repeat: no-repeat;
			background-size: auto 100%;
			
			@include sc(sp){
				right: 10px;
				top: 12px;
				width: 104px;
				height: 12px;
			}
		}
	}
	.detail {
		@include sc(sp){
			padding-left: 16px;
			padding-right: 16px;
		}
		.element {
		letter-spacing: 0;
		font-size: 0;
		margin-bottom: 15px;
			> dt {
				display: inline-block;
				vertical-align: middle;
				width: 60px;
				@include fz(16);
				@include notoR;
				letter-spacing: 0.04em;
				
				@include sc(sp){
					@include fz(14);
					display: block;
					width: 100%;
					margin-bottom: 5px;
				}
			}
			> dd {
				display: inline-block;
				vertical-align: middle;
				width: calc(100% - 60px);
				> div {
					display: inline-block;
					letter-spacing: 0;
					font-size: 0;
				}
				@include sc(sp){
					display: block;
					width: 100%;
					> div {
						display: block;
						width: 100%;
						.select {
							width: 100%;
						}
					}
				}

				.calender01_wrap,
				.calender02_wrap {
					@include sc(sp){
						display: inline-block;
						vertical-align: top;
						width: 40.27vw;//45.6%;
					}
						
					label {
						display: block;
						padding-right: 30px;
						height: 40px;//30px;
						background-image: url(/common/img/icon_cal.png);
						background-size: 25px auto;
						background-position: right center;
						background-repeat: no-repeat;
						
						@include sc(sp){
							display: inline-block;
							vertical-align: top;
							height: 40px;
							padding-right: 0;
							background-image: none;
						}
					}
				}
				.calender02_wrap {
					padding-left: 20px;
					position: relative;
					
					@include sc(sp){
						float: right;
						padding-left: 10vw;
					}
					
					&:before {
						position: absolute;
						left: 0px;
						top: 10px;//5px;
						content: '～';
						display: inline-block;
						@include fz(15);
						
						@include sc(sp){
							top: 10px;
							width: 9vw;
							text-align: center;
						}
					}
					
					@media screen and (max-width: 320px) {
						padding-left: 9vw;
					}
				}
			}
		}
		.mod_btn01 {
			width: 95px;//105px;
			height: 33px;//36px;
			display: inline-block;
			position: relative;
			margin-left: 0;//30px;
			top: 5px;
			
			@include sc(sp){
				margin: 0 auto;
				left: 50%;
				margin-left: -52px;
				width: 105px;
				height: 37px;
			}
			> * {
				min-width: 0;
				padding: 10px;
				padding-left: 30px;
				@include fz(14);
				@include notoSR;
				border-radius: 3px;
				
				@include sc(sp){
					@include fz(16);
				}
			}
			&:before {
				content: '';
				width: 18px;
				height: 18px;
				position: absolute;
				z-index: 2;
				left: 15px;
				top: 50%;
				margin-top: -9px;
				display: block;
				background-image: url(/common/img/search_icon.png);
				background-size: 100% auto;
				background-repeat: no-repeat;
				
				@include sc(sp){
					left: 18px;
				}
			}
			&:after {
				content: '';
				position: absolute;
				top: 2px;
				bottom: 1px;
				left: 2px;
				right: 2px;
				border-radius: 2px;
				border: 1px solid;
				border-top-color: rgba($bc00,0.6);
				border-left-color: rgba($bc00,0.1);
				border-right-color: rgba($bc00,0.2);
				border-bottom-color: rgba($bcff,0.4);
			}
		}
	}
}
.searchEvent {
	padding-bottom: 5px;
	
	@include sc(sp){
		margin-bottom: 0;
	}
	.search_tit {
		&:after {
			right: 18px;
			top: 16px;
			width: 158px;
			height: 18px;
			background-image: url(../img/party_event_txt.png);
			background-position: right center;
			background-repeat: no-repeat;
			background-size: auto 100%;
			
			@include sc(sp){
				right: 10px;
				top: 12px;
				width: 114px;
				height: 12px;
			}
		}
	}
	.detail {
		> ul {
			font-size: 0;
			letter-spacing: 0;
			@include sc(sp){
				padding: 0 16px;
			}
			li {
				display: inline-block;
				vertical-align: top;
				margin-bottom: 20px;
				+ li {
					margin-left: 20px;
				}
				.mod_btn04 {
					max-width: 158px;
					
					@include sc(sp){
						max-width: 100%;
					}
				}
				@include sc(pc){
					&:nth-child(3n + 1){
						margin-left: 0;
					}
				}
				@include sc(sp){
					width: 48.5%;
					margin-bottom: 10px;
					+ li {
						margin-left: auto;
					}
					&:nth-child(even){
						margin-left: 3%;
					}
				}
			}
		}
	}
}
.searchDetail {
	padding-bottom: 5px;
	
	@include sc(sp){
		margin-bottom: 0;
	}
	.search_tit {
		margin-bottom: 10px;
		&:after {
			right: 18px;
			top: 16px;
			width: 136px;
			height: 18px;
			background-image: url(../img/party_detail_txt.png);
			background-position: right center;
			background-repeat: no-repeat;
			background-size: auto 100%;
			
			@include sc(sp){
				right: 10px;
				top: 12px;
				width: 114px;
				height: 12px;
			}
		}
	}
}


/* .sec_voice */
.sec_voice {
	padding: 75px 0 95px;
	@include sc(sp){
		padding: 0;//40px 0 0;
	}
	header {
		text-align: center;
		margin-bottom: 50px;
		@include sc(sp){
			margin-bottom: 20px;
		}
		.sec_tit {
			margin-bottom: 40px;
			@include sc(sp){
				margin-bottom: 20px;
			}
			>.alt {
				width: 682px;
				background-image: url(../img/voice_tit.png);
				background-size: auto 74px;
				
				@include sc(sp){
					width: 100%;
					background-size: auto 38px;
				}
			}
		}
		.read {
			@include sc(sp){
				text-align: left;
				padding: 0 16px;
			}
		}
	}
	
	> .mod_wrap02 {
		> .in {
			background-image: url(../img/voice_bg.png);
			background-size: 160px auto;
			background-repeat: repeat;
			background-position: center center;
			background-color: rgba(#ece8db,0.5);//$bc06;
			max-width: 1280px;
			width: 100%;
			margin: 0 auto;
			padding: 35px 0;//35px 70px;
			box-sizing: border-box;
			position: relative;
			z-index: 0;
			text-align: center;
			font-size: 0;
			letter-spacing: 0;
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 4px;
				bottom: 4px;
				left: 4px;
				right: 4px;
				border: 1px solid $bcy06;
				z-index: 0;
			}
			
			@include sc(sp){
				width: calc(100% + 32px);
				margin-left: -16px;
				margin-right: -16px;
				padding: 35px 16px;
			}
		}
	}
	
	.voice_box {
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin: 35px;//2.734%;
		max-width: 535px;
		width: 100%;
		min-height: 504px;
		background-color: $bcff;
		text-align: center;
		
		@media screen and (max-width: 1280px) {
			margin: 35px 10px;
		}
		@include sc(sp){
			margin-left: 0;
			margin-right: 0;
			margin-top: 5px;
			margin-bottom: 10px;
			width: 48%;
			min-height: 0;
			background-color: transparent;
		}
		&:nth-child(even){
			@include sc(sp){
				margin-left: 4%;
			}
		}
		&:before,&:after {
			content: '';
			display: block;
			position: absolute;
		}
		&.interview {
			&:before {
				z-index: 1;
				top: -21px;
				left: -1px;
				width: 167px;
				height: 102px;
				background-image: url(../img/voice_icon_interview.png);
				background-size: 100%	auto;
				background-repeat: no-repeat;
				background-position: center center;
				
				@include sc(sp){
					top: -11px;
					width: calc(165px / 2);
					height: calc(102px / 2);
				}
			}
		}
		&.fashion {
			&:before {
				z-index: 1;
				top: -25px;
				left: -2px;
				width: 168px;
				height: 106px;
				background-image: url(../img/voice_icon_fashion.png);
				background-size: 100%	auto;
				background-repeat: no-repeat;
				background-position: center center;
				
				@include sc(sp){
					top: -13px;
					width: calc(168px / 2);
					height: calc(106px / 2);
				}
			}
		}
		&.report {
			&:before {
				z-index: 1;
				top: -28px;
				left: -1px;
				width: 167px;
				height: 109px;
				background-image: url(../img/voice_icon_report.png);
				background-size: 100%	auto;
				background-repeat: no-repeat;
				background-position: center center;
				
				@include sc(sp){
					top: -13px;
					width: calc(168px / 2);
					height: calc(106px / 2);
				}
			}
		}
		&:after {
			border-radius: 35%;
			box-shadow: 0 0 10px rgba($bc00, 0.5);
			top: 50%;
			bottom: 0px;
			left: 20px;
			right: 20px;
			z-index: -1;
			@include sc(sp){
				content: none;
			}
		}
		figure {
			width: 100%;
			height: 0;
			padding-top: 65.4%;
			display: block;
		}
		.detail {
			padding: 25px 10px;
			@include sc(sp){
				padding: 5px;
			}
			
			dt {
				@include fz(18);
				@include notoB;
				line-height: 1.8;
				letter-spacing: 0.04em;
				margin-bottom: 5px;
				
				@include sc(sp){
					@include fz(12);
					line-height: 1.75;
					text-align: left;
				}
			}
			dd {
				@include fz(16);
				line-height: 1.75;
				letter-spacing: 0.04em;
				
				@include sc(sp){
					p {
						display: block;
						height: 0;
						overflow: hidden;
					}
				}
			}
		}
		.wrapLink {
			display: block;
			position: absolute;
			z-index: 2;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			~ * {
				transition: opacity 0.2s;
			}
			.no-touchevents &:hover {
				~ * {
					opacity: 0.5;
				}
			}
		}
	}
}


/* .sec_about */
.sec_about {
	> .in {
		position: relative;
		overflow: hidden;
		padding-top: 160px;
		@include sc(sp){
			padding-top: 35px;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			z-index: -1;
			top: 0;
			width: 100%;
			height: 780px;
			background-image: url(/img/about_bg_ph.jpg);
			background-position: center 0;
			background-repeat: no-repeat;
			background-size: cover;
			
			@include sc(sp){
				height: 725px;
				background-image: url(/img/about_bg_ph_sp.jpg);
			}
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			z-index: -1;
			top: 500px;
			width: 100%;
			height: 280px;
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 70%, rgba(255,255,255,1) 100%);
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 70%,rgba(255,255,255,1) 100%);
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 70%,rgba(255,255,255,1) 100%);
			
			@include sc(sp){
				top: 530px;
				height: 195px;
			}
		}
	}
	header {
		display: block;
		width: 670px;//575px;
		box-sizing: border-box;
		margin: 0 auto 100px;
		background-image: url(/img/about_bg.png);
		background-size: 380px auto;
		background-repeat: repeat;
		background-position: 0 bottom;
		position: relative;
		
		@include sc(sp){
			width: 88.8%;
			margin: 0 auto 70px;
			background-position: 70px 100px;
		}
		> .wrap {
			padding: 50px;
			@include sc(sp){
				padding: 25px 15px;
			}
			
		}
		.sec_tit {
			.alt {
				width: 642px;
				background-image: url(../img/about_tit.png);
				background-size: auto 74px;
				
				@include sc(sp){
					width: 100%;
					background-size: auto 38px;
				}
			}
		}
		.read {
			text-align: center;
			@include fz(28);
			@include notoR;
			line-height: 1.3;
			
			@include sc(sp){
				@include fz(15);
				margin-left: -15px;
				margin-right: -15px;
			}
		}
		.txt {
			margin-top: 30px;
			@include fz(18);
			line-height: 2;
			letter-spacing: 0.04em;
			
			@include sc(sp){
				margin-top: 20px;
				@include fz(14);
				line-height: 1.75;
				margin-left: 0;
				margin-right: 0;
			}
		}
		figure {
			position: absolute;
			right: 15px;
			bottom: -20px;
			
			@include sc(sp){
				right: 5px;
				bottom: -60px;
				img {
					height: 83px;
					width: auto;
				}
			}
		}
	}
	
	.point_box {
		dt {
			text-align: center;
			picture {
				display: inline-block;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				
				@include sc(sp){
					display: block;
					position: static;
					transform: none;
				}
			}
			.petan {
				height: 218px;
				display: inline-block;
				vertical-align: middle;
				padding-left: 260px;
				background-image: url(/img/point_petan.png);
				background-position: 0 center;
				background-size: 216px auto;
				background-repeat: no-repeat;
				
				@include sc(sp){
					display: block;
					height: 80px;//162px;
					padding-left: 0;
					padding-top: 180px;
					background-position: center 0;
					background-size: 162px auto;
				}
			}
		}
		dd {
			font-size: 0;
			letter-spacing: 0;
			text-align: center;
			margin-left: -16px;
			margin-right: -16px;
		}
	}
	.detail_box {
		max-width: 276px;
		width: 100%;
		display: inline-block;
		vertical-align: top;
		margin-left: 30px;
		margin-top: 40px;
		&:nth-child(4n + 1){
			margin-left: 0;
		}

		@media screen and (max-width: 1280px) {
			max-width: 260px;
		}

		@include sc(sp){
			display: block;
			max-width: 100%;
			margin-bottom: 20px;
			margin-left: 0;
			margin-top: 0;
			
			&:nth-child(even){
				.ph {
					position: absolute;
					left: 0;
				}
				.title {
					margin-left: 50%;
				}
			}
		}
		.ph {
			width: 100%;
			height: 0;
			padding-top: 61.5%;
			margin-top: 15px;
			margin-bottom: 10px;
			
			@include sc(sp){
				display: inline-block;
				width: 50%;
				padding-top: calc(61.5% / 2);
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		.title {
			display: inline-block;
			@include fz(23);
			@include notoR;
			line-height: 1.5;
			text-align: center;
			padding-top: 70px;
			background-position: center 0;
			background-repeat: no-repeat;
			background-size: auto 63px;
			
			@media screen and (max-width: 1280px) {
				@include fz(20);
			}

			@include sc(sp){
				width: 50%;
				@include fz(14);
				line-height: 1.7;
				letter-spacing: 0;
				padding-top: 50px;
				background-size: auto 45px;
				vertical-align: top;

				@media screen and (min-width: 360px) {
					@include fz(15);
					letter-spacing: 0.04em;
					padding-top: 55px;
				}
			}
		}
		.txt {
			text-align: left;
			@include fz(16);
			line-height: 1.75;
			letter-spacing: 0.04em;
			word-break: break-all;
			
			@include sc(sp){
				display: none;
			}
		}

		&.p01 .title {
			background-image: url(/img/point_subtit_01.png);
		}
		&.p02 .title {
			background-image: url(/img/point_subtit_02.png);
		}
		&.p03 .title {
			background-image: url(/img/point_subtit_03.png);
		}
		&.p04 .title {
			background-image: url(/img/point_subtit_04.png);
		}
		&.p05 .title {
			background-image: url(/img/point_subtit_05.png);
		}
		&.p06 .title {
			background-image: url(/img/point_subtit_06.png);
		}
		&.p07 .title {
			background-image: url(/img/point_subtit_07.png);
		}
		&.p08 .title {
			background-image: url(/img/point_subtit_08.png);
		}
	}
	.link {
		text-align: center;
		margin: 35px 0 90px;
		
		@include sc(sp){
			margin: 25px 0 45px;
		}
	}
	
}


/* .sec_recommend */
.sec_recommend {
	header {
		text-align: center;
		margin-bottom: 50px;
		@include sc(sp){
			margin-bottom: 35px;
		}
		.sec_tit {
			margin-bottom: 40px;
			
			@include sc(sp){
				margin-bottom: 15px;//20px;
				+ .read {
					padding: 0 16px;
					text-align: left;
				}
			}
			> .alt {
				width: 532px;
				background-image: url(../img/recommend_tit.png);
				background-size: auto 74px;
				
				@include sc(sp){
					width: 100%;
					background-size: auto 38px;
				}
			}
		}
	}
	> .in {
		padding: 0 0 80px;
		position: relative;
		height: 710px;
		box-sizing: border-box;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		
		@include sc(sp){
			height: 100%;
			padding: 0 0 45px;
		}
		.mod_wrap01 {
			text-align: center;
			font-size: 0;
			letter-spacing: 0;
		}
	}
	.recommend_box {
		display: inline-block;
		position: relative;
		text-align: center;
		max-width: 380px;
		width: 100%;
		min-height: 330px;
		padding: 50px 10px 10px;
		box-sizing: border-box;
		background-color: $bcff;
		overflow: hidden;
		
		@include sc(sp){
			min-height: 0;
			padding: 50px 7px 7px;//55px 7px 7px;
			margin-bottom: 10px;
		}
		+ .recommend_box {
			margin-left: 30px;
			
			@include sc(sp){
				margin-left: 0;
			}
		}
		&:before {
			position: absolute;
			left: 0;//-20%;
			top: 0;//45px;
			//transform-origin: 0 0;
			content: '';
			display: block;
			background-color: $bcr06;//#2b2b2b;
			width: 100%;//60%;
			height: 40px;//90px;
			//transform: rotate(-45deg);
			
			@include sc(sp){
				//left: -70px;
				//top: 37px;
				height: 35px;
			}
		}
		.area {
			position: absolute;
			display: block;
			width: 100%;
			text-align: center;
			left: 0;//10px;
			top: 10px;
			color: $bcff;
			@include fz(20);//fz(15);
			@include notoB;
			line-height: 1;
			
			@include sc(sp){
				@include fz(16);//fz(15);
				//left: 13px;
				top: 9px;
			}
			.alex {
				@include fz(22);
				color: rgba($bcff,0.8);
				margin-left: 13px;
				
				@include sc(sp){
					@include fz(17);
					margin-left: 8px;
				}
			}
		}
		.detail {
			position: relative;
			z-index: 1;
			margin-bottom: 15px;
			dt {
				@include notoB;
				@include fz(18);
				line-height: 1.8;
				letter-spacing: 0.04em;
				margin-bottom: 5px;
				
				@include sc(sp){
					@include fz(15);
				}
			}
			dd {
				@include fz(16);
				letter-spacing: 0.04em;
				
				@include sc(sp){
					@include fz(14);
				}
			}
		}
		figure {
			width: 100%;
			height: 0;//160px;
			padding-top: 44.4%;
		}
		.wrapLink {
			display: block;
			position: absolute;
			z-index: 2;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			~ * {
				transition: opacity 0.2s;
			}
			.no-touchevents &:hover {
				~ * {
					opacity: 0.5;
				}
			}
		}
	}
	.link {
		text-align: center;
		margin: 30px 0 0;
	}
	
	@media screen and (max-width: 1280px) {
		.recommend_box {
			max-width: 350px;
		}
	}
}


/* .info_block */
.info_block {
	background-color: rgba(#ece8db, 0.7);
	> .mod_wrap01 {
		margin: 0 auto;
		padding: 85px 0;
		font-size: 0;
		letter-spacing: 0;
		text-align: center;
		
		@include sc(sp){
			padding: 30px 0 0;
		}
	}
	header {
		display: table;
		width: 100%;
		margin-bottom: 45px;
		
		@include sc(sp){
			margin-bottom: 5px;
		}
		.sec_tit {
			display: table-cell;
			text-align: left;
			vertical-align: middle;
			@include sc(sp){
				padding: 0;
				img {
					height: 19px;
					width: auto;
				}
			}
		}
		.link {
			display: table-cell;
			text-align: right;
			vertical-align: middle;
			a {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
	
	.regist_box {
		position: absolute;
		bottom: 0;
		width: 100%;
		max-width: 535px;
		text-align: center;
		
		@include sc(sp){
			position: static;
			width: calc(100% + 32px);
			max-width: calc(100% + 32px);
			margin-left: -16px;
			margin-right: -16px;
			padding-bottom: 10px;
			background-color: $bc00;
			
		}
		dt {
			line-height: 1;
			height: 18px;
			padding: 11px 0;
			display: block;
			vertical-align: middle;
			background-color: $bc00;
			
			@include sc(sp){
				height: auto;
				padding: 10px 0;
				img {
					height: 12px;
					width: auto;
				}
			}
		}
		dd {
			background-color: $bcff;
			padding: 15px 0;
			font-size: 0;
			letter-spacing: 0;
			.cp	{
				@include fz(16);
				@include notoB;
				line-height: 1;
				letter-spacing: 0.04em;
				margin-bottom: 15px;
				
				@include sc(sp){
					@include fz(12);
				}
			}
			.store {
				display: inline-block;
				vertical-align: middle;
				+ .store {
					margin-left: 5px;
				}
			}
			.qr {
				vertical-align: middle;
				display: inline-block;
				margin-left: 10px;//20px;
			}
			.line {
				vertical-align: middle;
				display: inline-block;
				margin-left: 10px;//30px;
			}
			@include sc(sp){
				margin-left: 0;//10px;
				margin-right: 0;//10px;
				padding-left: 10px;
				padding-right: 10px;
				.qr {
					display: none;
				}
				.store {
					img {
						height: 44px;
						width: auto;
					}
				}
				.line {
					margin-left: 0;
					margin-top: 10px;
					display: block;
					img {
						height: 44px;
						width: auto;
					}
				}
			}
			
			a{
				transition: opacity 0.3s;
				.no-touchevents &:hover {
					opacity: 0.5;
				}
			}
		}
	}
}
.sec_blog,.sec_news {
	display: inline-block;
	vertical-align: top;
	max-width: 600px;
	width: 100%;
	padding: 0 32px;
	box-sizing: border-box;
	text-align: left;
	
	@include sc(sp){
		padding: 0 16px;
		margin-bottom: 35px;
	}
	.read {
		@include fz(16);
		@include notoB;
		line-height: 1.75;
		letter-spacing: 0.04em;
		margin-bottom: 10px;
		
		@include sc(sp){
			@include fz(14);
			
		}
	}
	.loop_wrap {
		border-top: 1px solid #3d3935;
	}
}
.sec_blog {
	.sec_tit {
		.alt {
			width: 342px;
			background-image: url(../img/blog_tit.png);
			background-size: auto 41px;
			
			@include sc(sp){
				width: 265px;
				padding-top: 25px;
				background-size: auto 25px;//38px;
			}
		}
	}
	.info_box {
		position: relative;
		border-bottom: 1px solid #3d3935;
		padding: 18px 0;
		padding-left: 195px;
		min-height: 113px;
		
		@include sc(sp){
			padding: 13px 0;
			padding-left: 145px;
			min-height: 85px;
		}
		figure {
			position: absolute;
			left: 0;
			top: 18px;
			max-width: 170px;
			width: 100%;
			height: 113px;
			opacity: 1;
			transition: 0.3s;
			
			@include sc(sp){
				max-width: 128px;
				height: 85px;
			}
		}
		.category {
			margin-bottom: 5px;
			span {
				background-color: #2b2b2b;
				display: inline-block;
				text-align: center;
				@include fz(15);
				@include notoB;
				line-height: 1;
				letter-spacing: 0.04em;
				color: $bcff;
				padding: 3px 10px;
				
				@include sc(sp){
					@include fz(11);
				}
			}
		}
		.title {
			@include fz(16);
			@include notoB;
			line-height: 1.75;
			letter-spacing: 0;//0.04em;
			margin-bottom: 5px;
			word-break: break-all;
			
			@include sc(sp){
				@include fz(12);
			}
		}
		.date {
			@include fz(16);
			line-height: 1.6;
			letter-spacing: 0.04em;
			
			@include sc(sp){
				@include fz(12);
			}
		}
		.wrapLink {//仮設置
			display: none;
			position: absolute;
			z-index: 2;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			.no-touchevents &:hover {
				~ .title {
					text-decoration: underline;
				}
				~ figure {
					opacity: 0.5;
				}
			}
		}
	}
}
.sec_news {
	position: relative;
	padding-bottom: 196px;
	
	@include sc(sp){
		margin-bottom: 0;
		padding-bottom: 0;
	}
	
	.sec_tit {
		.alt {
			width: 242px;
			background-image: url(../img/news_tit.png);
			background-size: auto 36px;
			
			@include sc(sp){
				width: 265px;
				padding-top: 25px;
				background-size: auto 25px;//38px;
			}
		}
	}
	.loop_wrap {
		margin-bottom: 25px;
		max-height: 288px;
		overflow-y: auto;
	}
	.info_box {
			position: relative;
			padding: 18px 0;
			border-bottom: 1px solid #3d3935;
			text-align: left;
			
			@include sc(sp){
				padding: 13px 0;
			}
			.date {
				@include fz(16);
				line-height: 1.6;
				letter-spacing: 0.04em;
				margin-bottom: 5px;
				
				@include sc(sp){
					@include fz(12);
				}
				span {
					background-color: $bcr06;
					display: inline-block;
					text-align: center;
					@include fz(15);
					@include notoB;
					line-height: 1;
					letter-spacing: 0.04em;
					color: $bcff;
					padding: 3px 10px;
					
					@include sc(sp){
						@include fz(11);
					}
				}
			}
			.title {
				@include fz(16);
				@include notoB;
				line-height: 1.75;
				letter-spacing: 0.04em;
				word-break: break-all;
				
				@include sc(sp){
					@include fz(12);
				}
			}
			.wrapLink {//仮設置
				display: block;
				position: absolute;
				z-index: 2;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				.no-touchevents &:hover {
					~ .title {
						text-decoration: underline;
					}
				}
			}
		}
}


/* sec_insta */
.sns_block {
	> .mod_wrap01 {
		margin: 0 auto;
		padding: 85px 0;
		font-size: 0;
		letter-spacing: 0;
		text-align: center;
		
		@include sc(sp){
			padding: 0;
		}
	}
}
.sec_insta {
	display: inline-block;
	vertical-align: top;
	max-width: 535px;
	padding: 0;//30px 0;
	text-align: center;
	
	@include sc(sp){
		max-width: 100%;
		padding: 16px 0;
		display: block;
	}
	header {
		display: table;
		max-width: 1140px;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
		position: relative;
		
		@include sc(sp){
			width: calc(100% - 32px);
			padding: 0 16px;
			margin-bottom: 12px;
		}
		> * {
			display: table-cell;
			vertical-align: middle;
			
			@include sc(sp){
				vertical-align: top;
			}
		}
		.sec_tit {
			text-align: left;
			margin: 0;
			line-height: 1;
			@include sc(sp){
				padding: 0;
				height: 25px;
				img {
					height: 25px;
					width: auto;
				}
			}
			
			.alt {
				width: 188px;
				background-image: url(../img/insta_tit.png);
				background-size: auto 34px;
				
				@include sc(sp){
					width: 265px;
					padding-top: 25px;
					background-size: auto 25px;//38px;
				}
			}
		}
		.link {
			text-align: right;
			a {
				vertical-align: middle;
				display: inline-block;
			}
		}
	}
	[data-instagram01] {
		padding: 0;
		max-width: 535px;
		height: 356px;//250px;
		overflow: hidden;
		background-color: $bcff;//$bc00;
		font-size: 0;
		position:relative;
		
		@include sc(sp){
			margin: 0 auto;
		}
		.load_anim {
			transition:opacity .5s;
		}
		&.view {
			.load_anim {
				opacity:0;
			}
		}
		.not-ie & {
			.contentWrap {
				filter:opacity(0);
				transition:filter 1s;
				transition-delay:1s;
			}
			&.view {
				.contentWrap {
					filter:opacity(1);
				}
			}
		}
		.ie & {
			.contentWrap {
				opacity:0;
				transition:opacity 1s;
				transition-delay:1s;
			}
			&.view {
				.contentWrap {
					opacity:1;
				}
			}
		}

		.contentWrap {
			width: 10000%;
			+ .contentWrap {
				margin-top: 179px;
			}
			.content {
				position: relative;
				display: inline-block;
				vertical-align: top;
				width: 1770px;//2500px;
				height: 177px;//250px;
				float: left;
				
				li {
					position: absolute;
					top: 0;
					width: 10%;
					height: 100%;
					box-sizing:border-box;
					& + li {
					}
					&:after {
						content: "";
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						background-color: $bcff;//$bc00;
					}
					a {
						display: block;
						width:100%;
						height:100%;
						border: 2px solid #fff;
						background-size: cover;
						background-position: center center;
						background-repeat: no-repeat;
						transition: opacity .5s,filter .5s;
						.no-touchevents &:hover {
							opacity:.7;
						}
					}
				}
			}
		}
		@include sc(sp) {
			height: 67.2vw;//242px;
			.contentWrap {
				.content {
					width: 330vw;//1190px;
					height: 33vw;//119px;
				}
				+ .contentWrap {
					margin-top: 33.61vw;//121px;
				}
			}
		}
	}
	.txt {
		text-align: left;
		@include fz(16);
		@include notoL;
		line-height: 1.75;
		letter-spacing: 0.04em;
		margin-top: 25px;

		@include sc(sp){
			@include notoR;
			@include fz(12);
			line-height: 1.8;
			margin-top: 10px;
			padding: 0 16px;
			display: block;
		}
	}
}
.sec_fb {
	display: inline-block;
	vertical-align: top;
	max-width: 535px;
	padding: 0;//30px 0;
	margin-left: 70px;
	text-align: center;
	
	@include sc(sp){
		max-width: 100%;
		padding: 16px 0;
		margin-left: 0;
		display: block;
	}
	header {
		display: table;
		max-width: 1140px;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
		position: relative;
		
		@include sc(sp){
			width: calc(100% - 32px);
			padding: 0 16px;
			margin-bottom: 12px;
		}
		> * {
			display: table-cell;
			vertical-align: middle;
			
			@include sc(sp){
				vertical-align: top;
			}
		}
		.sec_tit {
			text-align: left;
			margin: 0;
			line-height: 1;
			@include sc(sp){
				padding: 0;
				height: 25px;
				img {
					height: 25px;
					width: auto;
				}
			}
			
			.alt {
				width: 188px;
				background-image: url(../img/fb_tit.png);
				background-size: auto 34px;
				
				@include sc(sp){
					width: 265px;
					padding-top: 25px;
					background-size: auto 25px;//38px;
				}
			}
		}
		.link {
			text-align: right;
			a {
				vertical-align: middle;
				display: inline-block;
			}
		}
	}
	.fb-page {
		height: 355px;
	}
	.txt {
		text-align: left;
		@include fz(16);
		@include notoL;
		line-height: 1.75;
		letter-spacing: 0.04em;
		margin-top: 25px;

		@include sc(sp){
			@include fz(12);
			@include notoR;
			line-height: 1.8;
			margin-top: 10px;
			padding: 0 16px;
			display: block;
		}
	}
}


/* regist box */
.regist_box {
	@include sc(sp){
		text-align: center;
		position: static;
		padding-bottom: 10px;
	}
	dt {
		@include sc(sp){
			display: block;
			vertical-align: middle;
			background-color: $bc00;
			line-height: 1;
			height: auto;
			padding: 10px 0;
			img {
				height: 12px;
				width: auto;
			}
		}
	}
	dd {
		@include sc(sp){
			background-color: $bcff;
			padding: 15px 0;
			margin-left: 10px;
			margin-right: 10px;
			font-size: 0;
			letter-spacing: 0;
			.cp	{
				@include fz(12);
				@include notoB;
				line-height: 1;
				letter-spacing: 0.04em;
				margin-bottom: 15px;
			}
			.store {
				display: inline-block;
				vertical-align: middle;
				img {
					height: 44px;
					width: auto;
				}
				+ .store {
					margin-left: 5px;
				}
			}
			.qr {
				display: none;
			}
			.line {
				vertical-align: middle;
				display: block;//inline-block;
				margin-left: 0;
				margin-top: 10px;
				img {
					height: 44px;
					width: auto;
				}
			}
		}
	}
}



/* フォームパート */
/* リセットCSS */
[disabled] {
	cursor:default; 
}
textarea {
	overflow:auto;
}
fieldset {
	border:1px solid silver;
	margin:0 2px;
	padding:.35em .625em .75em;
}
legend {
	box-sizing:border-box;
	color:inherit;
	display:table;
	max-width:100%;
	padding:0;
	white-space:normal;
}
[type="number"] {
	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		height:auto;
	}
}
[type="search"] {
	-webkit-appearance:textfield;
	&::-webkit-search-cancel-button,
	&::-webkit-search-decoration {
		-webkit-appearance:none;
	}
}

/* 単一行テキスト */
.ui-datepicker {
	width: auto;
}
.formArea {
	input[type="text"],
	input[type="tel"],
	input[type="email"] {
		font-size: 1.3rem;//1.4rem;
		border: 1px solid #bababa;
		border-radius: 4px;
		padding: 8px 13px;
		color: $bc02;
		background-color: $bcff;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		-webkit-transition: 0.2s;
		transition: 0.2s;
		width: 126px;
		
		&.cal {
			width: 145px;//180px;
			padding: 8px 13px;//13px 13px 12px;
		}
		
		@media (max-width:640px) {
			width: 100%;
			padding: 6px 13px;
			font-size: 1.6rem;//このサイズ以下になってしまうとiphoneでズームされてしまうので変えるな
			
			&.cal {
				width: 100%;
				line-height: auto;
				padding: 6px 13px;
			}
		}
		&:focus {
			background-color: #FFF;
			-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
		}
		&[data-input-disabled] {
			opacity: .5;
			cursor: default;
		}
		
		&[data-need-ok] {
			background-color: #FFFFFF;
		}
	}
	
	
	.checkbox {
		display: inline-block;
		margin-right: 0;//10px;
		vertical-align: middle;
		
		@media (max-width:850px) {
			display: inline-block;//block;
			margin-right: 0;
			width: calc(100% / 7);
		}
		&[data-input-disabled] {
			opacity: .5;
			cursor: default;
		}
		&[data-input-checked] {
			position: relative;
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: -2px;
				bottom: -2px;
				left: -2px;
				right: -2px;
				background-color: rgba(0,0,0,0);
			}
		}
		&[data-subtxt01] {
			&:after {
				content: attr(data-subtxt01);
				font-size: 1.2rem;
				display: inline-block;
				margin-left: 5px;
				color: #D71F22;
				vertical-align: middle;
			}
		}
		> input {
			&[type] {
				width: 0;
				height: 0;
				opacity: 0;
				html.no-csstransitions & {
					display: inline-block;
					vertical-align: middle;
				}
				&:checked {
					~ label {
						&:after {
							opacity: 1;
							-webkit-transform: rotate(-37deg) scale(1.0);
							-ms-transform: rotate(-37deg) scale(1.0);
							transform: rotate(-37deg) scale(1.0);
						}
					}
				}
			}
			&[data-need-ok] {
				+ label {
					&:before {
						background-color: #FFFFFF;
					}
				}
			}
		}
		> label {
			position: relative;
			cursor: pointer;
			display: inline-block;
			padding: 10px 0;
			vertical-align: middle;
			
			@include sc(sp){
				text-align: center;
			}
			&:before {
				content: '';
				display: block;
				width: 18px;//13px;
				height: 18px;//13px;
				border: 1px solid #D0D0D0;
				background-color: #FFFFFF;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -10px;//-7px;
				color: #656563;
				-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
				box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
				-webkit-transition: 0.2s;
				transition: 0.2s;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				width: 9px;
				height: 3px;
				border-bottom: 2px solid #000;
				border-left: 2px solid #000;
				top: 0;
				bottom: 0px;
				left: 4px;
				margin: auto;
				opacity: 0;
				transform: rotate(-37deg) scale(1.4);
				transition: 0.2s;
			}
			> span {
				@include fz(16);
				@include notoR;
				letter-spacing: 0.04em;
				display: inline-block;
				padding-left: 24px;//20px;
				margin-right: 10px;
				position: relative;
				-webkit-transition: .2s;
				transition: .2s;
				
				@include sc(sp){
					@include fz(14);
					margin-right: 8px;
				}
			}
			.no-touchevents &:hover {
				&:before {
					-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
					box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
				}
			}
		}
	}
	
	.select {
		color: $bc02;
		display: inline-block;
		background-color: $bcff;
		position: relative;
		border-radius: 4px;
		border: 1px solid #bababa;
		-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		box-shadow: 0px 0px 6px rgba(0,0,0,0.0);
		-webkit-transition: 0.2s;
		transition: 0.2s;
		
		max-width: 124px;
		overflow: hidden;
		
		&:before {
			content: '';
			display: block;
			position: absolute;
			right: 11px;
			top: 50%;
			margin-top: -2px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 4px 0 4px;
			border-color: $bc02 transparent transparent transparent;
			-webkit-transition: .2s;
			transition: .2s;
			html.no-csstransitions & {
				display: none;
			}
		}
		&[data-input-disabled] {
			opacity: .5;
			cursor: default;
		}
		&[data-need-ok] {
			background-color: #FFFFFF;
		}
		> select {
			width: 150%;//124px;
			font-size: 1.4rem;
			padding: 8px 27px 8px 13px;//8px 27px 8px 13px;
			position: relative;
			z-index: 1;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			
			
			@media (max-width:640px) {//420
				width: 100%;
				padding: 6px 27px 6px 13px;
				font-size: 1.6rem;//このサイズ以下になってしまうとiphoneでズームされてしまうので変えるな
			}
			html.no-csstransforms & {
				padding: 7px 7px 7px 13px;
			}
			option {
				//text-align: center;
				width: 100%;
				white-space: normal;
			}
		}
		.no-touchevents &:hover {
			-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
			box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
		}
	}
}