@charset "utf-8";

@import
	"../../common/css/sass/variable"
;

/* -----------------------------------------------------------------------------

サポーター＆スタッフ募集

----------------------------------------------------------------------------- */
.contents{
	padding-top: 65px;
	padding-bottom: 105px;
	max-width: 1000px;
	margin: 0 auto;
	
	@include sc(sp){
		padding-top: 40px;
		padding-bottom: 50px;
	}
	
	.sec_tit02 + dl {
		margin-top: 45px;
		
		@include sc(sp){
			margin-top: 20px;
		}
	}
	> dl {
		dt {
			@include fz(18);
			line-height: 1.75;
			letter-spacing: 0.04em;
			margin-bottom: 0.5em;
			@extend %fontbold;
			
			@include sc(sp){
				@include fz(14);
			}
		}
		dd {
			@include fz(16);
			line-height: 1.75;
			letter-spacing: 0.04em;
			
			@include sc(sp){
				@include fz(13);
			}
		}
	}
	dl + .sec_tit02 {
		margin-top: 55px;
	}
	> .link {
		margin-top: 15px;
		margin-bottom: 70px;
		text-align: right;
		
		@include sc(sp){
			margin-bottom: 40px;
			text-align: center;
		}
		> a {
			display: inline-block;
		}
		.mod_btn05 {
			> * {
				@include fz(18);
				line-height: 2.6;//2.8;
				
				@include sc(sp){
					@include fz(16);
					line-height: 2.4;
				}
			}
		}
	}
	
	.sec_tit02 {
		&.regular{
			span {
				&:after {
					width: 153px;
					height: 22px;
					background-image: url(../img/offer/tit_txt_regular.png);
					
					@include sc(sp){
						width: 120px;
						height: 16px;
						background-size: auto 100%;
					}
				}
			}
		}
		&.part{
			span {
				&:after {
					width: 126px;
					height: 22px;
					background-image: url(../img/offer/tit_txt_part.png);
					
					@include sc(sp){
						width: 100px;
						height: 16px;
						background-size: auto 100%;
					}
				}
			}
		}
	}
	
	section + section {
		margin-top: 80px;
	}
}

.box_wrap {
	box-sizing: border-box;
	padding: 15px 0;
	margin-top: 60px;
	border: 10px solid #f7f7f7;
	text-align: center;
	
	@include sc(sp){
		margin-top: 30px;
		border: 5px solid #f7f7f7;
	}
	
	.title {
		@include fz(20);
		@include notoSM;
		color: #7f0e2c;
		
		@include sc(sp){
			@include fz(16);
		}
		+ p {
			@include fz(16);
			margin-top: 45px;
			
			@include sc(sp){
				margin-top: 20px;
				@include fz(13);
			}
		}
	}
	.info_box {
		li {
			@include fz(16);
			
			@include sc(sp){
				@include fz(13);
			}
			a + a {
				&:before {
					content: '/';
					display: inline-block;
					margin: 0 0.5em;
				}
			}
			a[href]{
				text-decoration: underline;
				color: #b6a58b;
				.no-touchevents &:hover {
					text-decoration: none;
				}
			}
		}
	}
}
.inline {
	&.tp02 {
		@include sc(sp){
			margin-top: 0.5em;
			text-align: center;
		}
		dt {
			display: inline-block;
			width: 215px;
			@extend %fontbold;
			
			@include sc(sp){
				display: block;
				width: 100%;
			}
		}
	}
}