@charset "utf-8";

@import
	"../../common/css/sass/variable"
;

/* -----------------------------------------------------------------------------

プライバシーポリシー

----------------------------------------------------------------------------- */
.contents {
	padding-top: 70px;
	padding-bottom: 100px;
	
	max-width: 1000px;
	margin: 0 auto;
	
	@include sc(sp){
		padding-top: 40px;
		padding-bottom: 50px;
	}
}
.rule_box {
	> dt {
		@include fz(20);
		@include notoSM;
		padding-bottom: 5px;
		margin-bottom: 10px;
		color: #7f0e2c;
		border-bottom: 1px solid #7f0e2c;
		
		@include sc(sp){
			@include fz(16);
		}
	}
	> dd {
		@include fz(16);
		line-height: 1.75;
		
		@include sc(sp){
			@include fz(13);
		}
		> * {
			@include fz(16);
			line-height: 1.75;
			
			@include sc(sp){
				@include fz(13);
			}
		}
		p {
			+ p {
				margin-top: 1em;
			}
			+ ol {
				margin-top: 1em;
			}
		}
	}
	+ .rule_box {
		margin-top: 55px;
		
		@include sc(sp){
			margin-top: 25px;
		}
	}
}
.num_list {
	li {
		list-style-type:decimal;
		list-style-position: inside;
		@include fz(16);
		
		@include sc(sp){
			@include fz(13);
		}
	}
	&.tp02 {
		counter-reset:tp02;
		list-style-type: none;
		> li {
			list-style-type: none;
			position: relative;
			padding-left: 2em;
			&:before {
				position: absolute;
				left: 0;
				top: 0;
				content: counter(tp02) ". ";
				counter-increment: tp02;
				font-weight: bold;
				@include fz(18);
				color: #800e2f;
				
				
			}
			.tit {
				font-weight: bold;
				@include fz(18);
			}
			+ li {
				margin-top: 0.5em;
			}
		}
	}
	&.tp03 {
		counter-reset:tp03;
		list-style-type: none;
		
		> li {
			list-style-type: none;
			position: relative;
			padding-left: 2em;
			@include fz(16);
			&:before {
				position: absolute;
				left: 0;
				top: 0;
				content: '0'counter(tp03);
				counter-increment: tp03;
				font-weight: bold;
				@include fz(16);
			}
			&:nth-type-of(9):before {
				content: counter(tp03);
			}
			.tit {
				font-weight: bold;
				@include fz(16);
			}
		}
	}
	&.tp04 {
		counter-reset:tp02;
		list-style-type: none;
		> li {
			list-style-type: none;
			position: relative;
			padding-left: 1.5em;
			@include fz(16);
			&:before {
				position: absolute;
				left: 0;
				top: 0;
				content: counter(tp02) ". ";
				counter-increment: tp02;
				font-weight: bold;
				@include fz(16);
				color: #800e2f;
			}
			.tit {
				font-weight: bold;
				@include fz(16);
			}
			+ li {
				margin-top: 0.5em;
			}
		}
	}
}
.signature_box {
	margin-top: 2em;
	p,dd {
		@include fz(16);
		
		@include sc(sp){
			@include fz(13);
		}
	}
	.inline {
		&:after{
			content: '';
			display: block;
			clear: both;
		}
		dt {
			float: left;
		}
	}
	.wrap {
		.inline {
			dd {
				float: left;
				+ dt {
					&:before {
						content: '／';
						display: inline-block;
						padding: 0 0.5em;
					}
				}
			}
		}
	}
	a[href] {
		color: #a38664;
		text-decoration: underline;
		.no-touchevents &:hover {
			text-decoration: none;
		}
	}
}