@charset "utf-8";

html {
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro","游ゴシック","游ゴシック体","Yu Gothic",YuGothic,verdana,"メイリオ","Meiryo","Osaka",sans-serif;
	text-size-adjust: 100%;
	font-size:62.5%;
	font-weight:400;
	color:$bc02;
	@media screen and (min-width: 1200px) {
		overflow-x: hidden;
	}
	
	//font-feature-settings : "palt";
	&.os-windows {
	}
	/*&.safari {
		font-feature-settings : "pkna";
	}*/
	/*@include sc (sp) {
		font-size:3.2vw;
	}*/
}

body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ol,ul,li,td,th,figure,input,select,button,textarea,fieldset,legend {
	margin:0;
	padding:0;
	letter-spacing:.04em;
	-webkit-font-smoothing: antialiased;
}
p,li,td,dd {
	@include fz(16);

	@include sc(sp) {
		@include fz(13);
	}
}

body {
	//padding-top:120px;//70px;
	width:100%;
	min-width:1200px;//1100px;
	box-sizing:border-box;
	transition:padding .5s;
	background-color:#fff;
	//overflow-x: auto;//hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	&.fix {
	}
	@include sc(sp) {
		min-width:0;
		padding:55px 0 0;//75px 0 0;
		-webkit-overflow-scrolling:touch;
	}
	&.bi_view {
		// padding-bottom:110px;

		@include sc(sp) {
			// padding-bottom:100px;
		}
	}//&.bi_view
}
* {
	backface-visibility:hidden;
}
article,aside,footer,header,main,nav,section,figcaption,figure {
	display:block;
}
input,select,button,textarea {
	appearance: none;
	background: none;
	border:none;
	outline: 0;
	font:inherit;
}
button,input {
	overflow: visible;
}
button,select {
	cursor:pointer;
	text-transform:none;
}
textarea {
	overflow: auto;
}
[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner,button::-moz-focus-inner {
	border:none;
}
fieldset {
	border: 1px solid silver;
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	white-space: normal;
}
progress {
	display: inline-block;
	vertical-align: baseline;
}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
select::-ms-expand {
	display: none;
}
img {
	-ms-interpolation-mode:bicubic;
	border-style:none;
	@include sc(sp) {
		max-width:100%;
		width:auto;
		height:auto;
	}
}
svg:not(:root) {
	overflow:hidden;
}
svg {
	stroke-width:0.2;
	@include svgfs($bc01);
	transition:.5s;
}
hr{
	box-sizing: border-box;
	height:0;
	overflow:visible;
}
b,strong {
	font-weight: inherit;
	font-weight: bolder;
}
a {
	outline:0;
	text-decoration:none;
	color: inherit;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
li {
	list-style:none;
}
sub,sup {
	position:relative;
	vertical-align:baseline;
	line-height: 0;
}
sub {
	bottom:-.25em;
}
sup {
	top:-.5em;
}
pre {
	font-family: monospace;
	font-size: 1em;
}
abbr[title] {
	border-bottom: 0 0;
	text-decoration: underline;
	text-decoration: underline dotted;
}
code,kbd,samp {
	font-family: monospace;
	font-size: 1em;
}
dfn {
	font-style: italic;
}
audio,video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
details,menu {
	display: block;
}
summary {
	display: list-item;
}
canvas {
	display: inline-block;
}
[hidden],template {
	display: none;
}
.touchevents * {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
[data-autoheight],
[data-pc-autoheight],
[data-sp-autoheight] {
	transition: none!important;
}
/*video {
	@include sc(sp) {
		display:none !important;
	}
}*/


// data-sc （メディアクエリごとの表示設定）
[data-sc-pc] {
	@include sc(sp) {
		display:none!important;
	}
}
[data-sc-onlyPc] {
	@include sc(tab) {
		display:none!important;
	}
}
[data-sc-tab] {
	@include sc(onlyPc) {
		display:none!important;
	}
}
[data-sc-onlyTab] {
	@include sc(onlyPc) {
		display:none!important;
	}
	@include sc(sp) {
		display:none!important;
	}
}
[data-sc-sp] {
	@include sc(pc) {
		display:none!important;
	}
}

.mod_main {
	overflow:hidden;
	//min-width:1200px;
	padding-top: 120px;//header height
	@include sc(sp){
		padding-top: 0;
	}
}
.ph {
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
}

//mod_mainのipadの1pxズレ対策
.device-tablet .mod_main {
	width:calc(100% + 1px);
}

.no-touchevents [data-lf] {
	filter:opacity(0);
	transition:filter 1s;
	&[style],&[src] {
		filter:opacity(1);
	}
	&.load_view {
		filter:opacity(1);
	}
}
.touchevents [data-lf],.ie [data-lf] {
	opacity:0;
	transition:opacity 1s;
	&[style] {
		opacity:1;
	}
	&.load_view {
		opacity:1;
	}
}

/* ---------------------------------------------------------

_variableをクラス化

--------------------------------------------------------- */

.mod_wrap01 {
	@extend %mod_w01;
}
.mod_wrap02 {
	@extend %mod_w02;
}
.mod_wrap03 {
	@extend %mod_w03;
}
.mod_wrap04 {
	@extend %mod_w04;
}
.mod_wrap05 {
	@extend %mod_w05;
}
.fontbold {
	@extend %fontbold;
}
.clearfix {
	@extend %clearfix;
}
.vertmiddle {
	@extend %vertmiddle;
}
.rightarr {
	@extend %rightarr;
}
.ph {
	@extend %ph;
}

.en {//Cinzelレギュラー
	@include en;
}
.alex {//AlexBrushレギュラー
	@include alex;
}
.notoL {//noto sans cjkjp L
	@include notoL;
}
.notoR {//noto sans cjkjp R
	@include notoR;
}
.notoM {//noto sans cjkjp M
	@include notoM;
}
.notoB {//noto sans cjkjp B
	@include notoB;
}
.notoSL {//noto serif cjkjp L
	@include notoSL;
}
.notoSR {//noto serif cjkjp R
	@include notoSR;
}
.notoSM {//noto serif cjkjp M
	@include notoSM;
}
.notoSB {//noto serif cjkjp B
	@include notoSB;
}
.min {//ヒラギノ明朝
	@include min;
}

