@charset "utf-8";

// メディアクエリ
$sc_pc: 641px;
$sc_onlyPc: 1021px;
$sc_tab: 1020px;
$sc_sp: 640px;
$sc_spMin: 350px;
$sc_pcW: 1201px;
$sc_pcMin: 1400px;

@mixin sc($point){
	@if $point == pc{
		@media screen and (min-width:$sc_pc){
			@content;
		}
	}@else if $point == onlyPc{
		@media screen and (min-width:$sc_onlyPc){
			@content;
		}
	}@else if $point == pcMin{
		@media screen and (max-width:$sc_pcMin){
			@content;
		}
	}@else if $point == pcW{
		@media screen and (min-width:$sc_pcW){
			@content;
		}
	}@else if $point == tab{
		@media screen and (max-width:$sc_tab){
			@content;
		}
	}@else if $point == sp{
		@media screen and (max-width:$sc_sp){
			@content;
		}
	}@else if $point == spMin{
		@media screen and (max-width:$sc_spMin){
			@content;
		}
	}
}

//フォントサイズrem対応
@mixin fz($size){
	font-size: $size + px;
	font-size: ($size / 10) * 1rem;
}

//ベースカラーセット
$bc00: #000;
$bc01: #282828;
$bc02: #3d3935;
$bc03: #56504a;
$bc04: #999999;
$bc05: #a8a8a8;
$bc06: #fafafa;
$bc07: #edece8;
$bc08: #e5e4dd;
$bc09: #f7f7f7;
$bcff: #fff;

$bcr01: #270006;//header footer
$bcr02: #350008;//#360009;//header footer
$bcr03: #7f0e2c;//赤グラデ左
$bcr04: #490515;//赤グラデ右
$bcr05: #3b1a1f;//mvbg
$bcr06: #7e0d2b;//新着
$bcr07: #331a08;//areaList リンク
$bcr08: #630008;//sec_tit　グラデ右
$bcr09: #31020b;//sec_tit　グラデ左

$bcy01: #a38664;//btn shadow
$bcy02: #ad8763;//footer tel
$bcy03: #c6b175;//金ボタングラデ上
$bcy04: #a38664;//金ボタングラデ下
$bcy05: #d2c2b1;
$bcy06: #e8e6df;
$bcy07: #dfc284;
$bcy08: #ae864e;//areaList リンクグラデ
$bcy09: #f6f4ed;//パーティbgc
$bcy10: #c8b16c;//パーティsearch titボーダー
$bcy11: #ede9dc;//mvbg sp
$bcy12: #a28563;//more btn

//ブラウザのsvgがデザインデータより少々細く見えるのでstrokeで調整、一括色指定用
@mixin svgfs($color){
	fill:$color;
	stroke:$color;
}

// コンテンツ幅
$mod_w01: 1280px;
$mod_w01_min: 1200px;
$mod_w_pd01: 40px;
$mod_w_pd01_sp: 16px;
$mod_w01_sp: calc(100% - #{$mod_w_pd01_sp*2});

$mod_w02: 1940px;
$mod_w02_min: 1200px;
$mod_w_pd02: 20px;
$mod_w_pd02_sp: 16px;
$mod_w02_sp: calc(100% - #{$mod_w_pd02_sp*2});

$mod_w03: 1280px;
$mod_w03_min: 1140px;
$mod_w_pd03: 70px;
$mod_w_pd03_sp: 16px;
$mod_w03_sp: calc(100% - #{$mod_w_pd03_sp*2});

$mod_w04: 1200px;//1280px;
$mod_w04_min: 1000px;
$mod_w_pd04: 92px;//140px;
$mod_w_pd04_sp: 16px;
$mod_w04_sp: calc(100% - #{$mod_w_pd04_sp*2});

$mod_w05: 1280px;
$mod_w05_min: 1200px;
$mod_w_pd05: 0;
$mod_w_pd05_sp: 16px;
$mod_w05_sp: calc(100% - #{$mod_w_pd05_sp*2});

// コンテンツ幅セット
%mod_w01 {
	margin:0 auto;
	padding-left:$mod_w_pd01;
	padding-right:$mod_w_pd01;
	max-width:$mod_w01;
	width:100%;
	min-width:$mod_w01_min;
	box-sizing:border-box;

	@include sc(sp) {
		width:auto;
		min-width:0;
		padding-left:$mod_w_pd01_sp;
		padding-right:$mod_w_pd01_sp;
	}
}
%mod_w02 {
	margin:0 auto;
	padding-left:$mod_w_pd02;
	padding-right:$mod_w_pd02;
	max-width:$mod_w02;
	width:100%;
	min-width:$mod_w02_min;
	box-sizing:border-box;

	@include sc(sp) {
		width:auto;
		min-width:0;
		padding-left:$mod_w_pd02_sp;
		padding-right:$mod_w_pd02_sp;
	}
}
%mod_w03 {
	margin:0 auto;
	padding-left:$mod_w_pd03;
	padding-right:$mod_w_pd03;
	max-width:$mod_w03;
	width:100%;
	min-width:$mod_w03_min;
	box-sizing:border-box;

	@include sc(sp) {
		width:auto;
		min-width:0;
		padding-left:$mod_w_pd03_sp;
		padding-right:$mod_w_pd03_sp;
	}
}
%mod_w04 {
	margin:0 auto;
	padding-left:$mod_w_pd04;
	padding-right:$mod_w_pd04;
	max-width:$mod_w04;
	width:100%;
	min-width:$mod_w04_min;
	box-sizing:border-box;

	@include sc(sp) {
		width:auto;
		min-width:0;
		padding-left:$mod_w_pd04_sp;
		padding-right:$mod_w_pd04_sp;
	}
}
%mod_w05 {
	margin:0 auto;
	padding-left:$mod_w_pd05;
	padding-right:$mod_w_pd05;
	max-width:$mod_w05;
	width:100%;
	min-width:$mod_w05_min;
	box-sizing:border-box;

	@include sc(sp) {
		width:auto;
		min-width:0;
		padding-left:$mod_w_pd05_sp;
		padding-right:$mod_w_pd05_sp;
	}
}


//デバイスフォントのボールド：アンドロイド対策
%fontbold {
	font-weight:bold;
	@include sc(sp) {
		font-weight:normal;
		-webkit-text-stroke:0.4px;
	}
}

// clearfix
%clearfix {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}


//縦中央揃え
%vertmiddle {
	&:before {
		content:'';
		display:inline-block;
		height:100%;
		vertical-align:middle;
	}
	& > * {
		display:inline-block;
		vertical-align:middle;
	}//& > *
}


//右矢印
%rightarr {
	position:relative;
	&:after {
		content:"";
		display:block;
		margin:auto 0;
		border-top:2px solid;
		border-right:2px solid;
		width:6px;
		height:6px;
		position:absolute;
		top:0;
		bottom:0;
		right:16px;
		transform:rotate(45deg) skew(8deg,8deg);
		transition:transform .5s,opacity .5s;
		@include sc(sp) {
		}
	}
	.no-touchevents &:hover:after {
		transform:rotate(45deg) translate(3px,-3px);
	}//.no-touchevents &:hover:after
}//%rightarr

@mixin deg($deg) {
	transform:rotate($deg+deg);
	& > * {
		transform:rotate(-$deg+deg)
	}//& > *
}

//Backgroundの画像
%ph {
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}


//Cinzelフォント
@mixin en($en:400) {
	font-family: 'Cinzel', serif;
	font-weight:$en;
}

//AlexBrushフォント
@mixin alex($alex:400) {
	font-family: 'Alex Brush', cursive;
	font-weight:$alex;
}


//NotoSans CJKJP
@font-face {
	font-family: 'noto_sans';
		src:url('/common/font/NotoSansJP-Light.woff') format('woff'),
						url('/common/font/NotoSansJP-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'noto_sans';
		src:url('/common/font/NotoSansJP-Regular.woff') format('woff'),
						url('/common/font/NotoSansJP-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'noto_sans';
		src:url('/common/font/NotoSansJP-Medium.woff') format('woff'),
						url('/common/font/NotoSansJP-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'noto_sans';
		src:url('/common/font/NotoSansJP-Bold.woff') format('woff'),
						url('/common/font/NotoSansJP-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@mixin notoL($noto:300) {
	font-family: 'noto_sans';
	font-weight:$noto;
}
@mixin notoR($noto:400) {
	font-family: 'noto_sans';
	font-weight:$noto;
}
@mixin notoM($noto:500) {
	font-family: 'noto_sans';
	font-weight:$noto;
}
@mixin notoB($noto:700) {
	font-family: 'noto_sans';
	font-weight:$noto;
}


//NotoSerif CJKJP
@font-face {
	font-family: 'noto_serif';
		src:url('/common/font/NotoSerifJP-Light.woff') format('woff'),
						url('/common/font/NotoSerifJP-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'noto_serif';
		src:url('/common/font/NotoSerifJP-Regular.woff') format('woff'),
						url('/common/font/NotoSerifJP-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'noto_serif';
		src:url('/common/font/NotoSerifJP-Medium.woff') format('woff'),
						url('/common/font/NotoSerifJP-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'noto_serif';
		src:url('/common/font/NotoSerifJP-Bold.woff') format('woff'),
						url('/common/font/NotoSerifJP-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@mixin notoSL($noto:300) {
	font-family: 'noto_serif';
	font-weight:$noto;
}
@mixin notoSR($noto:400) {
	font-family: 'noto_serif';
	font-weight:$noto;
}
@mixin notoSM($noto:500) {
	font-family: 'noto_serif';
	font-weight:$noto;
}
@mixin notoSB($noto:700) {
	font-family: 'noto_serif';
	font-weight:$noto;
}



//ヒラギノ明朝
@mixin min($min:400) {
	font-family: "ヒラギノ明朝 ProN W3","Hiragino Mincho ProN",YuMincho,'游明朝',"HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
	font-weight:$min;
}

//ヒラギノゴシック
@mixin go($go:400) {
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro","游ゴシック","游ゴシック体","Yu Gothic",YuGothic,verdana,"メイリオ","Meiryo","Osaka",sans-serif;
	font-weight:$go;
}


//グラデーションセット
@mixin gradient($start-color, $end-color, $orientation) {
	background: $start-color;
	@if $orientation == vertical {
			// vertical
			background: -webkit-linear-gradient($start-color 0%, $end-color 100%);
			background: -o-linear-gradient($start-color 0%, $end-color 100%);
			background: linear-gradient($start-color 0%, $end-color 100%);
			//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start-color}', endColorstr='#{$end-color}',GradientType=0 );
	}
	@else if $orientation == horizontal {
			// horizontal
			background: -moz-linear-gradient(left,  $start-color 0%, $end-color 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,$start-color), color-stop(100%,$end-color));
			background: -webkit-linear-gradient(left,  $start-color 0%,$end-color 100%);
			background: -o-linear-gradient(left,  $start-color 0%,$end-color 100%);
			background: -ms-linear-gradient(left,  $start-color 0%,$end-color 100%);
			background: linear-gradient(to right,  $start-color 0%,$end-color 100%);
			//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start-color}', endColorstr='#{$end-color}',GradientType=1 );
	}
	@else {
			// radial
			background: -moz-radial-gradient(center, ellipse cover,  $start-color 0%, $end-color 100%);
			background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$start-color), color-stop(100%,$end-color));
			background: -webkit-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
			background: -o-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
			background: -ms-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
			background: radial-gradient(ellipse at center,  $start-color 0%,$end-color 100%);
			//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start-color}', endColorstr='#{$end-color}',GradientType=1 );
	}
}
